@page
@model GanjooRazor.Areas.User.Pages.AwaitingCommentsModel
@using DNTPersianUtils.Core
@{
    Layout = "_UserPanelLayout";
    ViewData["Title"] = "حاشیه‌های در انتظار تأیید";
    await GanjooRazor.Utils.GanjoorSessionChecker.ApplyPermissionsToViewData(Request, Response, ViewData);
    string color = "gray";
}

<h1>@ViewData["Title"]</h1>
@if (Model.LastError != "")
{
    <h2>@Model.LastError</h2>
}
else
{
    <p style="text-align:center">
        @foreach (var paginationLink in Model.PaginationLinks)
        {
            if (!string.IsNullOrEmpty(paginationLink.Url))
            {
                <a href="@paginationLink.Url">@paginationLink.Name</a>
            }
            else
            {
                @paginationLink.Name
            }
        }
    </p>

    <script>
        function deleteAwaitingComment(commentId) {
            if (!confirm('آیا از حذف این حاشیه اطمینان دارید؟'))
                return;

            var url = '?handler=Comment';

            $.ajax({
                type: "DELETE",
                url: url,
                data: {
                    id: commentId
                },
                error: function () {
                alert('خطا رخ داد.');
                },
                success: function () {
                    var commentBlockId = '#comment-' + commentId;
                    $(commentBlockId).remove();
                },
            });

        }

        function publishAwaitingComment(commentId) {
           if (!confirm('آیا از انتشار این حاشیه اطمینان دارید؟'))
                return;

            var url = '?handler=Approve';

            $.ajax({
                type: "PUT",
                url: url,
                data: {
                    id: commentId
                },
                error: function () {
                alert('خطا رخ داد.');
                },
                success: function () {
                    var commentBlockId = '#comment-' + commentId;
                    $(commentBlockId).remove();
                },
            });
        }

        function switchOption(start) {
            if(start == false){

                document.getElementById('switch-tracking-button').style.visibility = 'hidden';
                document.getElementById('processing').innerHTML = 'در حال پردازش ...';

                $.ajax({
                type: "POST",
                url: '?handler=StopKeeping',
                error: function() {
                    alert('خطا رخ داد.');
                    location.reload();
                },
                success: function () {
                   location.reload();
                },
                });
                return;
            }

            document.getElementById('switch-tracking-button').style.visibility = 'hidden';
            document.getElementById('processing').innerHTML = 'در حال پردازش ...';

            $.ajax({
                type: "POST",
                url: '?handler=StartKeeping',
                error: function() {
                    alert('خطا رخ داد.');
                    location.reload();
                },
                success: function () {
                   location.reload();
                },
                });
        }
    </script>

    <div class="related-images-frame">
        @if (Model.KeepFirstTimeUsersComments)
        {
            <p style="text-align:center; color: green">
                نگه داشتن حاشیه‌های حاشیه‌گذاران بدون سابقه فعال است.
            </p>

            <p>
                <a role="button" onclick="switchOption(false)" id="switch-tracking-button" class="pagebutton">غیرفعال کردن</a>
            </p>

            <p id="processing">

            </p>

        }
        else
        {
            <p>
                نگه داشتن حاشیه‌های حاشیه‌گذاران بدون سابقه غیرفعال است.
            </p>

            <p>
                <a role="button" onclick="switchOption(true)" id="switch-tracking-button" class="pagebutton">فعال کردن</a>
            </p>

            <p id="processing">

            </p>


        }

    </div>

    @if (Model.Comments.Count == 0)
    {
        <p>
            موردی وجود ندارد.
        </p>
    }

    @foreach (var comment in Model.Comments)
    {
        if (color == "gray")
            color = "darkslategray";
        else
            color = "gray";

        <div style="background-color:@color" id="comment-@comment.Id">
            <blockquote>
                <div id="comment-text-@comment.Id">
                    @Html.Raw(comment.HtmlComment)
                </div>
                <p>
                    @comment.AuthorName <small>در @comment.CommentDate.ToFriendlyPersianDateTextify()</small> دربارهٔ <a href="@comment.Poem.UrlSlug#comment-@comment.Id">@comment.Poem.Title</a>
                </p>
                <p>
                    <a href="/Admin/ExamineUser?id=@comment.UserId">#</a>
                </p>
            </blockquote>
            <p>
                <a role="button" onclick="deleteAwaitingComment(@comment.Id)" class="actionlink" title="حذف حاشیه"><i class="noindent-info-button delete-icon"></i></a>
                <a role="button" onclick="publishAwaitingComment(@comment.Id)" class="actionlink" title="انتشار حاشیه"><i class="noindent-info-button done-icon"></i></a>
            </p>
        </div>


        <hr />
    }

    <p style="text-align:center">
        @foreach (var paginationLink in Model.PaginationLinks)
        {
            if (!string.IsNullOrEmpty(paginationLink.Url))
            {
                <a href="@paginationLink.Url">@paginationLink.Name</a>
            }
            else
            {
                @paginationLink.Name
            }
        }
    </p>


}
