@page
@model GanjooRazor.Areas.User.Pages.CatEditorModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_UserPanelLayout";
    ViewData["Title"] = "ویرایشگر متن بخش";
    await GanjooRazor.Utils.GanjoorSessionChecker.ApplyPermissionsToViewData(Request, Response, ViewData);
}
<h1>@ViewData["Title"]</h1>

<div class="notice">
    <p>لطفاً از گنجاندن ادعاهای قومیتی، جغرافیایی یا مذهبی یا هر گونه ادعایی که روی آنها اجماع وجود ندارد یا موجب بحث و اعتراض می‌شود در زندگینامه‌های شاعران خودداری کنید.</p>
    <p>در گنجاندن پیوند به منابع حتی‌الامکان از ویکیپدیا یا وبگاه‌های مشهور با عمر بالا بدون وجود تبلیغات در آنها استفاده کنید. ارجاع به وبگاه‌های دیگر غیر از آن که ممکن است به دلیل  آن که تبلیغاتی فرض شود مورد قبول قرار نمی‌گیرد در طولانی مدت ممکن است مبدل به پیوند مرده شود.</p>
    <p>از آنجا که متن پس از حذف پیوندها به صورت صرفاً متنی در نرم‌افزارهای جانبی مورد استفاده قرار می‌گیرد متن پیوندهای احتمالی را به صورتی تنظیم کنید که با حذف پیوند ناقص نشود.</p>

</div>



@if (Model.MyLastEdit != null)
{
    <script>
            function deleteCatCorrection(id) {
            if (!confirm('آیا از حذف تغییرات پیشنهادی اطمینان دارید؟'))
                return;

            $('#deletecorrections').hide();
            $('#saving').text('در حال ذخیره ...');

            var url = '?handler=DeleteCatCorrection';

            $.ajax({
                type: "POST",
                url: url,
                data: {
                    catid: id,
                },
                error: function () {
                    alert('خطا رخ داد.')
                },
                success: function () {
                    location.reload(true);
                },

            });
        }
    </script>
   
    <table>
        <tr>
            <td colspan="2">ویرایشهای بررسی نشدهٔ من</td>
        </tr>

        <tr>
            <td>متن اولیه</td>
            <td>تغییرات من</td>
        </tr>

        @if (Model.MyLastEdit.Description != null)
        {
            <tr>
                <td colspan="2">
                    تغییرات متن
                </td>
            </tr>
            <tr>
                <td>
                    <p class="red-color" id="title-lastedit-original">@Model.MyLastEdit.OriginalDescription</p>
                </td>
                <td>
                    <p class="green-color" id="title-lastedit-edited">@Model.MyLastEdit.Description</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p id="title-lastedit-compare">@Model.MyLastEdit.OriginalDescription</p>
                    <script>
                        $(document).ready(function () {
                            compareCorrectionBlocks('title-lastedit-original', 'title-lastedit-edited', 'title-lastedit-compare');
                        });
                    </script>
                </td>
            </tr>
        }
        @if (!string.IsNullOrEmpty(Model.MyLastEdit.Note))
        {
            <tr>
                <td>یادداشت:</td>
                <td>
                    @Model.MyLastEdit.Note
                </td>
            </tr>
        }

        <tr>
            <td colspan="2" class="td-button-container">
                <a role="button" id="deletecorrections" class="editor-button background-red" onclick="deleteCatCorrection(@Model.PageInformation.PoetOrCat.Cat.Id)">انصراف و حذف این ویرایش</a>
            </td>
        </tr>

    </table>
}

<form method="post">
    <table style="max-width:100%; width:100%; margin:0" class="noborder">
        @if (Model.PageInformation != null)
        {
            <tr><td><a role="button" target="_blank" href="@Model.PageInformation.FullUrl" class="actionlink">@Model.PageInformation.FullTitle</a></td></tr>
        }

        <tr>
            <td>
                <span class="inputlabel">متن: </span>
                <input asp-for="Correction.CatId" type="hidden" />
            </td>
        </tr>
        <tr>
            <td>
                <textarea asp-for="Correction.DescriptionHtml" class="inputTextarea editor" rows="20" style="width:100%"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <span class="inputlabel">توضیح این ویرایش: </span>
            </td>
        </tr>
        <tr>
            <td>
                <input asp-for="Correction.Note" />

            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" name="approve" id="approve" style="width:100%;color:white;background-color:green">ذخیره</button>
            </td>
        </tr>
    </table>
</form>
