@page
@model GanjooRazor.Areas.User.Pages.EditorModel
@using DNTPersianUtils.Core
@{
    Layout = "_Layout";
    ViewData["Title"] = "ویرایشگر شعر";
}
<h1>@ViewData["Title"]</h1>

@if (!string.IsNullOrEmpty(Model.FatalError))
{
    <p>@Model.FatalError</p>
}
else
{
<table>
    @foreach (var verse in Model.PageInformation.Poem.Verses)
    {
        <tr>
            <td>
                بیت @Model.GetVerseCoupletNumber(verse).ToPersianNumbers()
            </td>
        </tr>
        <tr>
            <td>
                مصرع @verse.VOrder.ToPersianNumbers()
            </td>
        </tr>
        <tr>
            <td>
                نوع: @Model.GetVersePosition(verse)
            </td>
        </tr>
        <tr>
            <td>
                متن فعلی:
            </td>
        </tr>
        <tr>
            <td>
                <p id="original-@($"{verse.Id}")">@verse.Text</p>
            </td>
        </tr>
        <tr>
            <td>
                ویراستهٔ شما:
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" id="id-@($"{verse.Id}")" name="name-@($"{verse.Id}")" value="@verse.Text" size="100" oninput="editorcompare(@verse.Id)" />
            </td>
        </tr>
        <tr>
            <td>
                تغییرات:
            </td>
        </tr>
        <tr>
            <td>
                <pre id="compare-@($"{verse.Id}")">@verse.Text</pre>
            </td>
        </tr>

    }
</table>

}