@page
@model GanjooRazor.Areas.User.Pages.FinalizeImagesModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_UserPanelLayout";
    ViewData["Title"] = "نهایی‌سازی تصاویر پیشنهادی";
    await GanjooRazor.Utils.GanjoorSessionChecker.ApplyPermissionsToViewData(Request, Response, ViewData);
}
<h1>@ViewData["Title"]</h1>

@if (Model.LastError != "")
{
    <h2>@Model.LastError</h2>
}



@if (Model.MainImage != null)
{
<table style="width:100%" class="noborder">
    <tr>
        <td colspan="2">
            <a href="@Model.MainImage.GanjoorUrl" target="_blank">@Model.MainImage.GanjoorTitle</a>
        </td>
    </tr>
    <tr>
        <td>
            <img src="@Model.MainImage.ExternalNormalSizeImageUrl" />
        </td>
        <td>
            @if (Model.PreviouslyLinkedImage != null)
            {
                    <img src="@Model.PreviouslyLinkedImage.ExternalNormalSizeImageUrl" />
            }
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <form method="post">
                <input type="hidden" asp-for="ImageLinkFinalizeModel.Id" />
                <input asp-for="ImageLinkFinalizeModel.DisplayOnPage" />
                <button type="submit" name="approve" id="approve" style="width:100%;color:white;background-color:green">تأیید</button>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            تعداد کل:
        </td>
        <td>
            @Model.TotalCount
        </td>
    </tr>
</table>
}