@page
@model GanjooRazor.Areas.User.Pages.HistoryModel
@using DNTPersianUtils.Core
@{
    Layout = "_Layout";
    ViewData["Title"] = "ادامهٔ مطالعه";
    await GanjooRazor.Utils.GanjoorSessionChecker.ApplyPermissionsToViewData(Request, Response, ViewData);
    string color = "gray";
}
<h1>@ViewData["Title"]</h1>
@if (Model.LastError != "")
{
    <h2>@Model.LastError</h2>
}
else
{
    <script>
        function deleteHistoryItem(historyItemId) {
            if (!confirm('آیا از حذف این مورد اطمینان دارید؟'))
                return;

            var url = '?handler=HistoryItem';

            $.ajax({
                type: "DELETE",
                url: url,
                data: {
                    id: historyItemId
                },
                success: function () {
                    var notificationBlockId = '#history-item-' + historyItemId;
                    $(notificationBlockId).remove();
                },
            });
        }

        function switchTracking(start) {
            if(start == false){
                if (!confirm('آیا از توقف ذخیرهٔ تاریخچه و حذف تاریخچهٔ بازدیدها اطمینان دارید؟'))
                {
                    return;
                }

                $.ajax({
                type: "POST",
                url: '?handler=StopTracking',
                error: function() {
                    alert('خطا رخ داد.');
                },
                success: function () {
                   location.reload();
                },
                });
                return;
            }

            $.ajax({
                type: "POST",
                url: '?handler=StartTracking',
                error: function() {
                    alert('خطا رخ داد.');
                },
                success: function () {
                   location.reload();
                },
                });
        }
    </script>
    <p style="text-align:center">
        @foreach (var paginationLink in Model.PaginationLinks)
        {
            if (!string.IsNullOrEmpty(paginationLink.Url))
            {
                <a href="@paginationLink.Url">@paginationLink.Name</a>
            }
            else
            {
                @paginationLink.Name
            }
        }
    </p>

    @if (Model.TrackingIsEnabled)
    {
        <p style="text-align:center; color: green">
            ذخیرهٔ تاریخچهٔ بازدیدهای شما فعال است.
        </p>

        <p>
            <a role="button" style="color: red" onclick="switchTracking(false)" class="actionlink">توقف ذخیرهٔ تاریخچه</a>
        </p>

        <p>
            <span style="color:red">تذکر مهم: </span> توقف ذخیرهٔ تاریخچه باعث حذف تاریخچهٔ ذخیره شده تا به حال می شود.
        </p>

    }
    else
    {
        <p>
            ذخیرهٔ تاریخچهٔ بازدیدهای شما غیرفعال است.
        </p>

        <p>
            <a role="button" style="color: green" onclick="switchTracking(true)" class="actionlink">فعالسازی ذخیرهٔ تاریخچه</a>
        </p>

        <p>
            تاریخچهٔ بازیدهای شما فقط به به خود شما نمایش داده می‌شود و از آن استفادهٔ دیگری نمی‌شود. هر زمان که بخواهید می‌توانید ذخیرهٔ تاریخچه را متوقف کنید و تاریخچهٔ بازدیدهایتان را پاک کنید.
        </p>
    }



    @foreach (var historyItem in Model.HistoryItems)
    {
        if (color == "gray")
            color = "white";
        else
            color = "gray";

        <div style="background-color:@color" id="history-item-@historyItem.Id">
            <blockquote>
                <p>
                    از <a href="@($"{historyItem.PoemFullUrl}#bn{historyItem.CoupletIndex + 1}")">@historyItem.PoemFullTitle</a> <small>در @historyItem.DateTime.ToFriendlyPersianDateTextify()</small>
                </p>
                <a href="@($"{historyItem.PoemFullUrl}#bn{historyItem.CoupletIndex + 1}")">
                    <img src="@historyItem.PoetImageUrl" style="width:unset;display:unset;border:unset" alt="@historyItem.PoetName" />
                </a>
                <div id="historyItem-text-@historyItem.Id">
                    <p>
                        @historyItem.VerseText
                    </p>

                    @if (!string.IsNullOrEmpty(historyItem.Verse2Text))
                    {
                        <p>
                            @historyItem.Verse2Text
                        </p>
                    }

                </div>
            </blockquote>
            <p>
                <a role="button" onclick="deleteHistoryItem('@historyItem.Id')" class="actionlink" title="حذف">🗑</a>
            </p>

        </div>


        <hr />
    }

    <p style="text-align:center">
        @foreach (var paginationLink in Model.PaginationLinks)
        {
            if (!string.IsNullOrEmpty(paginationLink.Url))
            {
                <a href="@paginationLink.Url">@paginationLink.Name</a>
            }
            else
            {
                @paginationLink.Name
            }
        }
    </p>


}
