@page
@model GanjooRazor.Areas.User.Pages.HistoryModel
@using DNTPersianUtils.Core
@{
    Layout = "_Layout";
    ViewData["Title"] = "ادامهٔ مطالعه";
    await GanjooRazor.Utils.GanjoorSessionChecker.ApplyPermissionsToViewData(Request, Response, ViewData);
    string color = "gray";
}
<h1>@ViewData["Title"]</h1>
@if (Model.LastError != "")
{
    <h2>@Model.LastError</h2>
}
else
{
    <script>
        function deleteHistoryItem(historyItemId) {
            if (!confirm('آیا از حذف این مورد اطمینان دارید؟'))
                return;

            var url = '?handler=HistoryItem';

            $.ajax({
                type: "DELETE",
                url: url,
                data: {
                    id: historyItemId
                },
                success: function () {
                    var notificationBlockId = '#history-item-' + historyItemId;
                    $(notificationBlockId).remove();
                },
            });
        }

        function switchTracking(start) {
            if(start == false){
                if (!confirm('آیا از توقف ذخیرهٔ تاریخچه و حذف تاریخچهٔ بازدیدها اطمینان دارید؟'))
                {
                    return;
                }

                document.getElementById('switch-tracking-button').style.visibility = 'hidden';
                document.getElementById('processing').innerHTML = 'در حال پردازش ...';

                $.ajax({
                type: "POST",
                url: '?handler=StopTracking',
                error: function() {
                    alert('خطا رخ داد.');
                    location.reload();
                },
                success: function () {
                   location.reload();
                },
                });
                return;
            }

            document.getElementById('switch-tracking-button').style.visibility = 'hidden';
            document.getElementById('processing').innerHTML = 'در حال پردازش ...';

            $.ajax({
                type: "POST",
                url: '?handler=StartTracking',
                error: function() {
                    alert('خطا رخ داد.');
                    location.reload();
                },
                success: function () {
                   location.reload();
                },
                });
        }
    </script>
    <p style="text-align:center">
        @foreach (var paginationLink in Model.PaginationLinks)
        {
            if (!string.IsNullOrEmpty(paginationLink.Url))
            {
                <a href="@paginationLink.Url">@paginationLink.Name</a>
            }
            else
            {
                @paginationLink.Name
            }
        }
    </p>

    <div class="related-images-frame">
        @if (Model.TrackingIsEnabled)
        {
            <p style="text-align:center; color: green">
                ذخیرهٔ تاریخچهٔ بازدیدهای شما فعال است.
            </p>

            <p>
                <a role="button" onclick="switchTracking(false)" id="switch-tracking-button" class="pagebutton">توقف ذخیرهٔ تاریخچه</a>
            </p>

            <p id="processing">

            </p>

            <p>
                <span style="color:red">تذکر مهم: </span> توقف ذخیرهٔ تاریخچه باعث حذف تاریخچهٔ ذخیره شده تا به حال می شود.
            </p>

        }
        else
        {
            <p>
                ذخیرهٔ تاریخچهٔ بازدیدهای شما غیرفعال است.
            </p>

            <p>
                <a role="button" onclick="switchTracking(true)" id="switch-tracking-button" class="pagebutton">فعالسازی ذخیرهٔ تاریخچه</a>
            </p>

            <p id="processing">

            </p>

            <p>
                تاریخچهٔ بازیدهای شما فقط به به خود شما نمایش داده می‌شود و از آن استفادهٔ دیگری نمی‌شود. هر زمان که بخواهید می‌توانید ذخیرهٔ تاریخچه را متوقف کنید و تاریخچهٔ بازدیدهایتان را پاک کنید.
            </p>
        }

        <p>
            <span style="color:red">نکته: </span> اگر روی دستگاههای متعدد به گنجور وارد شده‌اید توقف ذخیرهٔ تاریخچه روی همهٔ آنها اعمال می‌شود اما فعالسازی ذخیرهٔ تاریخچه مستلزم آن است که روی هر دستگاه دیگری غیر از دستگاهی که فعالسازی روی آن انجام شده یک بار از این صفحه بازدید کنید یا از حساب کاربری خود در گنجور خارج و مجدداً به آن وارد شوید.
        </p>
    </div>





    @foreach (var historyItem in Model.HistoryItems)
    {
        if (color == "gray")
            color = "white";
        else
            color = "gray";

        <div style="background-color:@color" id="history-item-@historyItem.Id">
            <blockquote>
                <p>
                    <a href="@historyItem.PoemFullUrl">@historyItem.PoemFullTitle</a> <small>در @historyItem.DateTime.ToFriendlyPersianDateTextify()</small>
                </p>
                <a href="@historyItem.PoemFullUrl">
                    <img src="@historyItem.PoetImageUrl" style="width:unset;display:unset;border:unset" alt="@historyItem.PoetName" />
                </a>
                <div id="historyItem-text-@historyItem.Id">
                    <p>
                        @historyItem.VerseText
                    </p>

                    @if (!string.IsNullOrEmpty(historyItem.Verse2Text))
                    {
                        <p>
                            @historyItem.Verse2Text
                        </p>
                    }

                </div>
            </blockquote>
            <p>
                <a role="button" onclick="deleteHistoryItem('@historyItem.Id')" class="actionlink" title="حذف"><i class="noindent-info-button delete-icon"></i></a>
            </p>

        </div>


        <hr />
    }

    <p style="text-align:center">
        @foreach (var paginationLink in Model.PaginationLinks)
        {
            if (!string.IsNullOrEmpty(paginationLink.Url))
            {
                <a href="@paginationLink.Url">@paginationLink.Name</a>
            }
            else
            {
                @paginationLink.Name
            }
        }
    </p>


}
