@page
@model GanjooRazor.Areas.User.Pages.LanguagesModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewData["Title"] = "زبان‌ها و نویسش‌ها";
    await GanjooRazor.Utils.GanjoorSessionChecker.ApplyPermissionsToViewData(Request, Response, ViewData);
}
<h1>@ViewData["Title"]</h1>

@if (!string.IsNullOrEmpty(Model.LastMessage))
{
    <p>
        @Model.LastMessage
    </p>
}
else
{
    <form method="post">
        <table>
            <tr>
                <td>
                    نام:
                </td>
                <td>
                    <input asp-for="Language.Name" />
                </td>
            </tr>
            <tr>
                <td>
                    کد:
                </td>
                <td>
                    <input style="direction:ltr" asp-for="Language.Code" />
                </td>
            </tr>
            <tr>
                <td>
                    نام بومی زبان:
                </td>
                <td>
                    <input style="direction:ltr" asp-for="Language.NativeName" />
                </td>
            </tr>
            <tr>
                <td>
                    راست به چپ:
                </td>
                <td>
                    <input type="checkbox" asp-for="Language.RightToLeft" />
                </td>
            </tr>
            <tr>
                <td>
                    شرح:
                </td>
                <td>
                    <input asp-for="Language.Description" />
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <input type="submit" value="ایجاد زبان" />
                </td>
            </tr>

        </table>

    </form>


    @if (Model.Languages != null)
    {
        <script>
            function deleteLanguage(itemId, itemName) {

                if (!confirm('آیا از حذف این ' + itemName + ' اطمینان دارید؟'))
                    return;


                $.ajax({
                    type: "DELETE",
                    url: '',
                    data: {
                        id: itemId
                    },
                    error: function () {
                        alert('خطا رخ داد.');
                    },
                    success: function () {
                        location.reload();
                        return false;
                    },
                });
            }
        </script>
        <table>
            <tr>
                <th>نام</th>
                <th>کد</th>
                <th>نام بومی</th>
                <th>ر.ب.چ</th>
                <th>شرح</th>
                <th>#</th>
            </tr>
            @foreach (var language in Model.Languages)
            {
                <tr id="tr-@language.Id">
                    <td>@language.Name</td>
                    <td>@language.Code</td>
                    <td>@language.NativeName</td>
                    <td>@($"{(language.RightToLeft ? "✅" : "⧠")}")</td>
                    <td>@language.Description</td>
                    <td>
                        <a role="button" href="/User/LanguageEdit?id=@language.Id" class="actionlink" title="ویرایش">✎</a>
                        <a role="button" onclick="deleteLanguage(@language.Id, 'زبان')" class="actionlink" title="حذف">🗑</a>
                    </td>
                </tr>
            }
        </table>
    }
}