@page
@model GanjooRazor.Areas.User.Pages.MyBookmarksModel
@using DNTPersianUtils.Core
@{
    Layout = "_Layout";
    ViewData["Title"] = "نشان‌های من";
    await GanjooRazor.Utils.GanjoorSessionChecker.ApplyPermissionsToViewData(Request, Response, ViewData);
    string color = "gray";
}
<h1>@ViewData["Title"]</h1>
@if (Model.LastError != "")
{
    <h2>@Model.LastError</h2>
}
else
{
    <script>
        function deleteBookmark(bookmarkId) {
            if (!confirm('آیا از حذف این نشان اطمینان دارید؟'))
                return;

            var url = '?handler=Bookmark';

            $.ajax({
                type: "DELETE",
                url: url,
                data: {
                    id: bookmarkId
                },
                success: function () {
                    var notificationBlockId = '#bookmark-' + bookmarkId;
                    $(notificationBlockId).remove();
                },
            });
        }

        function editPrivateNote(bookmarkId) {
            var commentTextBlockId = '#comment-text-' + bookmarkId;
            tinymce.get('editCommentText').setContent($(commentTextBlockId).html());
            $("#editbookmarkId").val(bookmarkId);
            document.getElementById('id02').style.display = 'block';
        }

        function editPrivateNoteFinal() {
            $("#editcommentform").unbind('submit').bind('submit', function (e) {

                e.preventDefault(); // avoid to execute the actual submit of the form.

                var url = '?handler=BookmarkNote';

                var bookmarkId = $("#editbookmarkId").val();


                $.ajax({
                    type: "PUT",
                    url: url,
                    data: {
                        id: bookmarkId,
                        note: $("textarea#editCommentText").val()
                    },
                    success: function () {
                        document.getElementById('id02').style.display = 'none';

                        var commentTextBlockId = '#comment-text-' + bookmarkId;

                        $(commentTextBlockId).html($("textarea#editCommentText").val());
                    },

                });
            });
        }
    </script>
    <p style="text-align:center">
        @foreach (var paginationLink in Model.PaginationLinks)
        {
            if (!string.IsNullOrEmpty(paginationLink.Url))
            {
                <a href="@paginationLink.Url">@paginationLink.Name</a>
            }
            else
            {
                @paginationLink.Name
            }
        }
    </p>

    @if(Model.Bookmarks.Count == 0)
    {
        <p>
            شما هنوز هیچ بیتی را نشان نکرده‌اید. برای آشنایی با نحوهٔ نشان کردن اشعار <a href="http://blog.ganjoor.net/1400/07/08/ganjoor-bookmarking/" target="_blank">اینجا</a> را ببینید.
        </p>
    }

    @foreach (var bookmark in Model.Bookmarks)
    {
        if (color == "gray")
            color = "white";
        else
            color = "gray";

        <div style="background-color:@color" id="bookmark-@bookmark.Id">
            <blockquote>
                <p>
                    از <a href="@($"{bookmark.PoemFullUrl}#bn{bookmark.CoupletIndex + 1}")">@bookmark.PoemFullTitle</a> <small>در @bookmark.DateTime.ToFriendlyPersianDateTextify()</small>
                </p>
                <a href="@($"{bookmark.PoemFullUrl}#bn{bookmark.CoupletIndex + 1}")">
                    <img src="@bookmark.PoetImageUrl" style="width:unset;display:unset;border:unset" alt="@bookmark.PoetName" />
                </a>
                <div id="bookmark-text-@bookmark.Id">
                    <p>
                        @bookmark.VerseText
                    </p>

                    @if (!string.IsNullOrEmpty(bookmark.Verse2Text))
                    {
                        <p>
                            @bookmark.Verse2Text
                        </p>
                    }

                </div>
                <div id="comment-text-@bookmark.Id">
                    @Html.Raw(bookmark.PrivateNote)
                </div>
            </blockquote>
            <p>
                <a role="button" onclick="deleteBookmark('@bookmark.Id')" class="actionlink" title="حذف"><i class="noindent-info-button delete-icon"></i></a>
            </p>
             <p>
                <a role="button" onclick="editPrivateNote('@bookmark.Id')" class="actionlink" title="یادداشت شخصی"><i class="noindent-info-button edit-poem-button"></i></a>
            </p>
        </div>


        <hr />
    }

    <p style="text-align:center">
        @foreach (var paginationLink in Model.PaginationLinks)
        {
            if (!string.IsNullOrEmpty(paginationLink.Url))
            {
                <a href="@paginationLink.Url">@paginationLink.Name</a>
            }
            else
            {
                @paginationLink.Name
            }
        }
    </p>

    <div id="id02" class="modal">
        <span onclick="document.getElementById('id02').style.display='none'"
          class="close" title="بستن">&times;</span>
        <form class="modal-content animate" method="post" id="editcommentform" action="?handler=EditComment">
            <table style="max-width:100%; width:100%; margin:0">
                <tr>
                    <td>
                        <textarea name="editCommentText" id="editCommentText" class="inputTextarea editor width-100per" tabindex="4" rows="10"></textarea>
                        <input type="hidden" name="editbookmarkId" id="editbookmarkId" value="" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <button name="editcomment" id="editcomment" class="submitCommentButton width-100per" onclick="return editPrivateNoteFinal();">ویرایش یادداشت</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        یادداشتهایی که روی نشان‌ها می‌نویسید خصوصی هستند و با حذف نشان پاک می‌شوند.
                    </td>
                </tr>
            </table>
        </form>
    </div>


}

