@page
@model GanjooRazor.Areas.User.Pages.MyBookmarksModel
@using DNTPersianUtils.Core
@{
    Layout = "_Layout";
    ViewData["Title"] = "نشانه‌های من";
    await GanjooRazor.Utils.GanjoorSessionChecker.ApplyPermissionsToViewData(Request, Response, ViewData);
    string color = "gray";
}
<h1>@ViewData["Title"]</h1>
@if (Model.LastError != "")
{
    <h2>@Model.LastError</h2>
}
else
{
    <script>
        function deleteBookmark(bookmarkId) {
            if (!confirm('آیا از حذف این نشانه اطمینان دارید؟'))
                return;

            var url = '?handler=Bookmark';

            $.ajax({
                type: "DELETE",
                url: url,
                data: {
                    id: bookmarkId
                },
                success: function () {
                    var notificationBlockId = '#bookmark-' + bookmarkId;
                    $(notificationBlockId).remove();
                },
            });
        }
    </script>
    <p style="text-align:center">
        @foreach (var paginationLink in Model.PaginationLinks)
        {
            if (!string.IsNullOrEmpty(paginationLink.Url))
            {
                <a href="@paginationLink.Url">@paginationLink.Name</a>
            }
            else
            {
                @paginationLink.Name
            }
        }
    </p>

    @foreach (var bookmark in Model.Bookmarks)
    {
        if (color == "gray")
            color = "white";
        else
            color = "gray";

        <div style="background-color:@color" id="bookmark-@bookmark.Id">
            <blockquote>
                <p>
                    از <a href="@($"{bookmark.PoemFullUrl}#bn{bookmark.CoupletIndex + 1}")">@bookmark.PoemFullTitle</a> <small>در @bookmark.DateTime.ToFriendlyPersianDateTextify()</small>
                </p>
                <a href="@($"{bookmark.PoemFullUrl}#bn{bookmark.CoupletIndex + 1}")">
                    <img src="@bookmark.PoetImageUrl" style="width:unset;display:unset;border:unset" alt="@bookmark.PoetName" />
                </a>
                <div id="bookmark-text-@bookmark.Id">
                    <p>
                        @bookmark.VerseText
                    </p>

                    @if (!string.IsNullOrEmpty(bookmark.Verse2Text))
                    {
                        <p>
                            @bookmark.Verse2Text
                        </p>
                    }

                </div>
            </blockquote>
            <p>
                <a role="button" onclick="deleteBookmark('@bookmark.Id')" class="actionlink" title="حذف">🗑</a>
            </p>

        </div>


        <hr />
    }

    <p style="text-align:center">
        @foreach (var paginationLink in Model.PaginationLinks)
        {
            if (!string.IsNullOrEmpty(paginationLink.Url))
            {
                <a href="@paginationLink.Url">@paginationLink.Name</a>
            }
            else
            {
                @paginationLink.Name
            }
        }
    </p>


}

