@page
@model GanjooRazor.Areas.User.Pages.PoemCorrectionsHistoryModel
@using RMuseum.Models.Ganjoor
@using RMuseum.Services.Implementation
@using DNTPersianUtils.Core;
@{
    Layout = "_UserPanelLayout";
    ViewData["Title"] = "سوابق ویرایش";
    await GanjooRazor.Utils.GanjoorSessionChecker.ApplyPermissionsToViewData(Request, Response, ViewData);
    string color = "gray";
}

<h1>@ViewData["Title"]</h1>
@if (Model.LastError != "")
{
    <h2>@Model.LastError</h2>
}
else
{
    <script>
        function rollBackCorrection(correctionId) {
            if (!confirm('ویرایش معکوس ایجاد شود؟')) {
                return;
            }
            $.ajax({
                type: "POST",
                url: '?handler=RollBackCorrection',
                data: {
                    correctionId: correctionId,
                },
                success: function () {
                    alert('انجام شد.');
                   
                },
                error: function (e) {
                    if (e.responseText == null)
                        alert(e);
                    else
                        alert(e.responseText);

                }

            });
        }
    </script>
    <p style="text-align:center">
        @foreach (var paginationLink in Model.PaginationLinks)
        {
            if (!string.IsNullOrEmpty(paginationLink.Url))
            {
                <a href="@paginationLink.Url">@paginationLink.Name</a>
            }
            else
            {
                @paginationLink.Name
            }
        }
    </p>

    @foreach (var correction in Model.Corrections)
    {
        if (color == "gray")
            color = "lightsteelblue";
        else
            color = "gray";

        <div style="background-color:@color" id="correction-@correction.Id">
            <table>
                <tr>
                    <td colspan="2"><a href="/?p=@correction.PoemId" target="_blank">مشاهدهٔ متن شعر یا بخش</a></td>
                </tr>
                <tr>
                    <td colspan="2">@correction.ReviewDate.ToFriendlyPersianDateTextify()</td>
                </tr>
                <tr>
                    <td>متن اولیه</td>
                    <td>متن جدید</td>
                </tr>

                @if (correction.Title != null && correction.Result == CorrectionReviewResult.Approved)
                {
                    <tr>
                        <td>
                            <p style="color:red">@correction.OriginalTitle</p>
                        </td>
                        <td>
                            <p style="color:green">@correction.Title</p>
                        </td>
                    </tr>
                }
                @if (correction.PoemSummary != null && correction.SummaryReviewResult == CorrectionReviewResult.Approved)
                {
                    <tr>
                        <td>
                            خلاصه: <p style="color:red">@correction.OriginalPoemSummary</p>
                        </td>
                        <td>
                            <p style="color:green">@correction.PoemSummary</p>
                        </td>
                    </tr>
                }
                @if (correction.Rhythm != null && correction.RhythmResult == CorrectionReviewResult.Approved)
                {
                    <tr>
                        <td>
                            <p style="color:red">@correction.OriginalRhythm</p>
                        </td>
                        <td>
                            <p style="color:green">@correction.Rhythm</p>
                        </td>

                    </tr>

                }
                @if (correction.RhymeLetters != null && correction.RhymeLettersReviewResult == CorrectionReviewResult.Approved)
                {
                    <tr>
                        <td>
                            <p style="color:red">قافیه: @correction.OriginalRhymeLetters</p>
                        </td>
                        <td>
                            <p style="color:green">@correction.RhymeLetters</p>
                        </td>

                    </tr>

                }
                @if (correction.PoemFormat != null && correction.PoemFormatReviewResult == CorrectionReviewResult.Approved)
                {
                    <tr>
                        <td>
                            <p style="color:red">قالب شعری: @RMuseum.Services.Implementation.GanjoorPoemFormatConvertor.GetString(correction.OriginalPoemFormat)</p>
                        </td>
                        <td>
                            <p style="color:green">@RMuseum.Services.Implementation.GanjoorPoemFormatConvertor.GetString(correction.PoemFormat)</p>
                        </td>

                    </tr>

                }
                @if (correction.VerseOrderText != null)
                    @foreach (var verse in correction.VerseOrderText)
                    {
                        @if (verse.MarkForDelete)
                        {
                            if (verse.MarkForDeleteResult == CorrectionReviewResult.Approved)
                            {
                                <tr>
                                    <td>
                                        <p style="color:red">@verse.OriginalText</p>
                                    </td>
                                    <td>
                                        <p style="color:red">حذف شد</p>
                                    </td>

                                </tr>
                            }
                        }
                        else if (verse.NewVerse)
                        {
                            if (verse.NewVerseResult == CorrectionReviewResult.Approved)
                            {
                                <tr>
                                    <td>
                                        <p style="color:green">@verse.Text</p>
                                    </td>
                                    <td>
                                        <p style="color:green">اضافه شد</p>
                                    </td>

                                </tr>
                            }
                        }
                        else
                        {
                            if (verse.Result == CorrectionReviewResult.Approved)
                            {
                                <tr>
                                    <td>
                                        <p style="color:red">@verse.OriginalText</p>
                                    </td>
                                    <td>
                                        <p style="color:green">@verse.Text</p>
                                    </td>

                                </tr>
                            }

                            if (verse.SummaryReviewResult == CorrectionReviewResult.Approved)
                            {
                                <tr>
                                    <td colspan="2">
                                        @verse.OriginalText
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        معنی: <p style="color:red">@verse.OriginalCoupletSummary</p>
                                    </td>
                                    <td>
                                        <p style="color:green">@verse.CoupletSummary</p>
                                    </td>

                                </tr>
                            }

                            if (verse.VersePosition != null && verse.VersePositionResult == CorrectionReviewResult.Approved)
                            {
                                <tr>
                                    <td colspan="2">
                                        @verse.OriginalText
                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                        <p style="color:red">تبدیل نوع مصرع از @RMuseum.Models.Ganjoor.VersePositionHelper.GetVersePositionString((VersePosition)verse.OriginalVersePosition)</p>
                                    </td>
                                    <td>
                                        <p>@verse.Text</p>
                                        <p style="color:green">تبدیل نوع مصرع به @RMuseum.Models.Ganjoor.VersePositionHelper.GetVersePositionString((VersePosition)verse.VersePosition)</p>
                                    </td>
                                </tr>
                            }

                            @if (verse.LanguageId != null && verse.LanguageReviewResult == CorrectionReviewResult.Approved)
                            {
                                <tr>
                                    <td colspan="2">
                                        @verse.OriginalText
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @if (verse.OriginalLanguageId != null)
                                        {
                                            <p>تغییر زبان از @Model.Languages.Where(l => l.Id == verse.OriginalLanguageId).Single().Name </p>
                                        }
                                        else
                                        {
                                            <p>تغییر زبان از فارسی</p>
                                        }
                                    </td>
                                    <td>
                                        @if (verse.LanguageId != null)
                                        {
                                            <p>به @Model.Languages.Where(l => l.Id == verse.LanguageId).Single().Name </p>
                                        }
                                        else
                                        {
                                            <p>به فارسی</p>
                                        }
                                    </td>

                                </tr>
                            }

                            <tr><td colspan="2" style="background-color:black">&nbsp;</td></tr>
                        }
                    }

                <tr>
                    <td colspan="2">
                        <a role="button" style="cursor:pointer;width:100%;color:white;background-color:orange;display:block" onclick="rollBackCorrection(@correction.Id)">برگشت به وضعیت قبل از این ویرایش</a>
                    </td>
                </tr>

            </table>

        </div>


        <hr />
    }

    <p style="text-align:center">
        @foreach (var paginationLink in Model.PaginationLinks)
        {
            if (!string.IsNullOrEmpty(paginationLink.Url))
            {
                <a href="@paginationLink.Url">@paginationLink.Name</a>
            }
            else
            {
                @paginationLink.Name
            }
        }
    </p>


}
