@page
@model GanjooRazor.Areas.User.Pages.SectionEditsModel
@using RMuseum.Models.Ganjoor
@using RMuseum.Services.Implementation
@{
    Layout = "_UserPanelLayout";
    ViewData["Title"] = "ویرایش‌های قطعات من";
    await GanjooRazor.Utils.GanjoorSessionChecker.ApplyPermissionsToViewData(Request, Response, ViewData);
    string color = "gray";
}
<h1>@ViewData["Title"]</h1>
@if (Model.LastError != "")
{
    <h2>@Model.LastError</h2>
}
else
{

    if (@Model.CanEdit)
    {
        <div class="clear-both">
            <p>
                <a role="button" href="/User/SectionEdits?AllUsers=1" class="pagebutton">ویرایش‌های قطعات همه</a>
            </p>
        </div>
    }

    @if (Model.Corrections.Count == 0)
    {
        <p>
            شما هنوز هیچ ویرایشی در گنجور انجام نداده‌اید. برای آشنایی با نحوهٔ ویرایش اشعار <a href="https://blog.ganjoor.net/1400/05/23/notes-for-suggesting-corrections/" target="_blank">اینجا</a> را ببینید.
        </p>
    }


    <p style="text-align:center">
        @foreach (var paginationLink in Model.PaginationLinks)
        {
            if (!string.IsNullOrEmpty(paginationLink.Url))
            {
                <a href="@paginationLink.Url">@paginationLink.Name</a>
            }
            else
            {
                @paginationLink.Name
            }
        }
    </p>

    @foreach (var correction in Model.Corrections)
    {
        if (color == "gray")
            color = "lightsteelblue";
        else
            color = "gray";

        <div style="background-color:@color" id="correction-@correction.Id">
            <table>
                <tr>
                    <td colspan="3"><a href="/User/Section?poemId=@correction.PoemId&index=@correction.SectionIndex" target="_blank">مشاهدهٔ متن شعر یا بخش</a></td>
                </tr>

                @if (Model.AllUsersEdits)
                {
                    <tr>
                        <td colspan="3"><a href="/hashieha/?userid=@correction.UserId" target="_blank">@correction.UserNickname</a></td>
                    </tr>
                }

                <tr>
                    <td>متن اولیه</td>
                    <td>تغییرات من</td>
                    <td>نتیجهٔ بررسی</td>
                </tr>

                @if (correction.Rhythm != null)
                {
                    <tr>
                        <td>
                            <p style="color:red">وزن: @correction.OriginalRhythm</p>
                        </td>
                        <td>
                            <p style="color:green">@correction.Rhythm</p>
                        </td>
                        <td>
                            @if (correction.RhythmResult == CorrectionReviewResult.NotReviewed)
                            {
                                <p style="color:blue">@CorrectionReviewResultConvertor.GetString(correction.RhythmResult)</p>
                            }
                            else
                            @if (correction.RhythmResult == CorrectionReviewResult.Approved)
                            {
                                <p style="color:green">@CorrectionReviewResultConvertor.GetString(correction.RhythmResult)</p>
                            }
                            else
                            {
                                <p style="color:red">@CorrectionReviewResultConvertor.GetString(correction.RhythmResult)</p>
                            }
                        </td>
                    </tr>
                    @if (!string.IsNullOrEmpty(correction.ReviewNote))
                    {
                        <tr>
                            <td colspan="3">
                                <p>@correction.ReviewNote</p>
                            </td>
                        </tr>
                    }
                }

                @if (correction.RhymeLetters != null)
                {
                    <tr>
                        <td>
                            <p style="color:red">قافیه: @correction.OriginalRhymeLetters</p>
                        </td>
                        <td>
                            <p style="color:green">@correction.RhymeLetters</p>
                        </td>
                        <td>
                            @if (correction.RhymeLettersReviewResult == CorrectionReviewResult.NotReviewed)
                            {
                                <p style="color:blue">@CorrectionReviewResultConvertor.GetString(correction.RhymeLettersReviewResult)</p>
                            }
                            else
                            @if (correction.RhymeLettersReviewResult == CorrectionReviewResult.Approved)
                            {
                                <p style="color:green">@CorrectionReviewResultConvertor.GetString(correction.RhymeLettersReviewResult)</p>
                            }
                            else
                            {
                                <p style="color:red">@CorrectionReviewResultConvertor.GetString(correction.RhymeLettersReviewResult)</p>
                            }
                        </td>
                    </tr>
                    @if (!string.IsNullOrEmpty(correction.ReviewNote))
                    {
                        <tr>
                            <td colspan="3">
                                <p>@correction.ReviewNote</p>
                            </td>
                        </tr>
                    }
                }

                @if (correction.Language != null)
                {
                    <tr>
                        <td>
                            <p style="color:red">زبان: @correction.OriginalLanguage</p>
                        </td>
                        <td>
                            <p style="color:green">@correction.Language</p>
                        </td>
                        <td>
                            @if (correction.LanguageReviewResult == CorrectionReviewResult.NotReviewed)
                            {
                                <p style="color:blue">@CorrectionReviewResultConvertor.GetString(correction.LanguageReviewResult)</p>
                            }
                            else
                            @if (correction.LanguageReviewResult == CorrectionReviewResult.Approved)
                            {
                                <p style="color:green">@CorrectionReviewResultConvertor.GetString(correction.LanguageReviewResult)</p>
                            }
                            else
                            {
                                <p style="color:red">@CorrectionReviewResultConvertor.GetString(correction.LanguageReviewResult)</p>
                            }
                        </td>
                    </tr>
                    @if (!string.IsNullOrEmpty(correction.ReviewNote))
                    {
                        <tr>
                            <td colspan="3">
                                <p>@correction.ReviewNote</p>
                            </td>
                        </tr>
                    }
                }

                @if (correction.PoemFormat != null)
                {
                    <tr>
                        <td>
                            <p style="color:red">قالب شعری: @RMuseum.Services.Implementation.GanjoorPoemFormatConvertor.GetString((RMuseum.Models.Ganjoor.GanjoorPoemFormat?)correction.OriginalPoemFormat)</p>
                        </td>
                        <td>
                            <p style="color:green">@RMuseum.Services.Implementation.GanjoorPoemFormatConvertor.GetString((RMuseum.Models.Ganjoor.GanjoorPoemFormat?)correction.PoemFormat)</p>
                        </td>
                        <td>
                            @if (correction.PoemFormatReviewResult == CorrectionReviewResult.NotReviewed)
                            {
                                <p style="color:blue">@CorrectionReviewResultConvertor.GetString(correction.PoemFormatReviewResult)</p>
                            }
                            else
                            @if (correction.PoemFormatReviewResult == CorrectionReviewResult.Approved)
                            {
                                <p style="color:green">@CorrectionReviewResultConvertor.GetString(correction.PoemFormatReviewResult)</p>
                            }
                            else
                            {
                                <p style="color:red">@CorrectionReviewResultConvertor.GetString(correction.PoemFormatReviewResult)</p>
                            }
                        </td>
                    </tr>
                    @if (!string.IsNullOrEmpty(correction.ReviewNote))
                    {
                        <tr>
                            <td colspan="3">
                                <p>@correction.ReviewNote</p>
                            </td>
                        </tr>
                    }
                }

                @if (
               correction.BreakFromVerse1VOrderResult == CorrectionReviewResult.Approved
               ||
               correction.BreakFromVerse2VOrderResult == CorrectionReviewResult.Approved
               ||
               correction.BreakFromVerse3VOrderResult == CorrectionReviewResult.Approved
               ||
               correction.BreakFromVerse4VOrderResult == CorrectionReviewResult.Approved
               ||
               correction.BreakFromVerse5VOrderResult == CorrectionReviewResult.Approved
               ||
               correction.BreakFromVerse6VOrderResult == CorrectionReviewResult.Approved
               ||
               correction.BreakFromVerse7VOrderResult == CorrectionReviewResult.Approved
               ||
               correction.BreakFromVerse8VOrderResult == CorrectionReviewResult.Approved
               ||
               correction.BreakFromVerse9VOrderResult == CorrectionReviewResult.Approved
               ||
               correction.BreakFromVerse10VOrderResult == CorrectionReviewResult.Approved
               )
                {
                    <tr>
                        <td colspan="3">
                            <p>پیشنهاد شما برای شکستن قطعه تأیید شده است.</p>
                        </td>
                    </tr>
                }

                @if (!string.IsNullOrEmpty(correction.Note))
                {
                    <tr>
                        <td>یادداشت:</td>
                        <td colspan="2">
                            @correction.Note
                        </td>
                    </tr>
                }

                @if (!string.IsNullOrEmpty(correction.ReviewNote))
                {
                    <tr>
                        <td>یادداشت بررسی:</td>
                        <td colspan="2">
                            @correction.ReviewNote
                        </td>
                    </tr>
                }

                <tr>
                    <td colspan="3">
                        @if (correction.Reviewed)
                        {
                            <a role="button" style="cursor:pointer;width:100%;color:white;background-color:red;display:block" href="/User/Section?poemId=@correction.PoemId&index=@correction.SectionIndex">ویرایش مجدد</a>
                        }
                        else
                        {
                            <a role="button" style="cursor:pointer;width:100%;color:white;background-color:blue;display:block" href="/User/Section?poemId=@correction.PoemId&index=@correction.SectionIndex">مشاهده</a>
                        }
                    </td>
                </tr>

            </table>

        </div>


        <hr />
    }

    <p style="text-align:center">
        @foreach (var paginationLink in Model.PaginationLinks)
        {
            if (!string.IsNullOrEmpty(paginationLink.Url))
            {
                <a href="@paginationLink.Url">@paginationLink.Name</a>
            }
            else
            {
                @paginationLink.Name
            }
        }
    </p>





}