@page
@model GanjooRazor.Areas.User.Pages.SuggestQuotedModel
@using DNTPersianUtils.Core
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_UserPanelLayout";
    ViewData["Title"] = "پیشنهاد مشق شعر";
    await GanjooRazor.Utils.GanjoorSessionChecker.ApplyPermissionsToViewData(Request, Response, ViewData);
}

<h1>@ViewData["Title"]</h1>

<p class="red-color">@Html.Raw(Model.LastMessage)</p>

@if (Model.GanjoorQuotedPoem != null && Model.Couplets != null)
{
    <script>

        function selectGanjoorPage() {
            document.getElementById('display-frame').style.display = 'none';
            document.getElementById('select-poem').style.display = 'block';
            document.getElementById('finalize-select').style.display = 'block';
        }

        function finalizeSelectPage() {

            document.getElementById('display-frame').style.display = 'block';
            document.getElementById('select-poem').style.display = 'none';
            document.getElementById('finalize-select').style.display = 'none';

            const currentUrl = document.getElementById('select-poem').contentWindow.location.href;

            var url = currentUrl.substring(currentUrl.indexOf('/', currentUrl.indexOf('//') + 2));

            fetch('@(GanjooRazor.APIRoot.InternetUrl)/api/ganjoor/page?url=' + url)
                .then((response) => response.json())
                .then((json) => {
                   
                    document.getElementById('GanjoorQuotedPoem_RelatedPoemId').value = json.poem.id;
                    document.getElementById('GanjoorQuotedPoem_RelatedPoetId').value = json.poem.category.poet.id;
                    document.getElementById('GanjoorQuotedPoem_CachedRelatedPoemPoetName').value = json.poem.category.poet.nickname;
                    document.getElementById('GanjoorQuotedPoem_CachedRelatedPoemPoetDeathYearInLHijri').value = json.poem.category.poet.deathYearInLHijri.toString();
                    document.getElementById('GanjoorQuotedPoem_CachedRelatedPoemPoetUrl').value = json.poem.category.poet.fullUrl;
                    document.getElementById('GanjoorQuotedPoem_CachedRelatedPoemPoetImage').value = json.poem.category.poet.imageUrl;
                    document.getElementById('GanjoorQuotedPoem_CachedRelatedPoemFullTitle').value = json.poem.fullTitle;
                    document.getElementById('GanjoorQuotedPoem_CachedRelatedPoemFullUrl').value = json.poem.fullUrl;

                    var coupletIndices = [];
                    var coupletTexts = [];

                    for (var i = 0; i < json.poem.verses.length; i++) {
                        var verse = json.poem.verses[i];
                        if (coupletIndices.indexOf(verse.coupletIndex) != -1) {
                            coupletTexts[coupletIndices.indexOf(verse.coupletIndex)] += ' - ';
                            coupletTexts[coupletIndices.indexOf(verse.coupletIndex)] += verse.text;
                        }
                        else {
                            coupletIndices.push(verse.coupletIndex);
                            coupletTexts.push(verse.text);
                        }
                    }

                    var x = document.getElementById("GanjoorQuotedPoem_RelatedCoupletIndex");
                    x.length = 0;
                    for (var i = 0; i < coupletIndices.length; i++) {
                        var option = document.createElement("option");
                        option.text = coupletTexts[i];
                        option.value = coupletIndices[i];
                        x.add(option);
                    }

                    x.value = coupletIndices[0];
                    alert('مشخصات شعر درج شد.');

                });

        }

        function deleteThisOne(id) {
            if (!confirm('آیا از حذف این مورد اطمینان دارید؟'))
                return;


            $.ajax({
                type: "DELETE",
                url: '',
                data: {
                    id: id
                },
                error: function (e) {
                    if (e.responseText == null)
                        alert(e);
                    else
                        alert(e.responseText);
                },
                success: function () {
                    alert('انجام شد.');
                    location.reload(true);
                },
            });
        }


        function reverseQuote(id) {
            if (!confirm('آیا از درج معکوس این مورد اطمینان دارید؟'))
                return;


            $.ajax({
                type: "POST",
                url: '?handler=GenerateReverse',
                data: {
                    id: id
                },
                error: function (e) {
                    if (e.responseText == null)
                        alert(e);
                    else
                        alert(e.responseText);
                },
                success: function (e) {
                    alert('انجام شد.');
                    location.href = e;
                },
            });
        }

    </script>
    <form method="post">
        <table>
            <tr>
                <td>
                    بیت مرجع از <a href="/?p=@Model.GanjoorQuotedPoem.PoemId">شعر</a>:
                    <input type="hidden" asp-for="GanjoorQuotedPoem.Id" />
                    <input type="hidden" asp-for="GanjoorQuotedPoem.PoemId" />
                    <input type="hidden" asp-for="GanjoorQuotedPoem.PoetId" />
                </td>
            </tr>
            <tr>
                <td>
                    <select asp-for="GanjoorQuotedPoem.CoupletIndex" style="width:100%">
                        @foreach (var item in Model.Couplets)
                        {
                            <option value="@item.Item1">@($"{(item.Item1 + 1).ToPersianNumbers()} - {item.Item2}")</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    مصرع اول مهم است:
                </td>
            </tr>
            <tr>
                <td>
                    <input asp-for="GanjoorQuotedPoem.CoupletVerse1ShouldBeEmphasized" />
                </td>
            </tr>
            <tr>
                <td>
                    مصرع دوم مهم است:
                </td>
            </tr>
            <tr>
                <td>
                    <input asp-for="GanjoorQuotedPoem.CoupletVerse2ShouldBeEmphasized" />
                </td>
            </tr>
            <tr>
                <td>
                    شاعر مرجع:
                </td>
            </tr>
            <tr>
                <td>
                    <input asp-for="GanjoorQuotedPoem.PoetId" />
                </td>
            </tr>
            <tr>
                <td>
                    <a onclick="finalizeSelectPage()" class="pagebutton" role="button" id="finalize-select" style="display:none">انتخاب کردم</a>
                </td>
            </tr>
            <tr>
                <td>
                    <iframe id="select-poem" src="/" height="600" style="display:none;width:100%;margin:auto"></iframe>
                </td>
            </tr>

            <tr>
                <td>
                    <a onclick="selectGanjoorPage()" class="pagebutton" role="button" id="display-frame">گزینش شعر مرتبط</a>
                    <input asp-for="GanjoorQuotedPoem.RelatedPoemId" type="hidden" />
                </td>
            </tr>
           
            @if (Model.GanjoorQuotedPoem.RelatedPoemId != null)
            {
                <tr>
                    <td>
                        <a href="/?p=@Model.GanjoorQuotedPoem.RelatedPoemId">مشاهدهٔ شعر مرتبط</a>
                    </td>
                </tr>
            }

            <tr>
                <td>
                    بیت مرتبط:
                </td>
            </tr>
            <tr>
                <td>
                    <select asp-for="GanjoorQuotedPoem.RelatedCoupletIndex" style="width:100%;">
                        @foreach (var item in Model.RelatedCouplets)
                        {
                            <option value="@item.Item1">@($"{(item.Item1 + 1).ToPersianNumbers()} - {item.Item2}")</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="notice">
                        اگر شعر مرتبط در گنجور وجود ندارد مصرع اول و دوم مرتبط آن را در کادرهای بعد تایپ کنید.
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    مصرع اول مرتبط (خارج از گنجور):
                </td>
            </tr>
            <tr>
                <td>
                    <input asp-for="GanjoorQuotedPoem.RelatedCoupletVerse1" size="65" />
                </td>
            </tr>
            <tr>
                <td>
                    مصرع اول مهم است:
                </td>
            </tr>
            <tr>
                <td>
                    <input asp-for="GanjoorQuotedPoem.RelatedCoupletVerse1ShouldBeEmphasized" />
                </td>
            </tr>
            <tr>
                <td>
                    مصرع دوم مرتبط (خارج از گنجور):
                </td>
            </tr>
            <tr>
                <td>
                    <input asp-for="GanjoorQuotedPoem.RelatedCoupletVerse2" size="65" />
                </td>
            </tr>

            <tr>
                <td>
                    مصرع دوم مهم است:
                </td>
            </tr>
            <tr>
                <td>
                    <input asp-for="GanjoorQuotedPoem.RelatedCoupletVerse2ShouldBeEmphasized" />
                    <input asp-for="GanjoorQuotedPoem.SortOrder" hidden />
                </td>
            </tr>
            <tr>
                <td>
                    این شعر قدیمی‌تر از شعر مرتبط است:
                </td>
            </tr>
            <tr>
                <td>
                    <input asp-for="GanjoorQuotedPoem.IsPriorToRelated" />
                    <input asp-for="GanjoorQuotedPoem.ChosenForMainList" type="hidden" />
                    <input asp-for="GanjoorQuotedPoem.IndirectQuotation" type="hidden" />
                </td>
            </tr>
            <tr>
                <td>
                    منتسب به هر دو شاعر:
                </td>
            </tr>
            <tr>
                <td>
                    <input asp-for="GanjoorQuotedPoem.ClaimedByBothPoets" />
                </td>
            </tr>
            <tr>
                <td>
                    شاعر:
                </td>
            </tr>
            <tr>
            <tr>
                <td>
                    <input asp-for="GanjoorQuotedPoem.RelatedPoetId" hidden />
                    <input asp-for="GanjoorQuotedPoem.CachedRelatedPoemPoetName" />
                </td>
            </tr>
            <tr>
                <td>
                    سالمرگ شاعر:
                </td>
            </tr>
            <tr>
                <td>
                    <input asp-for="GanjoorQuotedPoem.CachedRelatedPoemPoetDeathYearInLHijri" />
                </td>
            </tr>
            <tr>
                <td>
                    نشانی صفحهٔ شاعر:
                </td>
            </tr>
            <tr>
                <td>
                    <input asp-for="GanjoorQuotedPoem.CachedRelatedPoemPoetUrl" style="direction:ltr" size="65" />
                    <input asp-for="GanjoorQuotedPoem.CachedRelatedPoemPoetImage" type="hidden" />
                </td>
            </tr>
            <tr>
                <td>
                    
                </td>
            </tr>
            <tr>
                <td>
                    عنوان شعر:
                </td>
            </tr>
            <tr>
                <td>
                    <input asp-for="GanjoorQuotedPoem.CachedRelatedPoemFullTitle" size="65" />
                </td>
            </tr>
            <tr>
                <td>
                    نشانی شعر:
                </td>
            </tr>
            <tr>
                <td>
                    <input asp-for="GanjoorQuotedPoem.CachedRelatedPoemFullUrl" style="direction:ltr" size="65" />
                    <input asp-for="GanjoorQuotedPoem.Published" hidden />
                    <input asp-for="GanjoorQuotedPoem.SamePoemsQuotedCount" hidden />
                </td>
            </tr>

            <tr>
                <td>
                    یادداشت:
                </td>
            </tr>
            <tr>
                <td>
                    <textarea asp-for="GanjoorQuotedPoem.Note" rows="4" cols="80" class="editor"></textarea>
                </td>
            </tr>

            <tr>
                <td>
                    <input type="submit" value="ذخیرهٔ پیشنهاد" />
                </td>
            </tr>

            <tr><td><hr /></td></tr>
           
        </table>
    </form>

    @if(Model.CanEdit)
    {
        <h1>همهٔ مشق‌های شعر - نمایش فقط به ادمین</h1>
        <table>
            <tr>
                <td>#</td>
                <td>شاعر</td>
                <td>۱</td>
                <td>۲</td>
                <td>۱</td>
                <td>۲</td>
                <td>منتشر شده</td>
            </tr>
            @foreach (var q in Model.AllPoemQuoteds)
            {
                <tr>
                    <td><a href="/User/SuggestQuoted/?p=@q.PoemId&id=@q.Id">#</a> </td>
                    <td>@q.CachedRelatedPoemPoetName</td>
                    <td>@q.CoupletVerse1</td>
                    <td>@q.CoupletVerse2</td>
                    <td>@q.RelatedCoupletVerse1</td>
                    <td>@q.RelatedCoupletVerse2</td>
                    <td>@q.Published</td>
                </tr>
            }
        </table>
    }
    


}
