@page
@model GanjooRazor.Areas.User.Pages.SuggestedPoetPhotosModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewData["Title"] = "تصاویر پیشنهادی برای تصاویر شاعران";
    await GanjooRazor.Utils.GanjoorSessionChecker.ApplyPermissionsToViewData(Request, Response, ViewData);
}

<h1>@ViewData["Title"]</h1>
@if (Model.LastError != "")
{
    <h2>@Model.LastError</h2>
}
else
{
    <form method="post">
        <table style="width:100%" class="noborder">
            <tr>
                <td>
                    <span class="inputlabel">شاعر: </span>
                </td>
                <td>
                    <a href="/photos?p=@Model.Poet.FullUrl.Substring(1)" target="_blank">@Model.Poet.Nickname</a>
                    <input type="hidden" asp-for="Suggestion.Id" />
                    <input type="hidden" asp-for="Suggestion.PoetId" />
                    <input type="hidden" asp-for="Suggestion.PicOrder" />
                    <input type="hidden" asp-for="Suggestion.SuggestedById" />
                </td>
            </tr>
            <tr>
                <td>
                    <span class="inputlabel">پیشنهاد دهنده: </span>
                </td>
                <td>
                    <a href="/hashieha/?userid=@Model.Suggestion.SuggestedById" target="_blank">@Model.Suggestion.SuggestedById</a>
                </td>
            </tr>

             <tr>
                <td colspan="2">
                    <img src="@Model.Suggestion.ImageUrl" />
                </td>
            </tr>

            <tr>
                <td>
                    <span class="inputlabel">عنوان: </span>
                </td>
                <td>
                    <input asp-for="Suggestion.Title" />
                </td>
            </tr>

            <tr>
                <td>
                    <span class="inputlabel">توضیحات: </span>
                </td>
                <td>
                    <textarea asp-for="Suggestion.Description" class="editor"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit" name="approve" id="approve" style="width:100%;color:white;background-color:green">تأیید</button>
                </td>
                <td>
                    <table style="width:100%" class="noborder">
                        <tr>
                            <td>
                                <button type="submit" name="reject" id="reject" style="width:100%;color:white;background-color:darkred">رد</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button type="submit" name="next" id="next" style="width:100%;color:white;background-color:orange">بعدی</button>
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>

            <tr>
                <td>
                    تعداد کل:
                </td>
                <td>
                    @Model.TotalCount
                </td>
            </tr>


        </table>

    </form>

}
