@page
@model GanjooRazor.Areas.User.Pages.TranslateModel
@using DNTPersianUtils.Core
@{
    Layout = "_Layout";
    ViewData["Title"] = "ترجمه / نویسش";
    await GanjooRazor.Utils.GanjoorSessionChecker.ApplyPermissionsToViewData(Request, Response, ViewData);
}

<h1>@ViewData["Title"]</h1>
<script>
    $(document).ready(function () {
        $('[contenteditable]').keypress(function (e) { return e.which != 13; });
    });
</script>
@if (!string.IsNullOrEmpty(Model.FatalError))
{
    <p>@Model.FatalError</p>
}
else
{
    <p><a role="button" target="_blank" href="@Model.PageInformation.FullUrl" class="actionlink">@Model.PageInformation.FullTitle</a></p>

    @if (Model.PageInformation.Poem.Previous != null)
    {
        <p><a href="/User/Editor?id=@Model.PageInformation.Poem.Previous.Id">ترجمهٔ شعر قبل</a></p>
    }
    @if (Model.PageInformation.Poem.Next != null)
    {
        <p><a href="/User/Editor?id=@Model.PageInformation.Poem.Next.Id">ترجمهٔ شعر بعد</a></p>
    }

    <table>
        <tr>
            <td>
                <p><strong>ترجمهٔ متن:</strong></p>
            </td>
        </tr>
        <tr>
            <td>
                عنوان اصلی:
            </td>
        </tr>
        <tr>
            <td>
                <p id="original-0">@Model.PageInformation.Poem.Title</p>
            </td>
        </tr>
        <tr>
            <td>
                ترجمهٔ عنوان:
            </td>
        </tr>
        <tr>
            <td>

                @if (Model.MyLastEdit != null && Model.MyLastEdit.Title != null)
                {
                    <div id="id-0" name="id-0" contenteditable="true" style="background-color:white">@Model.MyLastEdit.Title</div>
                    <script>
                        $(document).ready(function () {
                            editorcompare(0);
                        });
                        document.getElementById("id-0").addEventListener("input", function () {
                            editorcompare(0)
                        }, false);
                    </script>
                }
                else
                {
                    <div type="text" id="id-0" name="id-0" contenteditable="true" style="background-color:white">@Model.PageInformation.Poem.Title</div>
                    <script>
                        document.getElementById("id-0").addEventListener("input", function () {
                            editorcompare(0)
                        }, false);
                    </script>
                }
            </td>
        </tr>
       
        @foreach (var verse in Model.PageInformation.Poem.Verses)
        {
            <tr>
                <td>
                    بیت @Model.GetVerseCoupletNumber(verse).ToPersianNumbers()
                </td>
            </tr>
            <tr>
                <td>
                    مصرع @verse.VOrder.ToPersianNumbers()
                </td>
            </tr>
            <tr>
                <td>
                    نوع: @Model.GetVersePosition(verse)
                </td>
            </tr>
            <tr>
                <td>
                    متن اصلی:
                </td>
            </tr>
            <tr>
                <td>
                    <p id="original-@($"{verse.VOrder}")">@verse.Text</p>
                </td>
            </tr>
            <tr>
                <td>
                    ترجمه:
                </td>
            </tr>
            <tr>
                <td>
                    @if (Model.MyLastEdit != null && Model.MyLastEdit.VerseOrderText != null && Model.MyLastEdit.VerseOrderText.Where(v => v.VORder == verse.VOrder).Any())
                    {
                        <div id="id-@($"{verse.VOrder}")" name="name-@($"{verse.VOrder}")" contenteditable="true" style="background-color:white">@Model.MyLastEdit.VerseOrderText.Where(v => v.VORder == verse.VOrder).First().Text</div>


                        <script>
                            document.getElementById("id-@($"{verse.VOrder}")").addEventListener("input", function () {
                                editorcompare(@verse.VOrder)
                            }, false);
                            $(document).ready(function () {
                                editorcompare(@verse.VOrder);
                            });
                        </script>
                    }
                    else
                    {
                        <div id="id-@($"{verse.VOrder}")" name="name-@($"{verse.VOrder}")" contenteditable="true" style="background-color:white">@verse.Text</div>
                        <script>
                            document.getElementById("id-@($"{verse.VOrder}")").addEventListener("input", function () {
                                editorcompare(@verse.VOrder)
                            }, false);
                        </script>
                    }
                </td>
            </tr>
           

        }

        <tr>
            <td>
                توضیحات:
            </td>
        </tr>

        <tr>
            <td>
                @if (Model.MyLastEdit != null && !string.IsNullOrEmpty(Model.MyLastEdit.Note))
                {
                    <input type="text" id="note" name="note" value="@Model.MyLastEdit.Note" size="50" />
                }
                else
                {
                    <input type="text" id="note" name="note" value="" size="50" />
                }
            </td>
        </tr>

        <tr>
            <td>
                <a role="button" id="savecorrections" style="cursor:pointer;width:100%;color:white;background-color:green;display:block" onclick="savePoemCorrections(@Model.PageInformation.Poem.Id, @Model.PageInformation.Poem.Verses.Length)">ذخیره</a>
            </td>
        </tr>

        <tr>
            <td><p id="saving">&nbsp;</p></td>
        </tr>

        @if (Model.PageInformation.Poem.Previous != null)
        {
            <tr>
                <td><a href="/User/Editor?id=@Model.PageInformation.Poem.Previous.Id">ترجمهٔ شعر قبل</a></td>
            </tr>
        }
        @if (Model.PageInformation.Poem.Next != null)
        {
            <tr>
                <td><a href="/User/Editor?id=@Model.PageInformation.Poem.Next.Id">ترجمهٔ شعر بعد</a></td>
            </tr>
        }
    </table>

}