@page
@model GanjooRazor.Areas.User.Pages.TranslateModel
@using DNTPersianUtils.Core
@{
    Layout = "_Layout";
    ViewData["Title"] = "برگردان / نویسش";
    await GanjooRazor.Utils.GanjoorSessionChecker.ApplyPermissionsToViewData(Request, Response, ViewData);
}

<h1>@ViewData["Title"]</h1>
<script>
    $(document).ready(function () {
        $('[contenteditable]').keypress(function (e) { return e.which != 13; });
    });
</script>
@if (!string.IsNullOrEmpty(Model.FatalError))
{
    <p>@Html.Raw(Model.FatalError)</p>
}
else
{
    <select name="languages" id="languages">
        @foreach (var language in Model.Languages)
        {
            <option value="@language.Id">@language.Name</option>
        }
    </select>
    <p><a role="button" target="_blank" href="/User/Languages" class="actionlink">معرفی زبان‌ها و نویسش‌ها</a></p>


    <p><a role="button" target="_blank" href="@Model.PageInformation.FullUrl" class="actionlink">@Model.PageInformation.FullTitle</a></p>

    @if (Model.PageInformation.Poem.Previous != null)
    {
        <p><a href="/User/Translate?id=@Model.PageInformation.Poem.Previous.Id">برگردان شعر قبل</a></p>
    }
    @if (Model.PageInformation.Poem.Next != null)
    {
        <p><a href="/User/Translate?id=@Model.PageInformation.Poem.Next.Id">برگردان شعر بعد</a></p>
    }

<table>
    <tr>
        <td>
            <p><strong>برگردان متن:</strong></p>
        </td>
    </tr>
    <tr>
        <td>
            عنوان اصلی:
        </td>
    </tr>
    <tr>
        <td>
            <p style="color:red" id="original-0">@Model.PageInformation.Poem.Title</p>
        </td>
    </tr>
    <tr>
        <td>
            برگردان عنوان:
        </td>
    </tr>
    <tr>
        <td>

            <div type="text" id="id-0" name="id-0" contenteditable="true" style="background-color:white">@Model.Translation.Title</div>

        </td>
    </tr>

    @foreach (var verse in Model.Translation.TranslatedVerses)
    {
        <tr>
            <td>
                بیت @Model.GetVerseCoupletNumber(verse.Verse).ToPersianNumbers()
            </td>
        </tr>
        <tr>
            <td>
                مصرع @verse.Verse.VOrder.ToPersianNumbers()
            </td>
        </tr>
        <tr>
            <td>
                نوع: @Model.GetVersePosition(verse.Verse)
            </td>
        </tr>
        <tr>
            <td>
                متن اصلی:
            </td>
        </tr>
        <tr>
            <td>
                <p style="color: red" id="original-@($"{verse.Verse.VOrder}")">@verse.Verse.Text</p>
            </td>
        </tr>
        <tr>
            <td>
                برگردان:
            </td>
        </tr>
        <tr>
            <td>
                <div id="id-@($"{verse.Verse.VOrder}")" name="name-@($"{verse.Verse.VOrder}")" contenteditable="true" style="background-color:white">@verse.TText</div>
            </td>
        </tr>


    }


    
    <tr>
        @if (Model.Translation.Published)
        {
            <td colspan="2">منتشر شده <input type="checkbox" name="published" id="published" checked /> </td>
        }
        else
        {
            <td colspan="2">منتشر شده <input type="checkbox" name="published" id="published" /> </td>
        }
    </tr>

    <tr>
        <td>
            یادداشت این ویرایش:
        </td>
    </tr>

    <tr>
        <td>
            <input type="text" id="description" name="description" value="@Model.Translation.Description" size="50" />
        </td>
    </tr>

    <tr>
        <td>
            توسط:
        </td>
    </tr>

    <tr>
        <td>
            @Model.Translation.ContributerName
        </td>
    </tr>

    <tr>
        <td>
            <script>
                function savePoemTranslation(id, verseCount, langid) {
                    var translations = [];
                    for (var i = 0; i <= verseCount; i++) {
                        var newElementName = '#id-' + i.toString();
                        translations.push(i.toString() + 'TextSeparator' + $(newElementName).text());
                    }

                    $('#savetranslation').hide();
                    $('#saving').text('در حال ذخیره ...');

                    var url = '?handler=SendPoemTranslation';

                    $.ajax({
                        type: "POST",
                        url: url,
                        data: {
                            poemid: id,
                            langid: langid,
                            translations: translations,
                            published: $('#published').is(":checked"),
                            note: $('#description').val()

                        },
                        success: function () {
                            location.reload(true);
                        },
                        error: function (e) {
                            if (e.responseText == null)
                                alert(e);
                            else
                                alert(e.responseText);
                            $('#savetranslation').show();
                            $('#saving').text('');
                        }

                    });

                }
            </script>
            <a role="button" id="savetranslation" style="cursor:pointer;width:100%;color:white;background-color:green;display:block" onclick="savePoemTranslation(@Model.PageInformation.Poem.Id, @Model.PageInformation.Poem.Verses.Length, @Model.Translation.Language.Id)">ذخیره</a>
        </td>
    </tr>

    <tr>
        <td><p id="saving">&nbsp;</p></td>
    </tr>

    @if (Model.PageInformation.Poem.Previous != null)
    {
        <tr>
            <td><a href="/User/Translate?id=@Model.PageInformation.Poem.Previous.Id">برگردان شعر قبل</a></td>
        </tr>
    }
    @if (Model.PageInformation.Poem.Next != null)
    {
        <tr>
            <td><a href="/User/Translate?id=@Model.PageInformation.Poem.Next.Id">برگردان شعر بعد</a></td>
        </tr>
    }
</table>

}