@page
@model GanjooRazor.Areas.User.Pages.UpVotedRecitationsModel
@{
     Layout = "_UserPanelLayout";
    ViewData["Title"] = "خوانش‌های نشان شده";
    await GanjooRazor.Utils.GanjoorSessionChecker.ApplyPermissionsToViewData(Request, Response, ViewData);
    string color = "gray";
}

<h1>@ViewData["Title"]</h1>
@if (Model.LastError != "")
{
    <h2>@Model.LastError</h2>
}
else
{
    <p style="text-align:center">
        @foreach (var paginationLink in Model.PaginationLinks)
        {
            if (!string.IsNullOrEmpty(paginationLink.Url))
            {
                <a href="@paginationLink.Url">@paginationLink.Name</a>
            }
            else
            {
                @paginationLink.Name
            }
        }
    </p>

    @if(Model.UpVotes.Count == 0)
    {
        <p>
            شما خوانشی را نشان نکرده‌اید. برای آشنایی با نحوهٔ نشان کردن خوانش‌ها <a href="http://blog.ganjoor.net/1400/10/03/changes-in-recitations-section/" target="_blank">اینجا</a> را ببینید.
        </p>
    }

    @foreach (var upvote in Model.UpVotes)
    {
        if (color == "gray")
            color = "white";
        else
            color = "gray";

        <div style="background-color:@color" id="bookmark-@upvote.Id">
            <blockquote>
                <p>
                    @upvote.AudioTitle به خوانش @upvote.AudioArtist (<a href="@Html.Raw(upvote.PoemFullUrl)" target="_blank">@upvote.PoemFullTitle</a>)
                </p>
                <a href="@Model.GetRecitationUrl(upvote)" target="_blank">
                    خوانش در گنجور
                </a>
            </blockquote>

        </div>


        <hr />
    }

    <p style="text-align:center">
        @foreach (var paginationLink in Model.PaginationLinks)
        {
            if (!string.IsNullOrEmpty(paginationLink.Url))
            {
                <a href="@paginationLink.Url">@paginationLink.Name</a>
            }
            else
            {
                @paginationLink.Name
            }
        }
    </p>


}
