@page
@model IndexModel


@if(!string.IsNullOrEmpty(Model.LastError))
{
    @Html.Raw(Model.LastError)
    return;
}

@if(Model.Poets == null)
{
    <p>
        Хато дар дарёфт феҳристи суханварон
    </p>
    return;
}

<div class="text-center">
    @if (Model.IsHomePage)
    {
        @foreach (var poet in Model.Poets)
        {
            <p><a href="@poet.FullUrl">@poet.TajikNickName</a></p>
        }
    }

    @if (Model.IsPoetPage)
    {
        <p>
            @Model.GanjoorPage.PoetOrCat.Poet.TajikDescription
        </p>
    }

    @if (Model.IsCatPage && !string.IsNullOrEmpty(@Model.GanjoorPage.PoetOrCat.Cat.TajikDescription))
    {
        <p>
            @Model.GanjoorPage.PoetOrCat.Cat.TajikDescription
        </p>
    }

    @if (Model.IsPoetPage || Model.IsCatPage)
    {
        @foreach (var cat in Model.GanjoorPage.PoetOrCat.Cat.Children)
        {
            <p>
                <a href="@cat.FullUrl">@cat.TajikTitle</a>
            </p>
        }
        @foreach (var poem in Model.GanjoorPage.PoetOrCat.Cat.Poems)
        {
            <p>
                <a href="@($"{Model.GanjoorPage.PoetOrCat.Cat.FullUrl}/{poem.UrlSlug}")">@poem.TajikTitle</a>
            </p>
        }

    }

</div>
