@page
@model IndexModel


@if (!string.IsNullOrEmpty(Model.LastError))
{
    @Html.Raw(Model.LastError)
    return;
}

@if (Model.Poets == null)
{
    <p>
        Хато дар дарёфт феҳристи суханварон
    </p>
    return;
}

<div class="text-center">
    @if (Model.IsSearchPage)
    {
        @if (Model.Poems == null)
        {
            <div class="poem">
                <h2>شعری با مشخصات مورد نظر شما پیدا نشد.</h2>
                <p>
                    <strong>توصیه‌هایی برای دستیابی به نتیجهٔ مطلوبتر در جستجو:</strong>
                </p>
                <p>
                    الف) <strong>به جای جستجوی متن کامل یک بیت بهتر است حروف کلیدی آن را وارد کنید.</strong> از آنجا که اشعار به صورتهای مختلف در نسخه‌های متفاوت نقل شده‌اند ممکن است چیزی که شما در ذهن دارید با چیزی که در پایگاه ما ثبت شده متفاوت باشد. به عنوان نمونه مصرع «کشتی شکستگانیم ای باد شرطه برخیز» از حافظ در بعضی از نسخه‌ها به صورت «کشتی نشستگانیم ای باد شرطه برخیز» ضبط شده و شما با تایپ صورت صورت دوم آن را در گنجور نخواهید یافت. بهتر است برای یافتن این شعر کلماتی مانند کشتی و شرطه را جستجو کنیم.
                </p>
                <p>
                    ب) کلماتی را که ممکن است به صورت جدا یا سر هم نوشته شوند در گام اول به صورت جدا امتحان کنید (<strong>می شود</strong> و نه <del>میشود</del> یا <del>می‌شود</del>).
                </p>
                <p>
                    ج) در صورتی که نام سخنور را می‌دانید بهتر است از طریق لیست بازشوی جلوی جعبهٔ جستجو نام او را انتخاب کنید. این توصیه برای زمانی مناسب است که جستجوی عبارت مورد نظر شما باعث می‌شود آثار سخنورانی که مورد نظر شما نیستند در صدر نتایج قرار گیرد و به این وسیله شما می‌خواهید به فهرست محدودتری از نتایج دست پیدا کنید.
                </p>
                <p>
                    د) در صورتی که با فنون اولیهٔ جستجو آشنا نیستید یا <strong>معمولاً جستجوهایتان به نتیجهٔ مطلوب نمی‌رسد</strong> بد نیست نگاهی به <a href="http://hrmoh.ir/1385/04/18/howto-search-better/" title="توصیه هایی برای جستجوی بهتر در اینترنت">این نوشته</a> بیندازید.
                </p>
            </div>
        }
        else
            for (int poemIndex = 0; poemIndex < Model.Poems.Count; poemIndex++)
            {
                var poem = Model.Poems[poemIndex];

                <div class="sitem">


                    <h2>
                        <a href="@poem.FullUrl">@poem.FullTitle</a>
                    </h2>
                    <div class="spacer">&nbsp;</div>
                    <div class="sit">
                        @Html.Raw(poem.PlainText)
                    </div>



                    <div class="spacer">&nbsp;</div>

                </div>
            }

        <div class="spacer">&nbsp;</div>



    }
    else
    @if (Model.IsHomePage)
    {
        @foreach (var poet in Model.Poets)
        {
            <p><a href="@poet.FullUrl">@poet.Nickname</a></p>
        }
    }
    else
    {
        @Html.Raw(Model.GanjoorPage.HtmlText)
    }

</div>
