@page
@model IndexModel


@if (!string.IsNullOrEmpty(Model.LastError))
{
    @Html.Raw(Model.LastError)
    return;
}

@if (Model.Poets == null)
{
    <p>
        Хато дар дарёфти феҳристи суханварон
    </p>
    return;
}

<div class="text-center">
    @if (Model.IsSearchPage)
    {
        @if (Model.Poems == null)
        {
            <div class="poem">
                <h2>Ёфт менашавад ҷустаем мо</h2>
                <p>
                    Шеъре шомили ин иборат ёфт нашуд.
                </p>
            </div>
        }
        else
            for (int poemIndex = 0; poemIndex < Model.Poems.Count; poemIndex++)
            {
                var poem = Model.Poems[poemIndex];

                <div class="sitem">


                    <h2>
                        <a href="@poem.FullUrl">@poem.FullTitle</a>
                    </h2>
                    <div class="spacer">&nbsp;</div>
                    <div class="sit">
                        @Html.Raw(poem.PlainText)
                    </div>



                    <div class="spacer">&nbsp;</div>

                </div>
            }

        <div class="spacer">&nbsp;</div>

        @Html.Raw(Model.PagingToolsHtml)

    }
    else
    @if (Model.IsHomePage)
    {
        @foreach (var poet in Model.Poets)
        {
            <p><a href="@poet.FullUrl">@poet.Nickname</a></p>
        }
    }
    else
    {
        @Html.Raw(Model.GanjoorPage.HtmlText)
    }

</div>
