@model GanjooRazor.Pages._AudioPlayerPartialModel
@using DNTPersianUtils.Core
@{
}
<div class="container">

    <audio id="audio" preload="none" tabindex="0">
        @for (var nRecitationIndex = 0; nRecitationIndex < Model.Recitations.Length; nRecitationIndex++)
        {
            var recitaion = Model.Recitations[nRecitationIndex];
            <source src="@recitaion.Mp3Url" title="@($"{recitaion.AudioTitle} به خوانش {recitaion.AudioArtist}")" data-track-number="@(nRecitationIndex + 1)" />
        }
        مرورگر شما از پخش صدای HTML 5 پشتیبانی نمی‌کند.
    </audio>

    <div class="player">

        <div class="large-toggle-btn">
            <i class="large-play-btn"><span class="screen-reader-text">دکمهٔ بزرگ پخش و ادامه</span></i>
        </div>
        <!-- /.play-box -->

        <div class="info-box">
            <div class="track-info-box">
                <div class="track-title-text"></div>
                <div class="audio-time">
                    <span class="current-time">00:00</span> /
                    <span class="duration">00:00</span>
                </div>
            </div>
            <!-- /.info-box -->

            <div class="progress-box">
                <div class="progress-cell">
                    <div class="progress">
                        <div class="progress-buffer"></div>
                        <div class="progress-indicator"></div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.progress-box -->

        <div class="controls-box">
            <i class="previous-track-btn disabled"><span class="screen-reader-text">پخش خوانش پیشین</span></i>
            <i class="next-track-btn"><span class="screen-reader-text">پخش خوانش بعدی</span></i>
        </div>
        <!-- /.controls-box -->

    </div>
    <!-- /.player -->

    <div class="play-list">

         @for (var nRecitationIndex = 0; nRecitationIndex < Model.Recitations.Length; nRecitationIndex++)
        {
            var recitaion = Model.Recitations[nRecitationIndex];
            <div class="play-list-row" data-track-row="@(nRecitationIndex + 1)">
            <div class="small-toggle-btn">
                <i class="small-play-btn"><span class="screen-reader-text">Small toggle button</span></i>
            </div>
            <div class="track-number">
                @((nRecitationIndex + 1).ToPersianNumbers()).
            </div>
            <div class="track-title">
                <a class="playlist-track" href="#" data-play-track="@(nRecitationIndex + 1)">@($"{recitaion.AudioTitle} به خوانش {recitaion.AudioArtist}")</a>
            </div>
        </div>
        }
    </div>

    <div>می‌خواهید شما بخوانید؟ <a href='http://ava.ganjoor.net/about/'>اینجا</a> را ببینید.</div>
</div>

<script src="/js/audioplayer.js"></script>
