@model GanjooRazor.Pages._AudioPlayerPartialModel
@using DNTPersianUtils.Core
@{
}
<script>
    var verseStart = [];
    var verseEnd = [];
    var verseIndex = [];
    var nLastHighlight = -1;
    var vCount = 0;

    var _setXml = function (xmlUrl) {
        $.ajax({
            type: "GET",
            url: xmlUrl,
            dataType: "xml",
            success: function (xml) {
                var nOneSecondBugFix = 2000;
                $(xml).find('OneSecondBugFix').each(function () {
                    nOneSecondBugFix = parseInt($(xml).find('OneSecondBugFix').text());
                });
                var v = 0;
                $(xml).find('SyncInfo').each(function () {
                    verseStart[v] = parseInt($(this).find('AudioMiliseconds').text()) / nOneSecondBugFix;
                    verseIndex[v] = parseInt($(this).find('VerseOrder').text());
                    if (v > 0)
                        verseEnd[v - 1] = verseStart[v];
                    v++;
                });
                v--;
                if (v > 1)
                    verseEnd[v] = verseStart[v] + 2 * (verseEnd[v - 1] - verseStart[v - 1]);
                vCount = v;
            }
        });
    }

    var _trackTimeChanged = function (audio) {
        var currentTime = audio.currentTime;

        if (currentTime > 0) {
            for (var i = 0; i <= vCount; i++) {
                if (currentTime >= verseStart[i] && currentTime <= verseEnd[i]) {
                    hilightverse(verseIndex[i], "red", true, playerScrollLock);

                    if (nLastHighlight != verseIndex[i] && nLastHighlight != -1)
                        hilightverse(nLastHighlight, "black", false, false);
                    nLastHighlight = verseIndex[i];
                    break;
                }
            }
        }
    };
</script>

<div class="container">
    @for (var nRecitationIndex = 0; nRecitationIndex < Model.Recitations.Length; nRecitationIndex++)
    {
        var recitaion = Model.Recitations[nRecitationIndex];
        <div class="audio-player">
            <audio id="audio-@(nRecitationIndex + 1)" preload="none" controls>
                <source src="@recitaion.Mp3Url" title="@($"{recitaion.AudioTitle} به خوانش {recitaion.AudioArtist}")" data-track-number="@(nRecitationIndex + 1)" />
                مرورگر شما از پخش صدای HTML 5 پشتیبانی نمی‌کند.
            </audio>
            <div class="recitaion-info">
                <a role="button" onclick="document.getElementById('audio-@(nRecitationIndex + 1)').play()" class="actionlink">@recitaion.AudioTitle</a> @Html.Raw(Model.getAudioDesc(recitaion, nRecitationIndex == 0))
            </div>
            <script>
                document.getElementById('audio-@(nRecitationIndex + 1)').addEventListener('play', () => {
                    var audioList = document.querySelectorAll('audio');
                    audioList.forEach(function(audioElement) {
                      if(audioElement != document.getElementById('audio-@(nRecitationIndex + 1)')){
                          audioElement.pause();
                      }
                    });

                    _setXml('@($"{GanjooRazor.APIRoot.InternetUrl}/api/audio/file/{recitaion.Id}.xml")');
                });

                 document.getElementById('audio-@(nRecitationIndex + 1)').addEventListener('timeupdate', () => {
                    _trackTimeChanged(document.getElementById('audio-@(nRecitationIndex + 1)'));
                });
            </script>
        </div>
    }
</div>


