@model GanjooRazor.Pages._BNumPartialModel
@{
    Layout = null;
}
<div id="play-block-@Model.CoupletIndex" style="width: 100%;">
    <select id="narrators-@Model.CoupletIndex" style="width:49%;float:right"></select>
    <a role="button" id="listen-@Model.CoupletIndex" style="cursor: pointer; width: 49%; color: white; background-color: #300; display: block; text-align: center; border-color: #300; padding:1px; float:left; margin-top:3px; " onclick="playCouplet(@Model.CoupletIndex)">از اینجا بخواند</a>
</div>
<script>
    fillnarrations('@Model.CoupletIndex');
</script>

<div id="comments-block-@Model.CoupletIndex" style="clear:both">
    @foreach (var comment in Model.Comments)
    {
        <partial name="_CommentPartial" model=Model.GetCommentModel(comment) />
    }
</div>
@if (Model.LoggedIn)
{
    <script>
        tinymce.init({
            selector: 'textarea.editorbnum',
            language: 'fa_IR',
            menubar: false,
            plugins: 'link paste',
            toolbar: 'undo redo | alignleft aligncenter alignright alignjustify | outdent indent | link',
            paste_auto_cleanup_on_paste: true,
            paste_remove_styles: true,
            paste_remove_styles_if_webkit: true,
            paste_strip_class_attributes: true,
        });
    </script>
    <form method="post" id="commentform-@Model.CoupletIndex" action="?handler=Comment">
        <fieldset>
            <legend>💬 دربارهٔ این خط حاشیه بگذارید ...</legend>
            <table style="max-width:100%; width:100%; margin:0">
                <tr>
                    <td>
                        <div class="required">
                            <textarea name="comment" class="inputTextarea editorbnum" tabindex="4" rows="10" style="width:100%"></textarea>
                        </div>
                        <input type="hidden" name="poemId" value="@Model.PoemId" />
                        <input type="hidden" name="coupletIndex" value="@Model.CoupletIndex" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <button name="postcomment-@Model.CoupletIndex" id="postcomment-@Model.CoupletIndex" class="inputSubmit" onclick="return postComment('@Model.CoupletIndex', '#postcomment-@Model.CoupletIndex');" style="width:100%">درج حاشیه</button>
                    </td>
                </tr>
            </table>
        </fieldset>

    </form>
}
else
{
    <p>
        در صورت ثبت نام و ورود به گنجور می‌توانید برای این بیت/مصرع/پاراگراف حاشیه بنویسید.
    </p>
}

