@model GanjooRazor.Pages._CategoryWordsCountTablePartialModel
@using DNTPersianUtils.Core
@using System.Globalization
@{
}

@if (Model.TotalWordCount == 0) return;

<table class="stats" id="words-stats">
    <thead>
        <tr class="h">
            <td class="c1">ردیف</td>
            <td class="c2">واژه</td>
            <td class="c3">شمار</td>
            <td class="c4">درصد از کل</td>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.WordCounts.Length; i++)
        {
            @if (i % 2 == 0)
            {
                <tr class="e">
                    <td class="c1">@Model.WordCounts[i].RowNmbrInCat.ToPersianNumbers()</td>
                    @if (Model.PoetId == -1)
                    {
                        <td class="c2">@Model.WordCounts[i].Word</td>
                    }
                    else
                    {
                        <td class="c2"><a href="/search?s=@Model.WordCounts[i].Word&author=@Model.PoetId&cat=@Model.CatId">@Model.WordCounts[i].Word</a></td>
                    }
                    <td class="c3">@RMuseum.Services.Implementation.LanguageUtils.FormatMoney(Model.WordCounts[i].Count)</td>
                    <td class="c4">@((Model.WordCounts[i].Count * 100.0 / Model.TotalWordCount).ToString("N4", new CultureInfo("fa-IR")).ToPersianNumbers())</td>
                </tr>

            }
            else
            {
                <tr>
                    <td class="c1">@Model.WordCounts[i].RowNmbrInCat.ToPersianNumbers()</td>
                    @if (Model.PoetId == -1)
                    {
                        <td class="c2">@Model.WordCounts[i].Word</td>
                    }
                    else
                    {
                        <td class="c2"><a href="/search?s=@Model.WordCounts[i].Word&author=@Model.PoetId&cat=@Model.CatId">@Model.WordCounts[i].Word</a></td>
                    }

                    <td class="c3">@RMuseum.Services.Implementation.LanguageUtils.FormatMoney(Model.WordCounts[i].Count)</td>
                    <td class="c4">@((Model.WordCounts[i].Count * 100.0 / Model.TotalWordCount).ToString("N4", new CultureInfo("fa-IR")).ToPersianNumbers())</td>
                </tr>
            }
        }
    </tbody>
</table>
