@model GanjooRazor.Pages._CategoryWordsCountTablePartialModel
@using DNTPersianUtils.Core
@{
}

<table>
    <tr class="h">
        <td class="c1">ردیف</td>
        <td class="c2">واژه</td>
        <td class="c3">شمار</td>
    </tr>
    @for (int i = 0; i < Model.WordCounts.Length; i++)
    {
        @if (i % 2 == 0)
        {
            <tr class="e">
                <td class="c1">@Model.WordCounts[i].RowNmbrInCat.ToPersianNumbers()</td>
                <td class="c2"><a href="/search?s=@Model.WordCounts[i].Word&author=@Model.PoetId&cat=@Model.CatId">@Model.WordCounts[i].Word</a></td>
                <td class="c3">@RMuseum.Services.Implementation.LanguageUtils.FormatMoney(Model.WordCounts[i].Count)</td>
            </tr>

        }
        else
        {
            <tr>
                <td class="c1">@Model.WordCounts[i].RowNmbrInCat.ToPersianNumbers()</td>
                <td class="c2"><a href="/search?s=@Model.WordCounts[i].Word&author=@Model.PoetId&cat=@Model.CatId">@Model.WordCounts[i].Word</a></td>
                <td class="c3">@RMuseum.Services.Implementation.LanguageUtils.FormatMoney(Model.WordCounts[i].Count)</td>
            </tr>
        }
    }
</table>
