@model GanjooRazor.Pages._CommentPartialModel
@using DNTPersianUtils.Core
@{
    Layout = null;
}

@if (Model.Comment == null)
{
    <div class="item" id="comment-error">
        <p style="color:red">خطا</p>
        @Html.Raw(Model.Error)
    </div>
}
else
{
    <div class="ganjoor-comment" id="comment-@Model.Comment.Id@Model.DivSuffix">
        @if (!string.IsNullOrEmpty(Model.Comment.PublishStatus))
        {
            <div class="red-color">@Model.Comment.PublishStatus</div>
        }

        @if (Model.Comment.UserId != null)
        {
            <div class="comment-author"><a href="/hashieha/?userid=@Model.Comment.UserId">@(string.IsNullOrEmpty(Model.Comment.AuthorName) ? "#" : Model.Comment.AuthorName)</a> <small>در @Html.Raw($"{Model.Comment.CommentDate.ToFriendlyPersianDateTextify()}")</small> @Model.Wrote:</div>
        }
        else
        {
            <div class="comment-author">@(string.IsNullOrEmpty(Model.Comment.AuthorName) ? "ناشناس" : Model.Comment.AuthorName) <small>در @Html.Raw($"{Model.Comment.CommentDate.ToFriendlyPersianDateTextify()}")</small> @Model.Wrote:</div>
        }

        @if (Model.Comment.CoupletIndex != -1)
        {
            <div class="commentquote">دربارهٔ <a href="@($"#bn{Model.Comment.CoupletIndex + 1}")">@Model.Comment.CoupletSummary</a></div>
        }

        <blockquote id="comment-text-@Model.Comment.Id@Model.DivSuffix">
            @Html.Raw(Model.Comment.HtmlComment)
        </blockquote>
        <p>
            @if (Model.Comment.MyComment)
            {
                <a role="button" title="حذف حاشیه" onclick="deleteMyComment(@Model.Comment.Id, '@Model.Comment.CoupletIndex')"><i class="notranslate pageicons">delete</i></a>
                <a role="button" title="ویرایش حاشیه" onclick="editMyComment(@Model.Comment.Id, '@Model.Comment.CoupletIndex')"><i class="notranslate pageicons">edit</i></a>
            }

            <a role="button" title="پاسخگویی به این حاشیه" onclick="replyComment(@Model.Comment.Id, @(Model.LoggedIn ? "true" : "false"), '@Model.DivSuffix')"><i class="notranslate pageicons">reply</i></a>
            <a href="/ReportComment/?CommentId=@Model.Comment.Id" title="گزارش حاشیهٔ نامناسب" onclick="wpopen(this.href); return false"><i class="notranslate pageicons">flag</i></a>
            <a role="button" href="رونوشت نشانی حاشیه" onclick="copyCommentUrl(@Model.Comment.Id, '@Model.DivSuffix')"><i class="notranslate pageicons">link</i></a>
            @if (Model.LoggedIn)
            {
                <a role="button" href="نشان کردن / حذف نشان" id="bookmark-comment-@Model.Comment.Id@Model.DivSuffix" class="cursor-pointer" onclick="switchBookmark(@Model.PoemId, -@Model.Comment.Id, '@Model.DivSuffix')"><i class="notranslate pageicons" id="bookmark-icon-comment-@Model.Comment.Id@Model.DivSuffix">@(@Model.Comment.IsBookmarked ? "star" : "star_border")</i></a>
            }
        </p>
        <div class='spacer'>&nbsp;</div>
        @foreach (var reply in Model.Comment.Replies)
        {
            <partial name="_CommentPartial" model=Model.GetCommentModel(reply) />
        }
    </div>
}


