@model GanjooRazor.Pages._GroupedByDateViewTablePartialModel
@using DNTPersianUtils.Core
@using System.Globalization
@{
}
@if (Model.Days == null || Model.Days.Length == 0) return;

<div class="pagination-controls">
    <button id="dailyPrevPage" class="btn btn-primary" onclick="loadDailyPage('prev')" disabled>صفحهٔ قبل</button>
    <span id="dailyCurrentPage">در حال بارگذاری...</span>
    <button id="dailyNextPage" class="btn btn-primary" onclick="loadDailyPage('next')">صفحهٔ بعد</button>
</div>
<table class="stats" id="grouped-by-date">
    <thead>
        <tr class="h">
            <td class="c1">ردیف</td>
            <td class="c2">تاریخ</td>
            <td class="c3">تعداد</td>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Days.Length; i++)
        {
            @if (i % 2 == 0)
            {
                <tr class="e">
                    <td class="c1">@((i+1).ToPersianNumbers())</td>
                    <td class="c2">@RMuseum.Services.Implementation.LanguageUtils.FormatInShortDate(DateTime.Parse(Model.Days[i].Date))</td>
                    <td class="c3">@RMuseum.Services.Implementation.LanguageUtils.FormatMoney(Model.Days[i].Number)</td>
                </tr>

            }
            else
            {
                <tr>
                    <td class="c1">@((i + 1).ToPersianNumbers())</td>
                    <td class="c2">@RMuseum.Services.Implementation.LanguageUtils.FormatInShortDate(DateTime.Parse(Model.Days[i].Date))</td>
                    <td class="c3">@RMuseum.Services.Implementation.LanguageUtils.FormatMoney(Model.Days[i].Number)</td>
                </tr>
            }
        }
    </tbody>
</table>

@if (Model.Users == null || Model.Users.Length == 0) return;

<table class="stats" id="grouped-by-user">
    <thead>
        <tr class="h">
            <td class="c1">ردیف</td>
            <td class="c2">کاربر</td>
            <td class="c3">تعداد</td>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Users.Length; i++)
        {
            @if (i % 2 == 0)
            {
                <tr class="e">
                    <td class="c1">@((i + 1).ToPersianNumbers())</td>
                    <td class="c2"><a href="/hashieha/?userid=@Model.Users[i].UserId">@Model.Users[i].UserName</a></td>
                    <td class="c3">@RMuseum.Services.Implementation.LanguageUtils.FormatMoney(Model.Users[i].Number)</td>
                </tr>

            }
            else
            {
                <tr>
                    <td class="c1">@((i + 1).ToPersianNumbers())</td>
                    <td class="c2"><a href="/hashieha/?userid=@Model.Users[i].UserId">@Model.Users[i].UserName</a></td>
                    <td class="c3">@RMuseum.Services.Implementation.LanguageUtils.FormatMoney(Model.Users[i].Number)</td>
                </tr>
            }
        }
    </tbody>
</table>

