@model GanjooRazor.Pages.LoginPartialEnabledPageModel
@using DNTPersianUtils.Core


<div id="main-navbar" role="navigation">

    <div class="clear-both">
        <div class="float-right display-inline-flex width-76px">
            <a onclick="switchSticky()" role="button" class="cursor-pointer" title="چسبانی">
                <div class="noborder-btn color-white">
                    <svg id="pin_button" class="noindent-info-button" height="24px" viewBox="0 0 24 24" width="24px"><g><rect fill="none" height="24" width="24" /></g><g><path d="M14,4v5c0,1.12,0.37,2.16,1,3H9c0.65-0.86,1-1.9,1-3V4H14 M17,2H7C6.45,2,6,2.45,6,3c0,0.55,0.45,1,1,1c0,0,0,0,0,0l1,0v5 c0,1.66-1.34,3-3,3v2h5.97v7l1,1l1-1v-7H19v-2c0,0,0,0,0,0c-1.66,0-3-1.34-3-3V4l1,0c0,0,0,0,0,0c0.55,0,1-0.45,1-1 C18,2.45,17.55,2,17,2L17,2z" /></g></svg>
                </div>
            </a>

            @if (Model.GanjoorPage != null && Model.GanjoorPage.Poem != null)
            {
                <a onclick="w3_open()" role="button" class="cursor-pointer" title="ابزارها">
                    <div class="noborder-btn color-white">
                        <svg class="noindent-info-button mirror spinnerIcon color-yellow" height="24px" viewBox="0 0 24 24" width="24px"><path d="M0 0h24v24H0V0z" fill="none" /><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" /></svg>
                    </div>
                </a>
            }
            else
            {
                <a onclick="document.getElementById('navbarhelp').style.display='block'" role="button" class="cursor-pointer" title="راهنما">
                    <div class="noborder-btn color-white">
                        <svg class="noindent-info-button" height="24px" viewBox="0 0 24 24" width="24px"><path d="M0 0h24v24H0V0z" fill="none" /><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 17h-2v-2h2v2zm2.07-7.75l-.9.92C13.45 12.9 13 13.5 13 15h-2v-.5c0-1.1.45-2.1 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41 0-1.1-.9-2-2-2s-2 .9-2 2H8c0-2.21 1.79-4 4-4s4 1.79 4 4c0 .88-.36 1.68-.93 2.25z" /></svg>
                    </div>
                </a>
            }


        </div>

        @if (Model.LoggedIn)
        {
            <a href="/User" role="button" class="cursor-pointer" title="پیشخان کاربر">
                <div class="circled-number">
                    <svg class="noindent-info-button" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#5f6368"><g><path d="M0,0h24v24H0V0z" fill="none" /></g><g><g><path d="M4,18v-0.65c0-0.34,0.16-0.66,0.41-0.81C6.1,15.53,8.03,15,10,15c0.03,0,0.05,0,0.08,0.01c0.1-0.7,0.3-1.37,0.59-1.98 C10.45,13.01,10.23,13,10,13c-2.42,0-4.68,0.67-6.61,1.82C2.51,15.34,2,16.32,2,17.35V20h9.26c-0.42-0.6-0.75-1.28-0.97-2H4z" /><path d="M10,12c2.21,0,4-1.79,4-4s-1.79-4-4-4C7.79,4,6,5.79,6,8S7.79,12,10,12z M10,6c1.1,0,2,0.9,2,2s-0.9,2-2,2 c-1.1,0-2-0.9-2-2S8.9,6,10,6z" /><path d="M20.75,16c0-0.22-0.03-0.42-0.06-0.63l1.14-1.01l-1-1.73l-1.45,0.49c-0.32-0.27-0.68-0.48-1.08-0.63L18,11h-2l-0.3,1.49 c-0.4,0.15-0.76,0.36-1.08,0.63l-1.45-0.49l-1,1.73l1.14,1.01c-0.03,0.21-0.06,0.41-0.06,0.63s0.03,0.42,0.06,0.63l-1.14,1.01 l1,1.73l1.45-0.49c0.32,0.27,0.68,0.48,1.08,0.63L16,21h2l0.3-1.49c0.4-0.15,0.76-0.36,1.08-0.63l1.45,0.49l1-1.73l-1.14-1.01 C20.72,16.42,20.75,16.22,20.75,16z M17,18c-1.1,0-2-0.9-2-2s0.9-2,2-2s2,0.9,2,2S18.1,18,17,18z" /></g></g></svg>
                </div>
            </a>
            <a href="/User/MyBookmarks" role="button" class="cursor-pointer" title="نشان‌شده‌های من">
                <div class="circled-number">
                    <svg class="noindent-info-button" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#5f6368"><rect fill="none" height="24" width="24" /><path d="m11 8.89.94 3.11h2.82l-2.27 1.62.93 3.01L11 14.79l-2.42 1.84.93-3.01L7.24 12h2.82L11 8.89zM8.58 10H1l6.17 4.41L4.83 22 11 17.31 17.18 22l-2.35-7.59L21 10h-7.58L11 2l-2.42 8zm12.78 12-1.86-6.01L23.68 13h-3.44l-3.08 2.2 1.46 4.72L21.36 22zM17 8l-1.82-6-1.04 3.45.77 2.55H17z" /></svg>
                </div>
            </a>
            <a href="/User/Notifications" role="button" class="w3tooltip cursor-pointer">
                <div class="circled-number">
                    <i class="notranslate noindent-info-button notifications-icon"><span id="notification-badge" class="display-none"></span></i>
                </div>
                <span class="w3tooltiptext">اعلان‌های من</span>
            </a>
            <a href="/User/History" role="button" class="cursor-pointer" title="ادامهٔ مطالعه">
                <div class="circled-number">
                    <svg class="noindent-info-button" height="24px" viewBox="0 0 24 24" width="24px" fill="#5f6368"><path d="M0 0h24v24H0V0z" fill="none" /><path d="M13 3c-4.97 0-9 4.03-9 9H1l3.89 3.89.07.14L9 12H6c0-3.87 3.13-7 7-7s7 3.13 7 7-3.13 7-7 7c-1.93 0-3.68-.79-4.94-2.06l-1.42 1.42C8.27 19.99 10.51 21 13 21c4.97 0 9-4.03 9-9s-4.03-9-9-9zm-1 5v5l4.25 2.52.77-1.28-3.52-2.09V8z" /></svg>
                </div>
            </a>

            <a href="/login" role="button" class="cursor-pointer" title="خروج">
                <div class="circled-number">
                    <svg class="noindent-info-button" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#5f6368"><g><rect fill="none" height="24" width="24" /></g><g><g><path d="M12,2C6.48,2,2,6.48,2,12c0,5.52,4.48,10,10,10s10-4.48,10-10C22,6.48,17.52,2,12,2z M12,20c-4.42,0-8-3.58-8-8 s3.58-8,8-8s8,3.58,8,8S16.42,20,12,20z" /><path d="M13.54,8.97c-0.23-0.47-0.76-0.71-1.26-0.53L9,9.65V12h1v-1.65l1.54-0.57l-0.96,4.89L7.8,14.1l-0.2,0.98l3.76,0.77 l0.52-2.64L13,14.42V18h1v-3.97l-1.32-1.44l0.41-2.35C13.99,11.46,15.3,12,16,12v-1C15.59,11,14.37,10.67,13.54,8.97z" /><circle cx="13.5" cy="7" r="1" /></g></g></svg>
                </div>
            </a>
        }
        else
        {
            <a onclick="document.getElementById('id01').style.display='block'" role="button" class="cursor-pointer pagebutton" style="display:inline-table;border: 3px solid black">
                ورود کاربر / نام‌نویسی
                <svg class="noindent-info-button" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#5f6368"><g><rect fill="none" height="24" width="24" /></g><g><g><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM7.35 18.5C8.66 17.56 10.26 17 12 17s3.34.56 4.65 1.5c-1.31.94-2.91 1.5-4.65 1.5s-3.34-.56-4.65-1.5zm10.79-1.38C16.45 15.8 14.32 15 12 15s-4.45.8-6.14 2.12C4.7 15.73 4 13.95 4 12c0-4.42 3.58-8 8-8s8 3.58 8 8c0 1.95-.7 3.73-1.86 5.12z" /><path d="M12 6c-1.93 0-3.5 1.57-3.5 3.5S10.07 13 12 13s3.5-1.57 3.5-3.5S13.93 6 12 6zm0 5c-.83 0-1.5-.67-1.5-1.5S11.17 8 12 8s1.5.67 1.5 1.5S12.83 11 12 11z" /></g></g></svg>
            </a>
        }

        <div class="float-left display-inline-flex width-76px">

            <a href="#footer" role="button" class="cursor-pointer" title="پایین صفحه">
                <div class="noborder-btn">
                    <svg class="noindent-info-button" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#5f6368"><g><rect fill="none" height="24" width="24" /><path d="M12,4c4.41,0,8,3.59,8,8s-3.59,8-8,8s-8-3.59-8-8S7.59,4,12,4 M12,2C6.48,2,2,6.48,2,12c0,5.52,4.48,10,10,10 c5.52,0,10-4.48,10-10C22,6.48,17.52,2,12,2L12,2z M13,12l0-4h-2l0,4H8l4,4l4-4H13z" /></g></svg>
                </div>
            </a>

            <a href="#" role="button" class="cursor-pointer" title="بالای صفحه">
                <div class="noborder-btn">
                    <svg class="noindent-info-button" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#5f6368"><g><rect fill="none" height="24" width="24" /><path d="M12,20c-4.41,0-8-3.59-8-8s3.59-8,8-8s8,3.59,8,8S16.41,20,12,20 M12,22c5.52,0,10-4.48,10-10c0-5.52-4.48-10-10-10 C6.48,2,2,6.48,2,12C2,17.52,6.48,22,12,22L12,22z M11,12l0,4h2l0-4h3l-4-4l-4,4H11z" /></g></svg>
                </div>
            </a>

        </div>

    </div>

    @if (Model.GanjoorPage != null && Model.GanjoorPage.Poem != null)
    {
        <div class="clear-both margin-15px" id="main-inline-div" style="display:none">
            <input type="search" name="inline-search" id="inline-search" class="text-align-center" placeholder="جستجو در متن" size="20" value="" onkeyup="inlineHighlight()">
            <a onclick="inlineUnHighlight()" role="button" class="cursor-pointer">
                <i class="notranslate noindent-info-button close-button"></i>
            </a>
            <a onclick="nextInlineSearchResult()" role="button" class="cursor-pointer">
                <i class="notranslate noindent-info-button next-inline-result"></i>
            </a>
            <a onclick="prevInlineSearchResult()" role="button" class="cursor-pointer">
                <i class="notranslate noindent-info-button prev-inline-result"></i>
            </a>
            <div id="inline-search-matches" class="inline-small"></div>
        </div>
    }

</div>


@if (Model.GanjoorPage != null && Model.GanjoorPage.Poem != null)
{

    <div class="w3-sidebar w3-bar-block" style="display:none;z-index:5" id="mySidebar">
        <button class="w3-bar-item w3-button w3-xxlarge sticky sidebar-close" onclick="w3_close()">بستن &times;</button>

        @if (Model.LoggedIn)
        {
           
            <div class="w3-bar-item w3-button">
                <a href="/User/Editor?id=@Model.GanjoorPage.Id" role="button" class="cursor-pointer">
                    <div class="circled-number">
                        <i class="notranslate noindent-info-button edit-poem-button"></i>
                    </div>
                    ویرایش شعر
                </a>
            </div>
        }

      

        <div class="w3-bar-item w3-button">
            <a onclick="copyPoemLink()" role="button" class="cursor-pointer">
                <div class="circled-number">
                    <i class="notranslate noindent-info-button copylink-icon"></i>
                </div>
                <span class="w3tooltiptext">رونوشت نشانی</span>
            </a>
        </div>

        <div class="w3-bar-item w3-button">
            <a onclick="copyPoemText()" role="button" class="cursor-pointer">
                <div class="circled-number">
                    <i class="notranslate noindent-info-button copytext-icon"></i>
                </div>
                <span class="w3tooltiptext">رونوشت متن</span>
            </a>
        </div>

        

        @if (Model.SectionsWithMetreAndRhymes != null)
        {
            @if (Model.SectionsWithMetreAndRhymes.Any())
            {
                <text>
                    <div class="w3-bar-item w3-button">
                        <a href="@Html.Raw($"/simi/?v={Uri.EscapeDataString(Model.SectionsWithMetreAndRhymes.First().GanjoorMetre.Rhythm)}&amp;g={Uri.EscapeDataString(Model.SectionsWithMetreAndRhymes.First().RhymeLetters)}")" role="button" class="cursor-pointer">
                            <div class="circled-number">
                                <i class="notranslate noindent-info-button rhyming-poems"></i>
                            </div>
                            مشابه‌یابی بر اساس وزن و قافیه
                        </a>
                    </div>
                </text>

                @for (int nSectionIndex = 1; nSectionIndex < Model.SectionsWithMetreAndRhymes.Count; nSectionIndex++)
                {
                    <div class="w3-bar-item w3-button">
                        <text>
                            <a href="@Html.Raw($"/simi/?v={Uri.EscapeDataString(Model.SectionsWithMetreAndRhymes[nSectionIndex].GanjoorMetre.Rhythm)}&amp;g={Uri.EscapeDataString(Model.SectionsWithMetreAndRhymes[nSectionIndex].RhymeLetters)}")" role="button" class="cursor-pointer">
                                <div class="circled-number">
                                    <i class="notranslate noindent-info-button rhyming-poems"></i>
                                </div>
                                موارد هم آهنگ (وزن @((nSectionIndex + 1).ToPersianNumbers()))
                            </a>
                        </text>
                    </div>
                }
            }
        }


        <div class="w3-bar-item w3-button">
            <a onclick="w3_close()" href="#tools" role="button" class="cursor-pointer">
                <div class="circled-number">
                    <i class="notranslate noindent-info-button menu-icon"></i>
                </div>
                اطلاعات شعر
            </a>
        </div>


        <div class="w3-bar-item w3-button">
            <a onclick="w3_close()" href="#discussions" role="button" class="cursor-pointer">
                <div class="circled-number">
                    <i class="notranslate noindent-info-button recitation-comments"></i>
                </div>
                حاشیه‌های شعر
            </a>
        </div>

        <div class="w3-bar-item w3-button">
            <a onclick="w3_close()" href="#manuscripts" role="button" class="cursor-pointer">
                <div class="circled-number">
                    <i class="notranslate noindent-info-button recitation-manuscripts"></i>
                </div>
                تصاویر نسخه‌های خطی و چاپی
            </a>
        </div>

        <div class="w3-bar-item w3-button">
            <a onclick="w3_close()" href="#songs" role="button" class="cursor-pointer">
                <div class="circled-number">
                    <i class="notranslate noindent-info-button recitation-music"></i>
                </div>
                آهنگ‌های مرتبط با شعر
            </a>
        </div>

        @if (Model.SectionsWithRelated.Count > 0)
        {
            <div class="w3-bar-item w3-button">
                <a onclick="w3_close()" href="#rpoems" role="button" class="cursor-pointer">
                    <div class="circled-number">
                        <i class="notranslate noindent-info-button balance"></i>
                    </div>
                    شعرهای هم‌وزن و هم‌قافیه
                </a>
            </div>
        }

        @if (Model.GanjoorPage.Poem.Recitations.Where(a => a.RecitationType == RMuseum.Models.GanjoorAudio.RecitationType.Normal).Any())
        {
            <div class="w3-bar-item w3-button">
                <a onclick="w3_close()" href="#recitations" role="button" class="cursor-pointer">
                    <div class="circled-number">
                        <i class="notranslate noindent-info-button recitation-listen"></i>
                    </div>
                    روخوانی‌های شعر
                </a>
            </div>
        }

        @if (Model.GanjoorPage.Poem.Recitations.Where(a => a.RecitationType == RMuseum.Models.GanjoorAudio.RecitationType.Commentary).Any())
        {
            <div class="w3-bar-item w3-button">
                <a onclick="w3_close()" href="#commentaries" role="button" class="cursor-pointer">
                    <div class="circled-number">
                        <i class="notranslate noindent-info-button commentary-listen"></i>
                    </div>
                    شرح‌های صوتی
                </a>
            </div>
        }

        @if (Model.GanjoorPage.Poem.Recitations.Any())
        {
            
            <div class="w3-bar-item w3-button">
                <a onclick="switchPlayerScrollLock()" role="button" class="cursor-pointer">
                    <div class="circled-number">
                        <i class="notranslate noindent-info-button recitation-scrollunlock"></i>
                    </div>
                    قفل روی خوانش
                </a>
            </div>
        }


        <div class="w3-bar-item w3-button">
            <a href="/t6e?p=@Model.GanjoorPage.Id" role="button" class="cursor-pointer" target="_blank">
                <div class="circled-number">
                    <i class="notranslate noindent-info-button print"></i>
                </div>
                نمای چاپی‌مانند
            </a>
        </div>

        @if (!string.IsNullOrEmpty(Model.PreviousUrl))
        {
            <div class="w3-bar-item w3-button">
                <a href="@Html.Raw(Model.PreviousUrl)" role="button" class="cursor-pointer">
                    <div class="circled-number">
                        <i class="notranslate noindent-info-button right-btn"></i>
                    </div>
                    شعر قبلی
                </a>
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.NextUrl))
        {
            <div class="w3-bar-item w3-button">
                <a href="@Html.Raw(Model.NextUrl)" role="button" class="w3tooltip cursor-pointer">
                    <div class="circled-number">
                        <i class="notranslate noindent-info-button left-btn"></i>
                    </div>
                    شعر بعدی
                </a>
            </div>
        }

        <div class="w3-bar-item w3-button">
            <a onclick="w3_close_showHelp();" role="button" class="cursor-pointer">
                <div class="circled-number">
                    <i class="notranslate noindent-info-button help-button mirror"></i>
                </div>
                راهنمای سریع
            </a>
        </div>


        

    </div>


}

@if (Model.LoggedIn)
{
    <script>
        CheckIfHasNotificationsForHomePage();
    </script>
}
else
{
    <!-- The Modal -->
    <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'"
          class="close" title="بستن">&times;</span>

        <!-- Modal Content -->
        <form class="modal-content animate" method="post" action="?handler=Login">
            <div class="imgcontainer">
                <img src="/image/login.png" alt="گنجور" class="avatar">
            </div>
            <table style="width:100%">
                <tr>
                    <td colspan="2">
                        <h2>
                            ورود به گنجور
                        </h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="inputlabel">پست الکترونیکی: </span>
                    </td>
                    <td>
                        <input type="email" style="text-align:left;direction:ltr;width:100%" placeholder="پست الکترونیکی" asp-for="LoginViewModel.Username">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="inputlabel">گذرواژه: </span>
                    </td>
                    <td>
                        <input type="password" id="password" style="text-align:left;direction:ltr;width:100%" placeholder="گذرواژه" asp-for="LoginViewModel.Password">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" name="submit" style="width:100%;cursor:pointer" id="submit" value="ورود"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <table style="width:100%; margin:0">
                            <tr>
                                <td>
                                    <input type="button" onclick="location.href='/signup'" class="cancelbtn" style="width:100%;text-align:center;cursor:pointer" value="نام‌نویسی">
                                </td>
                                <td>
                                    <input type="button" onclick="location.href='/resetpassword'" class="cancelbtn" style="width:100%;text-align:center;cursor:pointer" value="فراموشی گذرواژه">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input type="button" onclick="document.getElementById('id01').style.display='none'" style="width: 100%; text-align: center; cursor: pointer" value="انصراف">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p>
                            اگر پیش‌تر در <a href="https://museum.ganjoor.net" target="_blank">گنجینه</a> یا <a href="https://gaudiopanel.ganjoor.net" target="_blank">پیشخان خوانشگران</a> گنجور نام‌نویسی کرده‌اید می‌توانید با همان اطلاعات کاربری به گنجور وارد شوید.
                        </p>
                    </td>
                </tr>

            </table>

        </form>

    </div>
}

<div id="navbarhelp" class="modal">
    <span onclick="document.getElementById('navbarhelp').style.display='none'"
          class="close red-color" title="بستن">&times;</span>

    <!-- Modal Content -->
    <div class="modal-content animate">
        <table class="width-100per">
            <tr>
                <td>
                    <div class="navbar-help-button">
                        <i class="notranslate noindent-info-button pin-button"></i>
                    </div>
                </td>
                <td>
                    غیرفعال و فعال کردن دوبارهٔ حالت چسبانی نوار ابزار به بالای صفحات
                </td>
            </tr>
            <tr>
                <td>
                    <div class="navbar-help-button">
                        <i class="notranslate noindent-info-button help-button mirror"></i>
                    </div>
                </td>
                <td>
                    راهنمای نوار ابزار
                </td>
            </tr>
            <tr>
                <td>
                    <div class="navbar-help-button">
                        <i class="notranslate noindent-info-button user-home-icon"></i>
                    </div>
                </td>
                <td>
                    پیشخان کاربر
                </td>
            </tr>
            <tr>
                <td>
                    <div class="navbar-help-button">
                        <i class="notranslate noindent-info-button bookmarks-icon"></i>
                    </div>
                </td>
                <td>
                    اشعار و ابیات نشان‌شدهٔ کاربر
                </td>
            </tr>
            <tr>
                <td>
                    <div class="navbar-help-button">
                        <i class="notranslate noindent-info-button notifications-icon"></i>
                    </div>
                </td>
                <td>
                    اعلان‌های کاربر
                </td>
            </tr>
            <tr>
                <td>
                    <div class="navbar-help-button">
                        <i class="notranslate noindent-info-button history-icon"></i>
                    </div>
                </td>
                <td>
                    ادامهٔ مطالعه (تاریخچه)
                </td>
            </tr>
            <tr>
                <td>
                    <div class="navbar-help-button">
                        <i class="notranslate noindent-info-button logout-icon"></i>
                    </div>
                </td>
                <td>
                    خروج از حساب کاربری گنجور
                </td>
            </tr>
            <tr>
                <td>
                    <div class="navbar-help-button">
                        <i class="notranslate noindent-info-button down-btn"></i>
                    </div>
                </td>
                <td>
                    لغزش به پایین صفحه
                </td>
            </tr>
            <tr>
                <td>
                    <div class="navbar-help-button">
                        <i class="notranslate noindent-info-button up-btn"></i>
                    </div>
                </td>
                <td>
                    لغزش به بالای صفحه
                </td>
            </tr>
            <tr>
                <td>
                    <div class="navbar-help-button">
                        <i class="notranslate noindent-info-button menu-icon"></i>
                    </div>
                </td>
                <td>
                    لغزش به بخش اطلاعات شعر
                </td>
            </tr>
            <tr>
                <td>
                    <div class="navbar-help-button">
                        <i class="notranslate noindent-info-button recitation-comments"></i>
                    </div>
                </td>
                <td>
                    لغزش به بخش حاشیه‌های شعر
                </td>
            </tr>
            <tr>
                <td>
                    <div class="navbar-help-button">
                        <i class="notranslate noindent-info-button menu-book"></i>
                    </div>
                </td>
                <td>
                    لغزش به بخش تصاویر نسخه‌های خطی، چاپی و نگاره‌های هنری مرتبط با شعر
                </td>
            </tr>
            <tr>
                <td>
                    <div class="navbar-help-button">
                        <i class="notranslate noindent-info-button recitation-music"></i>
                    </div>
                </td>
                <td>
                    لغزش به بخش ترانه‌ها و قطعات موسیقی مرتبط با شعر
                </td>
            </tr>
            <tr>
                <td>
                    <div class="navbar-help-button">
                        <i class="notranslate noindent-info-button balance"></i>
                    </div>
                </td>
                <td>
                    لغزش به بخش شعرهای هم‌آهنگ
                </td>
            </tr>
            <tr>
                <td>
                    <div class="navbar-help-button">
                        <i class="notranslate noindent-info-button recitation-listen"></i>
                    </div>
                </td>
                <td>
                    لغزش به بخش خوانش‌های شعر
                </td>
            </tr>
            <tr>
                <td>
                    <div class="navbar-help-button">
                        <i class="notranslate noindent-info-button commentary-listen"></i>
                    </div>
                </td>
                <td>
                    لغزش به بخش شرح‌های صوتی
                </td>
            </tr>
            <tr>
                <td>
                    <div class="navbar-help-button">
                        <i class="notranslate noindent-info-button recitation-scrollunlock"></i>
                    </div>
                </td>
                <td>
                    فعال یا غیرفعال کردن لغزش خودکار به خط مرتبط با محل فعلی خوانش
                </td>
            </tr>
            <tr>
                <td>
                    <div class="navbar-help-button">
                        <i class="notranslate noindent-info-button format_list_numbered_rtl"></i>
                    </div>
                </td>
                <td>
                    فعال یا غیرفعال کردن شماره‌گذاری خطوط
                </td>
            </tr>
            <tr>
                <td>
                    <div class="navbar-help-button">
                        <i class="notranslate noindent-info-button copylink-icon"></i>
                    </div>
                </td>
                <td>
                    کپی نشانی شعر جاری در گنجور
                </td>
            </tr>
            <tr>
                <td>
                    <div class="navbar-help-button">
                        <i class="notranslate noindent-info-button copytext-icon"></i>
                    </div>
                </td>
                <td>
                    کپی متن شعر جاری در گنجور
                </td>
            </tr>
            <tr>
                <td>
                    <div class="navbar-help-button">
                        <i class="notranslate noindent-info-button share-icon"></i>
                    </div>
                </td>
                <td>
                    به اشتراک‌گذاری متن شعر جاری در گنجور
                </td>
            </tr>
            <tr>
                <td>
                    <div class="navbar-help-button">
                        <i class="notranslate noindent-info-button rhyming-poems"></i>
                    </div>
                </td>
                <td>
                    مشابه‌یابی شعر جاری در گنجور بر اساس وزن و قافیه
                </td>
            </tr>
            <tr>
                <td>
                    <div class="navbar-help-button">
                        <i class="notranslate noindent-info-button menu-book"></i>
                    </div>
                </td>
                <td>
                    مشاهدهٔ شعر مطابق قالب‌بندی کتاب‌های قدیمی (فقط روی مرورگرهای رومیزی یا دستگاه‌های با عرض مناسب)
                </td>
            </tr>
            <tr>
                <td>
                    <div class="navbar-help-button">
                        <i class="notranslate noindent-info-button bookmarking-icon"></i>
                    </div>
                </td>
                <td>
                    نشان کردن شعر جاری
                </td>
            </tr>
            <tr>
                <td>
                    <div class="navbar-help-button">
                        <i class="notranslate noindent-info-button edit-poem-button"></i>
                    </div>
                </td>
                <td>
                    ویرایش شعر جاری
                </td>
            </tr>
            <tr>
                <td>
                    <div class="navbar-help-button">
                        <i class="notranslate noindent-info-button edit-note-poem-button"></i>
                    </div>
                </td>
                <td>
                    ویرایش خلاصه یا برگردان نثر سادهٔ ابیات شعر جاری
                </td>
            </tr>
            <tr>
                <td>
                    <div class="navbar-help-button">
                        <i class="notranslate noindent-info-button right-btn"></i>
                    </div>
                </td>
                <td>
                    شعر یا بخش قبلی
                </td>
            </tr>
            <tr>
                <td>
                    <div class="navbar-help-button">
                        <i class="notranslate noindent-info-button left-btn"></i>
                    </div>
                </td>
                <td>
                    شعر یا بخش بعدی
                </td>
            </tr>
        </table>

    </div>

</div>

@if (Model.LoggedIn && Model.GanjoorPage != null && Model.GanjoorPage.Poem != null)
{
    <div id="bookmark-note-dialog" class="modal">
        <span onclick="document.getElementById('bookmark-note-dialog').style.display='none'"
          class="close" title="بستن">&times;</span>
        <form class="modal-content animate" method="post" id="editnoteform">
            <table class="max-width-100per width-100per">
                <tr>
                    <td>
                        <textarea name="editNoteText" id="editNoteText" class="inputTextarea editor width-100per" tabindex="4" rows="10"></textarea>
                        <input type="hidden" name="editbookmarkId" id="editbookmarkId" value="">
                    </td>
                </tr>
                <tr>
                    <td>
                        <button name="editnote" id="editnote" class="editor-button background-green margin-top-5px" onclick="return savePrivateNote();">ذخیرهٔ یادداشت برای نشان‌شده</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a role="button" class="editor-button background-gray margin-top-5px" onclick="document.getElementById('bookmark-note-dialog').style.display='none'">بدون یادداشت</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        یادداشتهایی که روی نشان‌شده‌ها می‌نویسید خصوصی هستند، در پیشخان کاربر بخش نشان‌شده‌های من قابل مشاهده‌اند و با حذف نشان بدون هیچ اخطاری پاک می‌شوند.
                    </td>
                </tr>
            </table>
        </form>
    </div>
}
