@model GanjooRazor.Pages._QuotedPoemPartialModel
@using DNTPersianUtils.Core
@{
    Layout = null;
}

<div class="@Model.BlockClass">
    @if(Model.GanjoorQuotedPoem.ClaimedByBothPoets)
    {
        <div class="ribbon">منتسب به هر دو سخنور</div>
    }
    
    @if (Model.GanjoorQuotedPoem.IsPriorToRelated)
    {
        <div class="poet-pic-wrap">
            <img src="@(GanjooRazor.APIRoot.InternetUrl + Model.PoetImageUrl)" alt="@Model.PoetNickName">
        </div>
        <div class="simitext">
            <p>
                <a href="#bn@(Model.GanjoorQuotedPoem.CoupletIndex + 1)">
                    <strong>
                        همین شعر » بیت @((Model.GanjoorQuotedPoem.CoupletIndex + 1).ToPersianNumbers())
                    </strong>
                </a>
            </p>
            <p>

                @if (Model.GanjoorQuotedPoem.CoupletVerse1ShouldBeEmphasized)
                {
                    <strong>@Model.GanjoorQuotedPoem.CoupletVerse1</strong>

                }
                else
                {
                    @Model.GanjoorQuotedPoem.CoupletVerse1
                }
            </p>
            <p>
                @if (Model.GanjoorQuotedPoem.CoupletVerse2ShouldBeEmphasized)
                {
                    <strong>@Model.GanjoorQuotedPoem.CoupletVerse2</strong>

                }
                else
                {
                    @Model.GanjoorQuotedPoem.CoupletVerse2
                }
            </p>

        </div>

        <div class="poet-pic-wrap">
            @if(string.IsNullOrEmpty(Model.GanjoorQuotedPoem.CachedRelatedPoemPoetImage))
            {
                <img src="/image/unknown.gif" alt="@Model.GanjoorQuotedPoem.CachedRelatedPoemPoetName" />
            }
            else
            {
                <a href="@Html.Raw(Model.GanjoorQuotedPoem.CachedRelatedPoemFullUrl)"><img src="@(GanjooRazor.APIRoot.InternetUrl +  Model.GanjoorQuotedPoem.CachedRelatedPoemPoetImage)" alt="@Model.GanjoorQuotedPoem.CachedRelatedPoemPoetName"></a>
            }
            
        </div>
        <div class="inlinesimi-poem-title">
            @if (string.IsNullOrEmpty(Model.GanjoorQuotedPoem.CachedRelatedPoemFullUrl))
            {
                <strong>
                    @Model.GanjoorQuotedPoem.CachedRelatedPoemFullTitle
                </strong>
            }
            else if (Model.GanjoorQuotedPoem.RelatedCoupletIndex != null)
            {
                <a href="@Html.Raw(Model.GanjoorQuotedPoem.CachedRelatedPoemFullUrl)#bn@(Model.GanjoorQuotedPoem.RelatedCoupletIndex + 1)">
                    @(Model.GanjoorQuotedPoem.CachedRelatedPoemFullTitle + " » بیت " + ((Model.GanjoorQuotedPoem.RelatedCoupletIndex + 1).ToPersianNumbers()))
                </a>
            }
            else
            {
                <a href="@Html.Raw(Model.GanjoorQuotedPoem.CachedRelatedPoemFullUrl)">
                    @Model.GanjoorQuotedPoem.CachedRelatedPoemFullTitle
                </a>
            }

        </div>
        <div class="simitext">
            <p>

                @if (Model.GanjoorQuotedPoem.RelatedCoupletVerse1ShouldBeEmphasized)
                {
                    <strong>@Model.GanjoorQuotedPoem.RelatedCoupletVerse1</strong>
                }
                else
                {
                    @Model.GanjoorQuotedPoem.RelatedCoupletVerse1
                }
            </p>
            <p>
                @if (Model.GanjoorQuotedPoem.RelatedCoupletVerse2ShouldBeEmphasized)
                {
                    <strong>@Model.GanjoorQuotedPoem.RelatedCoupletVerse2</strong>
                }
                else
                {
                    @Model.GanjoorQuotedPoem.RelatedCoupletVerse2
                }
            </p>
        </div>
    }
    else
    {
        <div class="poet-pic-wrap">
            @if (string.IsNullOrEmpty(Model.GanjoorQuotedPoem.CachedRelatedPoemPoetImage))
            {
                <img src="/image/unknown.gif" alt="@Model.GanjoorQuotedPoem.CachedRelatedPoemPoetName" />
            }
            else
            {
                <a href="@Html.Raw(Model.GanjoorQuotedPoem.CachedRelatedPoemFullUrl)"><img src="@(GanjooRazor.APIRoot.InternetUrl +  Model.GanjoorQuotedPoem.CachedRelatedPoemPoetImage)" alt="@Model.GanjoorQuotedPoem.CachedRelatedPoemPoetName"></a>
            }
        </div>
        <div class="inlinesimi-poem-title">
            @if (string.IsNullOrEmpty(Model.GanjoorQuotedPoem.CachedRelatedPoemFullUrl))
            {
                <strong>
                    @Model.GanjoorQuotedPoem.CachedRelatedPoemFullTitle
                </strong>
            }
            else if (Model.GanjoorQuotedPoem.RelatedCoupletIndex != null)
            {
                <a href="@Html.Raw(Model.GanjoorQuotedPoem.CachedRelatedPoemFullUrl)#bn@(Model.GanjoorQuotedPoem.RelatedCoupletIndex + 1)">
                    @(Model.GanjoorQuotedPoem.CachedRelatedPoemFullTitle + " » بیت " + ((Model.GanjoorQuotedPoem.RelatedCoupletIndex + 1).ToPersianNumbers()))
                </a>
            }
            else
            {
                <a href="@Html.Raw(Model.GanjoorQuotedPoem.CachedRelatedPoemFullUrl)">
                    @Model.GanjoorQuotedPoem.CachedRelatedPoemFullTitle
                </a>
            }

        </div>
        <div class="simitext">
            <p>

                @if (Model.GanjoorQuotedPoem.RelatedCoupletVerse1ShouldBeEmphasized)
                {
                    <strong>@Model.GanjoorQuotedPoem.RelatedCoupletVerse1</strong>
                }
                else
                {
                    @Model.GanjoorQuotedPoem.RelatedCoupletVerse1
                }
            </p>
            <p>
                @if (Model.GanjoorQuotedPoem.RelatedCoupletVerse2ShouldBeEmphasized)
                {
                    <strong>@Model.GanjoorQuotedPoem.RelatedCoupletVerse2</strong>
                }
                else
                {
                    @Model.GanjoorQuotedPoem.RelatedCoupletVerse2
                }
            </p>
        </div>

        <div class="poet-pic-wrap">
            <img src="@(GanjooRazor.APIRoot.InternetUrl + Model.PoetImageUrl)" alt="@Model.PoetNickName">
        </div>
        <div class="simitext">
            <p>
                <a href="#bn@(Model.GanjoorQuotedPoem.CoupletIndex + 1)">
                    <strong>
                        همین شعر » بیت @((Model.GanjoorQuotedPoem.CoupletIndex + 1).ToPersianNumbers())
                    </strong>
                </a>
            </p>
            <p>

                @if (Model.GanjoorQuotedPoem.CoupletVerse1ShouldBeEmphasized)
                {
                    <strong>@Model.GanjoorQuotedPoem.CoupletVerse1</strong>

                }
                else
                {
                    @Model.GanjoorQuotedPoem.CoupletVerse1
                }
            </p>
            <p>
                @if (Model.GanjoorQuotedPoem.CoupletVerse2ShouldBeEmphasized)
                {
                    <strong>@Model.GanjoorQuotedPoem.CoupletVerse2</strong>

                }
                else
                {
                    @Model.GanjoorQuotedPoem.CoupletVerse2
                }
            </p>

        </div>


    }

    @if (Model.GanjoorQuotedPoem.ChosenForMainList && Model.GanjoorQuotedPoem.SamePoemsQuotedCount > 1)
    {
        <a role="button" class="pagebutton" id="@($"load-more-quoted-button-{Model.GanjoorQuotedPoem.Id}")" onclick="loadMoreQuotedForRelatedPoem('@Model.GanjoorQuotedPoem.Id', @Model.GanjoorQuotedPoem.PoemId, @Model.GanjoorQuotedPoem.RelatedPoemId, '@Model.PoetImageUrl', '@Model.PoetNickName', @Model.CanEdit.ToString().ToLower())">مشاهدهٔ @((Model.GanjoorQuotedPoem.SamePoemsQuotedCount - 1).ToPersianNumbers()) نقل قول دیگر در همین شعر<i class="info-buttons autorenew"></i></a>
    }

    @if (Model.GanjoorQuotedPoem.ClaimedByBothPoets)
    {
        <div class="century-alt">
            <a href="/faq?id=7">چطور یک شعر می‌تواند به چند شاعر منتسب باشد؟</a>
        </div>
    }
    

    @if(!string.IsNullOrEmpty(Model.GanjoorQuotedPoem.Note))
    {
        <div class="notice">
            @Html.Raw(Model.GanjoorQuotedPoem.Note)
        </div>
    }



    @if (Model.CanEdit)
    {
        <a href="/Admin/SuggestQuoted/?p=@Model.GanjoorQuotedPoem.PoemId&id=@Model.GanjoorQuotedPoem.Id" class="pagebutton comments-link">ویرایش</a>
    }

</div>

@if (Model.GanjoorQuotedPoem.ChosenForMainList && Model.GanjoorQuotedPoem.SamePoemsQuotedCount > 1)
{
    <div id=@($"more-quoted-placeholder-{Model.GanjoorQuotedPoem.Id}")></div>
}


