@model GanjooRazor.Pages._SimiPartialViewModel
@using DNTPersianUtils.Core
@{
    Layout = null;
}

@for (int i = 0; i < Math.Min(5, Model.RelatedPoems.Length); i++)
{
    <div class="inlinesimi">
        <div class="poet-pic-wrap">
            <a href="@Html.Raw(Model.RelatedPoems[i].FullUrl)"><img src="@(GanjooRazor.APIRoot.InternetUrl +  Model.RelatedPoems[i].PoetImageUrl)" alt="@Model.RelatedPoems[i].PoetName" /></a>
        </div>
        <div class="inlinesimi-poem-title">
            <a href="@Html.Raw(Model.RelatedPoems[i].FullUrl)">@Model.RelatedPoems[i].FullTitle</a><span></span>
        </div>
        <div class="simitext">
            @Html.Raw(Model.RelatedPoems[i].HtmlExcerpt)
        </div>

        @if (Model.RelatedPoems[i].PoetMorePoemsLikeThisCount > 0)
        {
            <div class="inlinesimi-poem-more">
                * @Model.RelatedPoems[i].PoetName <a href="@Html.Raw($"/simi/?v={Uri.EscapeUriString(Model.Rhythm)}&amp;g={Uri.EscapeUriString(Model.RhymeLetters)}&amp;a={Model.RelatedPoems[i].PoetId}")">@Model.RelatedPoems[i].PoetMorePoemsLikeThisCount.ToPersianNumbers() شعر هم آهنگ دیگر</a> نیز دارد.
            </div>
        }
    </div>
}

@if (Model.RelatedPoems.Length == 6)
{
    <div id="load-more-related">
        <a role="button" class="pagebutton" id="load-more-button" onclick="loadMoreRelated(@Model.PoemId, @(Model.Skip + 5), '@Model.Rhythm', '@Model.RhymeLetters')">بیشتر<i class="info-buttons">autorenew</i></a>
    </div>
}
