@model GanjooRazor.Pages._SimiPartialViewModel
@using DNTPersianUtils.Core
@{
    Layout = null;
}

@for (int i = 0; i < Math.Min(20, Model.RelatedPoems.Length); i++)
{
    <div class="inlinesimi">
        <div class="poet-pic-wrap">
            <a href="@Html.Raw(Model.RelatedPoems[i].FullUrl)"><img src="@(GanjooRazor.APIRoot.InternetUrl +  Model.RelatedPoems[i].PoetImageUrl)" alt="@Model.RelatedPoems[i].PoetName" /></a>
        </div>
        <div class="inlinesimi-poem-title">
            <a href="@Html.Raw(Model.RelatedPoems[i].FullUrl)">@Model.RelatedPoems[i].FullTitle</a><span></span>
        </div>
        <div class="simitext">
            @Html.Raw(Model.RelatedPoems[i].HtmlExcerpt)
        </div>

        @if (Model.RelatedPoems[i].PoetMorePoemsLikeThisCount > 0)
        {
            <a role="button" class="pagebutton" id="@($"load-more-button-{Model.RelatedPoems[i].PoetId}")" onclick="loadMoreRelatedFromPoet(@Model.RelatedPoems[i].PoetId, '@Model.Rhythm', '@Model.RhymeLetters', '@Model.PoemFullUrl', '@Model.RelatedPoems[i].FullUrl')">مشاهدهٔ @Model.RelatedPoems[i].PoetMorePoemsLikeThisCount.ToPersianNumbers() شعر هم آهنگ دیگر از @Model.RelatedPoems[i].PoetName<i class="info-buttons">autorenew</i></a>
        }
    </div>
    @if (Model.RelatedPoems[i].PoetMorePoemsLikeThisCount > 0)
    {
        <div id=@($"more-related-placeholder-{Model.RelatedPoems[i].PoetId}")></div>
    }
}

@if (Model.RelatedPoems.Length == 21)
{
    <div id="load-more-related">
        <a role="button" class="pagebutton" id="load-more-button" onclick="loadMoreRelatedPoems(@Model.PoemId, @(Model.Skip + 20), '@Model.Rhythm', '@Model.RhymeLetters', '@Model.PoemFullUrl')">بیشتر<i class="info-buttons">autorenew</i></a>
    </div>
}
