@page
@model GanjooRazor.Pages.BooksModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        @ViewData["Title"]
    </title>
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="/css/p8.css?version=83" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico?version=1" type="image/x-icon" />
    <link rel="search" type="application/opensearchdescription+xml" title="گنجور" href="https://ganjoor.net/search.xml" />
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/js/bk.js?version=79"></script>
    <script>
        var cookieValue = getCookie("playerScrollLock");
        var playerScrollLock = cookieValue === "true";

        cookieValue = getCookie("stickyEnabled");
        var stickyEnabled = cookieValue != "false";
    </script>
</head>
<body>
    

    <div id="hdr">
        <h1><a href="/" title="گنجور"><img src="/image/gdap.png" alt="گنجور" class="home-logo"></a></h1>
    </div>

    <div id="fa">

        <div class="actionbox">
            <form action="/search" method="get" id="searchhorm">
                <input type="text" name="s" id="s" placeholder="جستجو" class="inputText" size="35" value="">
                <input type="hidden" name="es" id="es" value="1">
                <select name="author" id="author">
                    <option value="0" selected>در آثار همهٔ سخنوران</option>
                    @{
                        foreach (RMuseum.Models.Ganjoor.ViewModels.GanjoorPoetViewModel poet in Model.Poets)
                        {
                            <option value="@poet.Id">@poet.Nickname</option>
                        }
                    }
                </select>
                <input type="submit" value="بیاب">
            </form>
        </div>

        <partial name="_InlineLoginPartial" model="Model">

            <div id="main">
                <div id="guides">

                    @if (!string.IsNullOrEmpty(Model.LastError))
                    {
                        @Model.LastError
                    }
                    else
                    {
                        <div class="clear-both">
                            <input type="text" id="findbook" placeholder="جستجوی کتاب" size="35" value="" oninput="onInlineSearch(this.value, 'found-books', 'book')">
                            <div class="spacer" id="found-books"></div>
                        </div>
                        <div class="century">
                           فهرست الفبایی کتاب‌ها
                        </div>
                        <div class="spacer">
                            @foreach (var book in Model.Books)
                            {

                                <div class="poet book" data-value="@book.BookName">
                                    @if (book.RImageId != null)
                                    {
                                        <a href="@book.FullUrl" title="@book.BookName">
                                            <img src="@($"{GanjooRazor.APIRoot.InternetUrl}/api/rimages/{book.RImageId}.jpg")" alt="@book.BookName">
                                        </a>
                                    }
                                    
                                    <div class="caption">
                                        <a href="@book.FullUrl">@book.BookName</a>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>

            </div>

            <partial name="_FooterPartial" model=@(new _FooterPartialModel(){StickyEnabled = true})>

    </div>

    @if (ViewData["TrackingScript"] != null && !string.IsNullOrEmpty(ViewData["TrackingScript"].ToString()))
    {
        @Html.Raw(ViewData["TrackingScript"])
    }
   
</body>
</html>
