@page
@model GanjooRazor.Pages.ContribsModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        گنجور » مشارکت‌های کاربران
    </title>
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="/css/p8.css?version=82" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico?version=1" type="image/x-icon" />
    <link rel="search" type="application/opensearchdescription+xml" title="گنجور" href="https://ganjoor.net/search.xml" />
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/js/chart.js"></script>
    <script src="/js/bk.js?version=75"></script>
    <script>
        var cookieValue = getCookie("playerScrollLock");
        var playerScrollLock = cookieValue === "true";

        cookieValue = getCookie("stickyEnabled");
        var stickyEnabled = cookieValue != "false";
    </script>
</head>
<body>

    @if (!string.IsNullOrEmpty(Model.LastError))
    {
        @Html.Raw(Model.LastError)
    }
    else
    {
        <div id="hdr2" class="clearfix">
            <h1><a href="/" title="گنجور"><img src="/image/gdapk.png" alt="گنجور" /></a></h1>
            <div class="actionbox">
                <form action="/search" method="get" id="searchform">
                    <input type="text" name="s" id="s" class="inputText" value="" placeholder="جستجو" />
                    <input type="hidden" name="es" id="es" value="1" />
                    <select name="author" id="author" onchange="onSelectedPoetChanged()">

                        @{
                            if (Model.PoetId != 0)
                            {
                                <option value="0">در آثار همهٔ سخنوران</option>
                            }
                            else
                            {
                                <option value="0" selected>در آثار همهٔ سخنوران</option>
                            }

                            if (Model.Poets != null)
                            {
                                foreach (RMuseum.Models.Ganjoor.ViewModels.GanjoorPoetViewModel poet in Model.Poets)
                                {
                                    if (poet.Id == Model.PoetId)
                                    {
                                        <option value="@poet.Id" selected>@poet.Nickname</option>
                                    }
                                    else
                                    {
                                        <option value="@poet.Id">@poet.Nickname</option>
                                    }

                                }
                            }
                        }
                    </select>
                    @{
                        if (Model.Poet != null)
                        {
                            <select name="cat" id="cat" style="width:150px">
                                <option value="0" selected>در همهٔ بخشها</option>
                                @{
                                    foreach (var gran in Model.Poet.Cat.Ancestors)
                                    {
                                        <option value="@gran.Id">@gran.Title</option>
                                    }
                                    <option value="@Model.Poet.Cat.Id">@Model.Poet.Cat.Title</option>
                                    foreach (var child in Model.Poet.Cat.Children)
                                    {
                                        <option value="@child.Id">@child.Title</option>
                                    }
                                }
                            </select>
                        }
                    }

                    <input type="submit" value="بیاب" />
                </form>
            </div><!-- .actionbox -->
        </div>

        <!-- #hdr2 -->

        <div id="fa">

            <partial name="_InlineLoginPartial" model="Model" />

            <div id="maincnt">
                <div class="poem">
                    <h2>
                        <a href="/contribs">مشارکت‌های کاربران</a>
                    </h2>
                    <p>
                        این آمارها نشانگر آن بخش از مشارکت‌های کاربران در گنجور است که از طریق نام‌نویسی و به شکل مستقیم انجام شده و پوشش‌دهندهٔ همهٔ این مشارکت‌ها نیست. برای مشاهدهٔ گونه‌های دیگر مشارکت کاربران -بعضاً در حجم‌های بزرگتر- صفحات <a href="/sources">منابع</a>، <a href="/donate">حمایت‌های مالی</a> و همینطور <a href="https://blog.ganjoor.net">تازه‌های گنجور</a> و <a href="https://github.com/ganjoor/">گیتهاب گنجور</a> را ببینید.
                    </p>
                    <p>
                        در آمارهای زیر تعداد روز مشارکت نشانگر یک بازهٔ زمانی نیست بلکه نشانگر تعداد روزهایی است که در آن مشارکت صورت گرفته که ممکن است  کوچکتر از فاصلهٔ شروع مشارکت تا روز جاری باشد.  آمارها به شکل روزانه به‌روز می‌شوند و از این جهت ممکن است یک روز عقب‌تر از آمار واقعی باشند.
                    </p>
                    <div class="poemtab" id="tab-items">
                        <div class="poemtablinks" id="poemcorrections"><a role="button" class="actionlink" onclick="loadContributions('poemcorrections')">ویرایش‌های متن</a></div>
                        <div class="poemtablinks" id="sectioncorrections"><a role="button" class="actionlink" onclick="loadContributions('sectioncorrections')">ویرایش‌های قطعات</a></div>
                        <div class="poemtablinks" id="catcorrections"><a role="button" class="actionlink" onclick="loadContributions('catcorrections')">ویرایش‌های بخش‌ها</a></div>
                        <div class="poemtablinks" id="suggestedsongs"><a role="button" class="actionlink" onclick="loadContributions('suggestedsongs')">ترانه‌های مرتبط</a></div>
                        <div class="poemtablinks" id="quoteds"><a role="button" class="actionlink" onclick="loadContributions('quoteds')">مشق شعر</a></div>
                        <div class="poemtablinks" id="discussions"><a role="button" class="actionlink" onclick="loadContributions('discussions')">حاشیه‌ها</a></div>
                        <div class="poemtablinks" id="recitations"><a role="button" class="actionlink" onclick="loadContributions('recitations')">خوانش‌ها</a></div>
                        <div class="poemtablinks" id="museumlinks"><a role="button" class="actionlink" onclick="loadContributions('museumlinks')">ارتباطات گنجینه</a></div>
                        <div class="poemtablinks" id="pinterestlinks"><a role="button" class="actionlink" onclick="loadContributions('pinterestlinks')">تصاویر خارجی</a></div>
                        <div class="poemtablinks" id="poetspeclines"><a role="button" class="actionlink" onclick="loadContributions('poetspeclines')">نکات چهره‌ها</a></div>
                        <div class="poemtablinks" id="poetpix"><a role="button" class="actionlink" onclick="loadContributions('poetpix')">چهره‌ها</a></div>
                        <div class="poemtablinks" id="usernotes"><a role="button" class="actionlink" onclick="loadContributions('usernotes')">یادداشت‌های گنجینه</a></div>
                        <div class="poemtablinks" id="users"><a role="button" class="actionlink" onclick="loadContributions('users')">کاربران</a></div>
                    </div>
                    <div id="days-placeholder">
                    </div>
                </div>

            </div>


            <partial name="_FooterPartial" model=@(new _FooterPartialModel(){StickyEnabled = true}) />

        </div>


        <script src="/js/vaabd.js?version=10"></script>

        @if (ViewData["TrackingScript"] != null && !string.IsNullOrEmpty(ViewData["TrackingScript"].ToString()))
        {
            @Html.Raw(ViewData["TrackingScript"])
        }

    }

    <script>
        loadContributions('poemcorrections');
    </script>

</body>
</html>


