@page
@model GanjooRazor.Pages.ContribsModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        گنجور » مشارکت‌های کاربران
    </title>

    <link href="/css/p8.css?version=79" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico?version=1" type="image/x-icon" />
    <link rel="search" type="application/opensearchdescription+xml" title="گنجور" href="https://ganjoor.net/search.xml" />
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/js/chart.js"></script>
    <script src="/js/bk.js?version=72"></script>
    <script>
        var cookieValue = getCookie("playerScrollLock");
        var playerScrollLock = cookieValue === "true";

        cookieValue = getCookie("stickyEnabled");
        var stickyEnabled = cookieValue != "false";
    </script>
    <style>

        .stats-section {
            border-radius: 8px;
            padding: 20px;
            margin-bottom: 30px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 15px;
            text-align: center;
        }

        .stat-item {
            padding: 15px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        }


    </style>
</head>
<body>

    @if (!string.IsNullOrEmpty(Model.LastError))
    {
        @Html.Raw(Model.LastError)
    }
    else
    {
        <div id="hdr2" class="clearfix">
            <h1><a href="/" title="گنجور"><img src="/image/gdapk.png" alt="گنجور" /></a></h1>
            <div class="actionbox">
                <form action="/search" method="get" id="searchform">
                    <input type="text" name="s" id="s" class="inputText" value="" placeholder="جستجو" />
                    <input type="hidden" name="es" id="es" value="1" />
                    <select name="author" id="author" onchange="onSelectedPoetChanged()">

                        @{
                            if (Model.PoetId != 0)
                            {
                                <option value="0">در آثار همهٔ سخنوران</option>
                            }
                            else
                            {
                                <option value="0" selected>در آثار همهٔ سخنوران</option>
                            }

                            if (Model.Poets != null)
                            {
                                foreach (RMuseum.Models.Ganjoor.ViewModels.GanjoorPoetViewModel poet in Model.Poets)
                                {
                                    if (poet.Id == Model.PoetId)
                                    {
                                        <option value="@poet.Id" selected>@poet.Nickname</option>
                                    }
                                    else
                                    {
                                        <option value="@poet.Id">@poet.Nickname</option>
                                    }

                                }
                            }
                        }
                    </select>
                    @{
                        if (Model.Poet != null)
                        {
                            <select name="cat" id="cat" style="width:150px">
                                <option value="0" selected>در همهٔ بخشها</option>
                                @{
                                    foreach (var gran in Model.Poet.Cat.Ancestors)
                                    {
                                        <option value="@gran.Id">@gran.Title</option>
                                    }
                                    <option value="@Model.Poet.Cat.Id">@Model.Poet.Cat.Title</option>
                                    foreach (var child in Model.Poet.Cat.Children)
                                    {
                                        <option value="@child.Id">@child.Title</option>
                                    }
                                }
                            </select>
                        }
                    }

                    <input type="submit" value="بیاب" />
                </form>
            </div><!-- .actionbox -->
        </div>

        <!-- #hdr2 -->

        <div id="fa">

            <partial name="_InlineLoginPartial" model="Model" />

            <div id="maincnt">
                <div class="poem">
                    <h2>
                         گنجور » مشارکت‌های کاربران
                    </h2>

                    <script>
                        function loadGroupedByDate(dataType) {
                            var divParent = document.getElementById('days-placeholder');
                            divParent.innerHTML = '<div class="bnumdiv" id="remove-days-placeholder"><img src="/image/loading.gif" alt="بارگذاری"/></div>';
                            $.ajax({
                                type: "GET",
                                url: '?Handler=GroupedByDate&dataType=' + dataType,
                                error: function (e) {
                                    if (document.getElementById("remove-days-placeholder") != null) {
                                        document.getElementById("remove-days-placeholder").remove();
                                    }
                                    if (e.responseText == null)
                                        alert(e);
                                    else
                                        alert(e.responseText);
                                },
                                success: function (data) {
                                    if (document.getElementById("remove-days-placeholder") != null) {
                                        document.getElementById("remove-days-placeholder").remove();
                                        $(data).appendTo(divParent);
                                        plotChart('grouped-by-date');
                                        plotChart('grouped-by-user');

                                        var elements = document.querySelectorAll('.poemtablinks.active');
                                        for (var i = 0; i < elements.length; i++) {
                                            elements[i].classList.remove('active');
                                        }
                                        var dataTypeButton = document.getElementById(dataType);
                                        if (dataTypeButton) {
                                            dataTypeButton.classList.add('active');
                                        }
                                    }
                                },
                            });
                        }

                    </script>

                    <div class="poempretab" id="pretab"></div>
                    <div class="poemtab" id="tab-items">
                        <div class="poemtablinks" id="poemcorrections"><a role="button" class="actionlink" onclick="loadGroupedByDate('poemcorrections')">ویرایش‌های متن</a></div>
                        <div class="poemtablinks" id="sectioncorrections"><a role="button" class="actionlink" onclick="loadGroupedByDate('sectioncorrections')">ویرایش‌های قطعات</a></div>
                        <div class="poemtablinks" id="catcorrections"><a role="button" class="actionlink" onclick="loadGroupedByDate('catcorrections')">ویرایش‌های بخش‌ها</a></div>
                        <div class="poemtablinks" id="suggestedsongs"><a role="button" class="actionlink" onclick="loadGroupedByDate('suggestedsongs')">ترانه‌های مرتبط</a></div>
                        <div class="poemtablinks" id="quoteds"><a role="button" class="actionlink" onclick="loadGroupedByDate('quoteds')">مشق شعر</a></div>
                        <div class="poemtablinks" id="discussions"><a role="button" class="actionlink" onclick="loadGroupedByDate('discussions')">حاشیه‌ها</a></div>
                        <div class="poemtablinks" id="recitations"><a role="button" class="actionlink" onclick="loadGroupedByDate('recitations')">خوانش‌ها</a></div>
                        <div class="poemtablinks" id="museumlinks"><a role="button" class="actionlink" onclick="loadGroupedByDate('museumlinks')">ارتباطات گنجینه</a></div>
                        <div class="poemtablinks" id="pinterestlinks"><a role="button" class="actionlink" onclick="loadGroupedByDate('pinterestlinks')">تصاویر خارجی</a></div>
                        <div class="poemtablinks" id="poetspeclines"><a role="button" class="actionlink" onclick="loadGroupedByDate('poetspeclines')">نکات چهره‌ها</a></div>
                        <div class="poemtablinks" id="poetpix"><a role="button" class="actionlink" onclick="loadGroupedByDate('poetpix')">چهره‌ها</a></div>
                        <div class="poemtablinks" id="usernotes"><a role="button" class="actionlink" onclick="loadGroupedByDate('usernotes')">یادداشت‌های گنجینه</a></div>
                        <div class="poemtablinks" id="users"><a role="button" class="actionlink" onclick="loadGroupedByDate('users')">کاربران</a></div>
                    </div>
                    <div id="days-placeholder">
                    </div>
                </div>

            </div>


            <partial name="_FooterPartial" model=@(new _FooterPartialModel(){StickyEnabled = true}) />

        </div>


        <script src="/js/vaabd.js?version=10"></script>

        @if (ViewData["GoogleAnalyticsCode"] != null && !string.IsNullOrEmpty(ViewData["GoogleAnalyticsCode"].ToString()))
        {
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=@(ViewData["GoogleAnalyticsCode"])"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() { dataLayer.push(arguments); }
                gtag('js', new Date());

                gtag('config', '@ViewData["GoogleAnalyticsCode"]');
            </script>
        }
    }

    <script>
        loadGroupedByDate('poemcorrections');
    </script>

</body>
</html>


