@page
@model GanjooRazor.Pages.FAQModel
@{
    Layout = "_Layout";
}
@if (!string.IsNullOrEmpty(Model.LastError))
{
    @Model.LastError
}
else
{
<partial name="_SearchHeaderPartial" model="@(new _SearchHeaderPartialModel(){ Poets = Model.Poets })" />

        <!-- #hdr2 -->

        <div id="fa">

            <partial name="_InlineLoginPartial" model="Model" />


            <div id="maincnt">
                <div class="poem">
                    <h2>
                        <a href="/faq">پرسش‌های متداول</a>
                    </h2>
                    @if (Model.Question != null)
                    {
                        <div class="related-images-frame" id="item-@Model.Question.Id">
                            <div class="century">
                                <a href="/faq?id=@Model.Question.Id">@Model.Question.Question</a>
                            </div>
                            <div id="item-section-@Model.Question.Id">
                                <div class="ganjoor-comment">
                                    @Html.Raw(Model.Question.AnswerExcerpt)
                                </div>
                            </div>
                        </div>
                    }
                    else
                        @foreach (var category in Model.PinnedItemsCategories)
                        {
                            <div class="comments-like-div">
                                <h2>
                                    @category.Title
                                </h2>
                                @foreach (var item in category.Items)
                                {
                                    <div class="related-images-frame" id="item-@item.Id">
                                        <div class="century">
                                            @item.Question <a role="button" title="جمع شود / باز شود" class="cursor-pointer" onclick="switch_section('item-section-@item.Id', 'item-collapse-button-@item.Id')"><i class="notranslate info-buttons collapse_circle_down" id="item-collapse-button-@item.Id"></i></a>
                                            <a role="button" title="نشانی این پرسش" class="cursor-pointer" href="/faq?id=@item.Id"><i class="notranslate info-buttons copylink-icon"></i></a>
                                        </div>
                                        <div id="item-section-@item.Id" style="display:none">
                                            <div class="ganjoor-comment">
                                                @Html.Raw(item.AnswerExcerpt)
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                </div>
            </div>



            <partial name="_FooterPartial" model=@(new _FooterPartialModel(){StickyEnabled = true}) />

        </div>


        @if (ViewData["TrackingScript"] != null && !string.IsNullOrEmpty(ViewData["TrackingScript"].ToString()))
        {
            @Html.Raw(ViewData["TrackingScript"])
        }
    }

