@page
@model GanjooRazor.Pages.FAQModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        @ViewData["Title"]
    </title>

    <link href="/css/p8.css?version=78" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico?version=1" type="image/x-icon" />
    <link rel="search" type="application/opensearchdescription+xml" title="گنجور" href="https://ganjoor.net/search.xml" />
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/js/bk.js?version=67"></script>
    <script>
        var cookieValue = getCookie("playerScrollLock");
        var playerScrollLock = cookieValue === "true";

        cookieValue = getCookie("stickyEnabled");
        var stickyEnabled = cookieValue != "false";
    </script>
</head>
<body>

    @if (!string.IsNullOrEmpty(Model.LastError))
    {
        @Model.LastError
    }
    else
    {
        <div id="hdr2" class="clearfix">
            <h1><a href="/" title="گنجور"><img src="/image/gdapk.png" alt="گنجور" /></a></h1>
            <div class="actionbox">
                <form action="/search" method="get" id="searchform">
                    <input type="text" name="s" id="s" class="inputText" value="" placeholder="جستجو" />
                    <input type="hidden" name="es" id="es" value="1" />
                    <select name="author" id="author" onchange="onSelectedPoetChanged()">

                        @{
                            <option value="0">در آثار همهٔ سخنوران</option>

                            if (Model.Poets != null)
                            {
                                foreach (RMuseum.Models.Ganjoor.ViewModels.GanjoorPoetViewModel poet in Model.Poets)
                                {
                                    <option value="@poet.Id">@poet.Nickname</option>
                                }
                            }
                        }
                    </select>
                    <input type="submit" value="بیاب" />
                </form>
            </div><!-- .actionbox -->
        </div>

        <!-- #hdr2 -->

        <div id="fa">

            <partial name="_InlineLoginPartial" model="Model" />


            <div id="maincnt">
                <div class="poem">
                    <h2>
                        <a href="/faq">پرسش‌های متداول</a>
                    </h2>
                    @if (Model.Question != null)
                    {
                        <div class="related-images-frame" id="item-@Model.Question.Id">
                            <div class="century">
                                <a href="/faq?id=@Model.Question.Id">@Model.Question.Question</a>
                            </div>
                            <div id="item-section-@Model.Question.Id">
                                <div class="ganjoor-comment">
                                    @Html.Raw(Model.Question.AnswerExcerpt)
                                </div>
                            </div>
                        </div>
                    }
                    else
                        @foreach (var category in Model.PinnedItemsCategories)
                        {
                            <div class="comments-like-div">
                                <h2>
                                    @category.Title
                                </h2>
                                @foreach (var item in category.Items)
                                {
                                    <div class="related-images-frame" id="item-@item.Id">
                                        <div class="century">
                                            @item.Question <a role="button" title="جمع شود / باز شود" class="cursor-pointer" onclick="switch_section('item-section-@item.Id', 'item-collapse-button-@item.Id')"><i class="notranslate info-buttons collapse_circle_down" id="item-collapse-button-@item.Id"></i></a>
                                            <a role="button" title="نشانی این پرسش" class="cursor-pointer" href="/faq?id=@item.Id"><i class="notranslate info-buttons copylink-icon"></i></a>
                                        </div>
                                        <div id="item-section-@item.Id" style="display:none">
                                            <div class="ganjoor-comment">
                                                @Html.Raw(item.AnswerExcerpt)
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                </div>
            </div>



            <partial name="_FooterPartial" model=@(new _FooterPartialModel(){StickyEnabled = true}) />

        </div>

        <script src="/js/vaabd.js?version=10"></script>

        @if (!string.IsNullOrEmpty(ViewData["GoogleAnalyticsCode"].ToString()))
        {
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=@(ViewData["GoogleAnalyticsCode"])"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() { dataLayer.push(arguments); }
                gtag('js', new Date());

                gtag('config', '@ViewData["GoogleAnalyticsCode"]');
            </script>
        }
    }



</body>
</html>

