@page
@model GanjooRazor.Pages.GolhaModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="utf-8" />
    <title>انتخاب قطعه‌ای از برنامهٔ گلها مرتبط با این شعر</title>
    <meta name="robots" content="noindex, nofollow" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link href="/css/p5.css" rel="stylesheet" type="text/css" />
    <link href="/css/spotify.css" rel="stylesheet" type="text/css" />
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/golha.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#spotify').on('click', function() {
                window.location.href = "@Html.Raw($"/spotify/?p={Model.PoemId}")";
            });

            $('#golha').on('click', function () {
                window.location.href = "@Html.Raw($"/golha/?p={Model.PoemId}")";
            });

            $('#beeptunes').on('click', function () {
                window.location.href = "@Html.Raw($"/bp/?p={Model.PoemId}")";
            });
        });
    </script>




</head>
<body>
    <div id="fa">
        <div class="poem">


            @if (Model.PoemId == 0)
            {
                <div class="width-100per">
                    <div class="width-100per text-align-center">
                        <p class="alert-text">
                            خطا: شعری انتخاب نشده است.
                        </p>
                    </div>
                </div>
            }
            else
      if (!Model.LoggedIn)
            {
                <div class="width-100per">
                    <div class="width-100per text-align-center">
                        <p class="alert-text">
                            برای پیشنهاد آهنگهای مرتبط با اشعار لازم است ابتدا با نام کاربری خود وارد گنجور شوید.
                        </p>
                        <p class="text-align-center">
                            <a href=@Html.Raw($"/login/?redirect=/golha/?p={Model.PoemId}")>ورود به گنجور</a>
                        </p>
                    </div>
                </div>
            }
            else
            {
                @if (!string.IsNullOrEmpty(Model.LastError))
                {
                    <div class="width-100per">
                        <div class="width-100per text-align-center">
                            <p class="alert-text">
                                @Model.LastError
                            </p>
                        </div>
                    </div>
                }


                <div class="width-100per">
                    <div class="width-100per text-align-center">
                        <h3><strong>انتخاب منبع جستجو:</strong></h3>
                    </div>
                    <div style="width:100%;text-align:center">
                        <input type="radio" id="spotify" name="spotify" value="اسپاتیفای">
                        <label for="spotify"><a href="@Html.Raw($"/spotify/?p={Model.PoemId}")"><img src="/image/spotify.png" alt="اسپاتیفای" height="32" /></a></label>
                        <input type="radio" id="golha" name="golha" value="گلها" checked>
                        <label for="golha"><a href="@Html.Raw($"/golha/?p={Model.PoemId}")"><img src="/image/golha.png" alt="گلها" height="32" /></a></label>
                        <input type="radio" id="beeptunes" name="beeptunes" value="بیپ‌تونز">
                        <label for="beeptunes"><a href="@Html.Raw($"/bp/?p={Model.PoemId}")"><img src="/image/beeptunes.png" alt="بیپ‌تونز" height="32" /></a></label>
                    </div>
                </div>

                <p>
                    با استفاده از این صفحه می‌توانید قطعاتی از مجموعه برنامهٔ ارزشمند گلها را که در متن آنها از شعر جاری استفاده شده است معرفی کنید. جستجو با استفاده از سایت ارزشمند <a href="http://www.golha.co.uk/fa/" target="_blank">گلها</a> صورت می‌گیرد. پس از انتخاب مجموعه برنامهٔ مد نظر فهرست شماره‌های برنامه‌ها و قطعات برنامهٔ جاری نمایش داده می‌شود. با کلیک بر روی پیوند صفحهٔ برنامه می‌توانید جهت اطمینان قطعهٔ مورد نظر را در سایت گلها گوش کنید. پس از «پیشنهاد قطعه» قطعهٔ پیشنهادی در صف بررسی قرار می‌گیرد و پس از بازبینی و تأیید به صفحهٔ اصلی شعر اضافه می‌شود. از این که کمک می‌کنید که گنجور به نمایه‌ای برای موسیقی ایرانی بدل شود سپاسگزاریم.
                </p>
                <p>
                    <span style="color:red">تذکر مهم:</span> فقط مواردی تأیید می‌شود که <span style="color:red">در قطعهٔ متناظر همین شعر خوانده شود</span>. تعیین شمارهٔ برنامه به تنهایی کارایی ندارد و لطفا جهت کاهش زمان مورد نیاز برای بررسی موارد پیشنهادی از اعلام موارد اینچنینی خودداری فرمایید. جهت مشاهدهٔ روش پیشنهادی برای کمک به این پروژه <a href="http://www.aparat.com/v/UbKVQ" target="_blank">این فیلم</a> را مشاهده فرمایید.
                </p>

                @if (Model.SuggestedSongs.Length > 0)
                {
                    <p>موارد زیر شامل قطعه‌هایی هستند که پیشتر توسط دوستان دیگر پیشنهاد شده و در صف بررسی قرار دارند:</p>

                    @foreach (var suggestedSong in Model.SuggestedSongs)
                    {
                        <p>
                            @if (suggestedSong.Id == Model.InsertedSongId)
                            {
                                <text>
                                    <a target="_blank" href="@Html.Raw(suggestedSong.TrackUrl)" style="color:green">@suggestedSong.AlbumName</a> » <a target="_blank" href="@Html.Raw(suggestedSong.TrackUrl)" style="color:green">@suggestedSong.TrackName</a>
                                </text>

                            }
                            else
                            {
                                <text>
                                    <a target="_blank" href="@Html.Raw(suggestedSong.TrackUrl)">@suggestedSong.AlbumName</a> » <a target="_blank" href="@Html.Raw(suggestedSong.TrackUrl)">@suggestedSong.TrackName</a>
                                </text>
                            }

                        </p>
                    }
                    @if (Model.PostSuccess)
                    {
                        <div class="width-100per">
                            <div class="width-100per text-align-center">
                                <p style="color:green">
                                    با سپاس! پیشنهاد شما به فهرست اضافه شد.
                                </p>
                            </div>
                        </div>
                    }
                }
            }

        </div>

        @if (Model.PoemId != 0 && Model.LoggedIn)
        {
            <div class="content">

                <span class="inputlabel">مجموعه برنامه:</span><select name="collection" id="collection" class="albumtrack">
                    <option value='0'>انتخاب کنید</option>
                    <option value='1'>برگ سبز</option>
                    <option value='2'>گلهای تازه</option>
                    <option value='3'>گلهای جاویدان</option>
                    <option value='4'>گلهای رنگارنگ</option>
                    <option value='5'>گلهای صحرایی</option>
                    <option value='6'>یگ شاخه گل</option>
                </select>&nbsp;<span style="visibility:hidden" id="l1"><a id="collectionlink" href="#" target="_blank">جستجوی برنامه‌ها</a></span> <br />
                <span class="inputlabel">شمارهٔ برنامه: </span><select name="program" id="program" disabled="disabled" class="albumtrack"></select>&nbsp;<span style="visibility:hidden" id="l2"><a id="programlink" href="#" target="_blank">صفحهٔ برنامه</a></span><br />
                <span class="inputlabel">قطعه: </span><select name="track" id="track" disabled="disabled" class="albumtrack"></select>&nbsp;<span style="visibility:hidden" id="l3"></span><br />
                <form method="post">
                    <input type="hidden" asp-for="PoemMusicTrackViewModel.GolhaTrackId" />
                    <span class="inputlabel">توضیح: </span><input type="text" class="albumtrack" placeholder="توضیح" asp-for="PoemMusicTrackViewModel.Description" />
                    <br />
                    <input type="submit" name="submit" id="submit" value="پیشنهاد قطعه" />
                </form>
            </div>
        }

    </div>
</body>
</html>