@page
@using DNTPersianUtils.Core;
@model GanjooRazor.Pages.HashiehaModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        @ViewData["Title"]
    </title>
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="/css/p8.css?version=82" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico?version=1" type="image/x-icon" />
    <link rel="search" type="application/opensearchdescription+xml" title="گنجور" href="https://ganjoor.net/search.xml" />
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/js/bk.js?version=77"></script>
    <script>
        var cookieValue = getCookie("playerScrollLock");
        var playerScrollLock = cookieValue === "true";

        cookieValue = getCookie("stickyEnabled");
        var stickyEnabled = cookieValue != "false";
    </script>
</head>
<body>

    @if (!string.IsNullOrEmpty(Model.LastError))
    {
        @Html.Raw(Model.LastError)
    }
    else
    {
        <div id="hdr2" class="clearfix">
            <h1><a href="/" title="گنجور"><img src="/image/gdapk.png" alt="گنجور" /></a></h1>
            <div class="actionbox">
                <form action="/search" method="get" id="searchform">
                    <input type="text" name="s" id="s" class="inputText" value="" placeholder="جستجو" />
                    <input type="hidden" name="es" id="es" value="1" />
                    <select name="author" id="author" onchange="onSelectedPoetChanged()">

                        @{
                            if (Model.PoetId != 0)
                            {
                                <option value="0">در آثار همهٔ سخنوران</option>
                            }
                            else
                            {
                                <option value="0" selected>در آثار همهٔ سخنوران</option>
                            }

                            if (Model.Poets != null)
                            {
                                foreach (RMuseum.Models.Ganjoor.ViewModels.GanjoorPoetViewModel poet in Model.Poets)
                                {
                                    if (poet.Id == Model.PoetId)
                                    {
                                        <option value="@poet.Id" selected>@poet.Nickname</option>
                                    }
                                    else
                                    {
                                        <option value="@poet.Id">@poet.Nickname</option>
                                    }

                                }
                            }
                        }
                    </select>
                    @{
                        if (Model.Poet != null)
                        {
                            <select name="cat" id="cat" style="width:150px">
                                <option value="0" selected>در همهٔ بخشها</option>
                                @{
                                    foreach (var gran in Model.Poet.Cat.Ancestors)
                                    {
                                        <option value="@gran.Id">@gran.Title</option>
                                    }
                                    <option value="@Model.Poet.Cat.Id">@Model.Poet.Cat.Title</option>
                                    foreach (var child in Model.Poet.Cat.Children)
                                    {
                                        <option value="@child.Id">@child.Title</option>
                                    }
                                }
                            </select>
                        }
                    }

                    <input type="submit" value="بیاب" />
                </form>
            </div><!-- .actionbox -->
        </div>

        <!-- #hdr2 -->

        <div id="fa">

            <partial name="_InlineLoginPartial" model="Model" />

            <div id="maincnt">

                <div class="sitem actionbox">
                    <div class="related-images-frame padding-20px">
                        <form method="get" id="searchcommentsform">
                            <input type="text" name="w" id="w" class="width-100per" value="@Model.Query" placeholder="جستجو در @Model.Title" />
                            @if (Model.Profile != null)
                            {
                                <input type="hidden" id="userid" name="userid" value="@Model.Profile.Id" />
                            }
                            <input type="submit" class="width-100per margin-top-5px" value="جستجو در @Model.Title" />
                        </form>
                    </div><!-- related-images-frame -->
                </div> <!-- sitem actionbo -->
                <div class="poem">
                    <h2>
                        <a href="@Model.HomeLink">
                            @Model.Title
                        </a>
                    </h2>
                    @if (Model.Profile != null)
                    {
                        <div class="text-align-center">
                            <small><a href="/hashieha">همهٔ حاشیه‌ها</a></small>
                        </div>
                        <div id="profile">
                            <p>
                                @Model.Profile.NickName

                                @if (!string.IsNullOrEmpty(Model.Profile.Website))
                                {
                                    <a href="@Model.Profile.Website">🌐</a>
                                }

                                @if (Model.CanAdministerUsers)
                                {
                                    <a href="/Admin/ExamineUser?id=@Model.Profile.Id">#</a>
                                }
                            </p>
                            <p>
                                <small>تاریخ پیوستن: <strong>@RMuseum.Services.Implementation.LanguageUtils.FormatDate(Model.Contributions.CreateDate)</strong></small>
                            </p>

                            @if (!string.IsNullOrEmpty(Model.Profile.Bio))
                            {
                                @Html.Raw(Model.Profile.Bio)
                            }

                            @if (
                           Model.Contributions.PoemCorrections > 0
                           ||
                           Model.Contributions.SectionCorrections > 0
                           ||
                           Model.Contributions.CatCorrections > 0
                           ||
                           Model.Contributions.SuggestedSongs > 0
                           ||
                           Model.Contributions.QuotedPoems > 0
                           ||
                           Model.Contributions.Comments > 0
                           ||
                           Model.Contributions.Recitations > 0
                           ||
                           Model.Contributions.MuseumLinks > 0
                           ||
                           Model.Contributions.PinterestLinks > 0
                           ||
                           Model.Contributions.PoetSpecLines > 0
                           ||
                           Model.Contributions.PoetPictures > 0
                           ||
                           Model.Contributions.PublicUserNotes > 0
                                )
                            {
                                
                                <table>
                                    <tr>
                                        <th colspan="2">
                                            <span class="align-center">آمار مشارکت‌ها:</span>
                                        </th>
                                    </tr>
                                    @if (Model.Contributions.Comments > 0)
                                    {
                                        <tr>
                                            <td><p>حاشیه‌ها:</p></td>
                                            <td><p>@RMuseum.Services.Implementation.LanguageUtils.FormatMoney(Model.Contributions.Comments)</p></td>
                                        </tr>
                                    }
                                    @if(Model.Contributions.PoemCorrections > 0)
                                    {
                                        <tr>
                                            <td><p><a href="https://blog.ganjoor.net/1400/05/23/notes-for-suggesting-corrections/">ویرایش‌ها</a>ی تأیید شده:</p></td>
                                            <td><p>@RMuseum.Services.Implementation.LanguageUtils.FormatMoney(Model.Contributions.PoemCorrections)</p></td>
                                        </tr>
                                    }
                                    @if (Model.Contributions.SectionCorrections > 0)
                                    {
                                        <tr>
                                            <td><p><a href="https://blog.ganjoor.net/1401/02/30/section-editor/">ویرایش‌های قطعات</a> تأیید شده:</p></td>
                                            <td><p>@RMuseum.Services.Implementation.LanguageUtils.FormatMoney(Model.Contributions.SectionCorrections)</p></td>
                                        </tr>
                                    }
                                    @if (Model.Contributions.CatCorrections > 0)
                                    {
                                        <tr>
                                            <td><p><a href="https://blog.ganjoor.net/1404/01/05/cat-editor/">ویرایش‌های بخش</a>‌های تأیید شده:</p></td>
                                            <td><p>@RMuseum.Services.Implementation.LanguageUtils.FormatMoney(Model.Contributions.CatCorrections)</p></td>
                                        </tr>
                                    }
                                    @if (Model.Contributions.SuggestedSongs > 0)
                                    {
                                        <tr>
                                            <td><p><a href="https://blog.ganjoor.net/1395/06/28/bptags/">ترانه</a>‌های مرتبط تأیید شده:</p></td>
                                            <td><p>@RMuseum.Services.Implementation.LanguageUtils.FormatMoney(Model.Contributions.SuggestedSongs)</p></td>
                                        </tr>
                                    }
                                    @if (Model.Contributions.QuotedPoems > 0)
                                    {
                                        <tr>
                                            <td><p><a href="https://blog.ganjoor.net/1402/11/06/suggest-quotes/">مشق</a>‌های پیشنهادی تأیید شده:</p></td>
                                            <td><p>@RMuseum.Services.Implementation.LanguageUtils.FormatMoney(Model.Contributions.QuotedPoems)</p></td>
                                        </tr>
                                    }
                                    @if (Model.Contributions.Recitations > 0)
                                    {
                                        <tr>
                                            <td><p><a href="https://ava.ganjoor.net/about">خوانش</a>‌های تأیید شده:</p></td>
                                            <td><p>@RMuseum.Services.Implementation.LanguageUtils.FormatMoney(Model.Contributions.Recitations)</p></td>
                                        </tr>
                                    }
                                    @if (Model.Contributions.MuseumLinks > 0)
                                    {
                                        <tr>
                                            <td><p>ارتباطات پیشنهادی <a href="https://museum.ganjoor.net">گنجینه</a>:</p></td>
                                            <td><p>@RMuseum.Services.Implementation.LanguageUtils.FormatMoney(Model.Contributions.MuseumLinks)</p></td>
                                        </tr>
                                    }
                                    @if (Model.Contributions.PinterestLinks > 0)
                                    {
                                        <tr>
                                            <td><p>ارتباطات پیشنهادی <a href="https://blog.ganjoor.net/1399/01/29/pinterest/">تصاویر خارجی</a>:</p></td>
                                            <td><p>@RMuseum.Services.Implementation.LanguageUtils.FormatMoney(Model.Contributions.PinterestLinks)</p></td>
                                        </tr>
                                    }
                                    @if (Model.Contributions.PoetSpecLines > 0)
                                    {
                                        <tr>
                                            <td><p>نکات پیشنهادی <a href="https://blog.ganjoor.net/1400/11/28/photos/"> دربارهٔ چهرهٔ سخنوان</a>:</p></td>
                                            <td><p>@RMuseum.Services.Implementation.LanguageUtils.FormatMoney(Model.Contributions.PoetSpecLines)</p></td>
                                        </tr>
                                    }
                                    @if (Model.Contributions.PoetPictures > 0)
                                    {
                                        <tr>
                                            <td><p>تصاویر <a href="https://blog.ganjoor.net/1400/11/28/photos/">چهرهٔ پیشنهادی</a>:</p></td>
                                            <td><p>@RMuseum.Services.Implementation.LanguageUtils.FormatMoney(Model.Contributions.PoetPictures)</p></td>
                                        </tr>
                                    }
                                    @if (Model.Contributions.PublicUserNotes > 0)
                                    {
                                        <tr>
                                            <td><p><a href="https://museum.ganjoor.net/notes">یادداشت‌های عمومی گنجینه</a>:</p></td>
                                            <td><p>@RMuseum.Services.Implementation.LanguageUtils.FormatMoney(Model.Contributions.PublicUserNotes)</p></td>
                                        </tr>
                                    }
                                </table>
                            }
                        </div>
                        <hr />
                    }
                    @if (Model.Comments.Count == 0)
                    {
                        <p>حاشیه‌ای با مشخصات مورد نظر شما پیدا نشد.</p>
                    }
                    else
                        foreach (var comment in Model.Comments)
                        {
                            <div class="ganjoor-comment">
                                <p>
                                    @if (comment.UserId == null)
                                    {
                                        @comment.AuthorName
                                    }
                                    else
                                    {
                                        <a href="/hashieha/?userid=@comment.UserId">@comment.AuthorName</a>
                                    }
                                    <small>
                                        در @comment.CommentDate.ToFriendlyPersianDateTextify()
                                        @if (comment.InReplyTo != null)
                                        {
                                            <text>
                                                @(" ")در پاسخ به @comment.InReplyTo.AuthorName
                                            </text>
                                        }
                                    </small>
                                    @(" ")دربارهٔ <a href="@comment.Poem.UrlSlug#comment-@comment.Id">@comment.Poem.Title</a>:
                                </p>
                                @if (comment.CoupletIndex != -1)
                                {
                                    <div class="commentquote">
                                        @comment.CoupletSummary
                                    </div>
                                }
                                <blockquote>
                                    @Html.Raw(comment.HtmlComment)
                                </blockquote>
                            </div>
                           
                        }
                </div>



                @Html.Raw(Model.PagingToolsHtml)

            </div>


            <partial name="_FooterPartial" model=@(new _FooterPartialModel(){StickyEnabled = true}) />

        </div>


        <script src="/js/vaabd.js?version=10"></script>

        @if (ViewData["TrackingScript"] != null && !string.IsNullOrEmpty(ViewData["TrackingScript"].ToString()))
        {
            @Html.Raw(ViewData["TrackingScript"])
        }
    }



</body>
</html>

