@page
@model GanjooRazor.Pages.PhotosModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex, nofollow" />
    <title>
        @Html.Raw(ViewData["Title"])
    </title>
    <link href="/css/p8.css?version=32" rel="stylesheet" type="text/css" />
    <link href="/css/fab.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="search" type="application/opensearchdescription+xml" title="گنجور" href="https://ganjoor.net/search.xml" />
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script>
        var playerScrollLock = false;
    </script>
    <script src="/js/bk.js?version=21"></script>

    @if (Model.Poet != null)
    {
        <script src="/lib/tinymce/tinymce.min.js"></script>
        <script>
                        tinymce.init({
                                selector: 'textarea.editor',
                                language: 'fa_IR',
                                    menubar: false,
                                    plugins: 'link paste',
                                    toolbar: 'undo redo | alignleft aligncenter alignright alignjustify | link',
                                    paste_auto_cleanup_on_paste: true,
                                    paste_remove_styles: true,
                                    paste_remove_styles_if_webkit: true,
                                    paste_strip_class_attributes: true,
                                });


            function suggestNote(buttonSelector) {
                var commentformSelector = '#commentform';
                if (coupletIndex != '') {
                    commentformSelector += ('-' + coupletIndex);
                }
                $(commentformSelector).unbind('submit').bind('submit', function (e) {

                    e.preventDefault(); // avoid to execute the actual submit of the form.

                    $(buttonSelector).text('در حال ارسال پیشنهاد ...');
                    $(buttonSelector).prop("disabled", true);

                    $('#comment-error').remove();

                    var parent1 = $('#comments-block');
                    var parent2 = null;
                    if (coupletIndex != '') {
                        parent2 = $('#comments-block-' + coupletIndex);
                    }

                    var form = $(this);
                    var url = form.attr('action');

                    $.ajax({
                        type: "POST",
                        url: url,
                        data: form.serialize(), // serializes the form's elements.
                        error: function () {
                            $(buttonSelector).text('پیشنهاد');
                            $(buttonSelector).prop("disabled", false);
                        },
                        success: function (data) {
                            $(data).appendTo(parent1);
                            if (parent2 != null)
                                $(data).appendTo(parent2);
                            $(buttonSelector).text('پیشنهاد');
                            $(buttonSelector).prop("disabled", false);
                            form[0].reset();
                        },
                    });

                });
            }
        </script>
    }

</head>
<body>
    <div id="hdr">
        <h1>
            @if (Model.Poet == null)
            {
                <a href="/photos" title="گنجور"><img src="/image/gmg.gif" alt="@ViewData["Title"]" class="home-logo" /></a>
            }
            else
            {
                <a href="/photos" title="گنجور"><img src="@Model.Poet.ImageUrl" alt="@ViewData["Title"]" class="home-logo" /></a>
            }
        </h1>
        <p>
            از طریق این صفحه می‌توانید تصویر مد نظر یا طراحی شدهٔ خود را برای شاعران محبوبتان پیشنهاد دهید. در صورت تأیید و انتخاب پیشنهاد شما نام شما در همین صفحه به عنوان انتخابگر یا طراح تصویر ثبت می‌شود.
        </p>
    </div>
    <div id="fa">
        <h2>
            @if (Model.Poet == null)
            {
                @ViewData["Title"]
            }
            else
            {
                <text>
                    پیشنهاد تصویر برای <a href="@Model.Poet.FullUrl" target="_blank">@Model.Poet.Nickname</a>
                </text>
            }

        </h2>
        @if (Model.Poet != null)
        {
            <h3>
                <a href="/photos">فهرست همهٔ شاعران</a>
            </h3>
        }
        <div id="main">
            <div id="guides">

                @if (Model.Poet == null)
                {
                    <div class="clear-both">
                        <input type="text" id="findpoet" placeholder="جستجوی شاعر" size="35" value="" oninput="onFindPoet(this.value)" />
                        <div class="spacer" id="found-poets"></div>
                    </div>
                    <div class="century">
                        فهرست شاعران
                    </div>
                    @foreach (var poet in Model.Poets)
                    {
                        <div class="poet" data-value="@poet.Nickname">
                            <a href="/photos?p=@poet.FullUrl.Substring(1)" title="@poet.Name"><img src="@poet.ImageUrl" alt="@poet.Name" /></a>
                            <div class="caption">
                                <a href="/photos?p=@poet.FullUrl.Substring(1)">@poet.Nickname</a>
                            </div>
                        </div>
                    }
                }

                @if (Model.Poet != null)
                {
                    <div class="century">
                        زندگینامهٔ @Model.Poet.Nickname
                    </div>
                    <div class="clear-both">
                        @Model.Poet.Description
                    </div>

                    <div class="century">
                        نکات مهم دربارهٔ @Model.Poet.Nickname
                    </div>

                    @foreach (var line in Model.SpecLines)
                    {
                        <div class="clear-both">
                            @line.Contents
                        </div>
                    }

                    <div class="clear-both">
                        @if (Model.LoggedIn)
                        {
                            <form method="post" id="commentform" action="?handler=Suggest">
                                <fieldset>
                                    <legend>💬 شما نکتهٔ تازه‌ای پیشنهاد کنید ...</legend>
                                    <table class="comment-table">
                                        <tr>
                                            <td>
                                                <div class="required">
                                                    <textarea name="contents" id="contents" class="inputTextarea editor width-100per" tabindex="4" rows="10"></textarea>
                                                </div>
                                                <input type="hidden" name="poetId" id="poetId" value="@Model.Poet.Id" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button name="postcomment" id="postcomment" class="submitCommentButton width-100per" onclick="return suggestNote('#postcomment');">پیشنهاد</button>
                                            </td>
                                        </tr>
                                    </table>


                                    <div class="notice">
                                        <p>
                                            نکات پیشنهادی پس از بررسی منتشر می‌شوند. لطفاً توجه فرمایید که نکتهٔ مد نظر پیش‌تر اضافه نشده باشد و مستند باشد.
                                        </p>
                                    </div>
                                </fieldset>
                            </form>
                        }
                        else
                        {
                            <div class="notice" id="commentform">
                                <p>
                                    برای پیشنهاد نکات دیگری راجعه به @Model.Poet.Nickname که ممکن است روی تصویر خیالی یا حقیقی او تأثیرگذار باشد در گنجور <a href="/signup" target="_blank">ثبت نام</a> کنید و با نام کاربری خود از طریق آیکون 👤 گوشهٔ پایین سمت چپ صفحات به آن وارد شوید.
                                </p>
                            </div>
                        }
                    </div>
                }


                <div class="spacer"></div>
                <partial name="_InlineLoginPartial" model="Model" />
            </div>
        </div>

        <partial name="_FooterPartial" model="null" />
    </div>

</body>
</html>