@page
@model GanjooRazor.Pages.PhotosModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex, nofollow" />
    <title>
        @Html.Raw(ViewData["Title"])
    </title>
    <link href="/css/p8.css?version=32" rel="stylesheet" type="text/css" />
    <link href="/css/fab.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="search" type="application/opensearchdescription+xml" title="گنجور" href="https://ganjoor.net/search.xml" />
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script>
        var playerScrollLock = false;
    </script>
    <script src="/js/bk.js?version=21"></script>


</head>
<body>
    <div id="hdr">
        <h1>
            @if(Model.Poet == null)
            {
                <a href="/photos" title="گنجور"><img src="/image/gmg.gif" alt="@ViewData["Title"]" class="home-logo" /></a>
            }
            else
            {
                 <a href="/photos" title="گنجور"><img src="@Model.Poet.ImageUrl" alt="@ViewData["Title"]" class="home-logo" /></a>
            }
        </h1>
        <p>
            از طریق این صفحه می‌توانید تصویر مد نظر یا طراحی شدهٔ خود را برای شاعران محبوبتان پیشنهاد دهید. در صورت تأیید و انتخاب پیشنهاد شما نام شما به عنوان انتخابگر یا طراح تصویر ثبت می‌شود.
        </p>
    </div>
    <div id="fa">
        <h2>
            @if(Model.Poet == null)
            {
                @ViewData["Title"]
            }
            else
            {
                <text>
                    تصاویر <a href="@Model.Poet.FullUrl" target="_blank">@Model.Poet.Nickname</a>
                </text>
            }
            
        </h2>
        @if(Model.Poet != null)
        {
            <h3>
                <a href="/photos">فهرست همهٔ شاعران</a>
            </h3>
        }
        <div id="main">
            <div id="guides">
                <div class="clear-both">
                    <input type="text" id="findpoet" placeholder="جستجوی شاعر" size="35" value="" oninput="onFindPoet(this.value)" />
                    <div class="spacer" id="found-poets"></div>
                </div>
                <div class="century">
                    فهرست شاعران
                </div>
                @foreach (var poet in Model.Poets)
                {
                    <div class="poet" data-value="@poet.Nickname">
                        <a href="/photos?p=@poet.FullUrl.Substring(1)" title="@poet.Name"><img src="@poet.ImageUrl" alt="@poet.Name" /></a>
                        <div class="caption">
                            <a href="/photos?p=@poet.FullUrl.Substring(1)">@poet.Nickname</a>
                        </div>
                    </div>
                }
                <div class="spacer"></div>
                <partial name="_InlineLoginPartial" model="Model" />
            </div>
        </div>

        <partial name="_FooterPartial" model="null" />
    </div>

</body>
</html>>