@page
@model GanjooRazor.Pages.ResetPasswordModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex, nofollow" />
    <link rel="shortcut icon" href="/favicon.ico?version=1" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="/css/p8.css?version=82" rel="stylesheet" type="text/css" />
</head>
<body class="bk-background">
    <div id="hdr">
        <h1><a href="/" title="گنجور"><img src="/image/gdap.png" alt="گنجور" style="width:auto;margin:auto;" /></a></h1>
    </div>
    <div id="login">
        <div id="main">
            @if (Model.LoggedIn)
            {
                <div class="background-red color-white">
                    <p>شما پیشتر وارد شده‌اید! برای طی فرایند فراموشی گذرواژه خارج شوید.</p>
                </div>
            }
            else
            if (Model.PhaseSendEmail)
            {
                <form method="post" action="/resetpassword?Handler=SendEmail">

                    <table class="font-size-1em">

                        <tr class="nobackground">
                            <td class="noborder" colspan="2">
                                <div class="notice width-100per">
                                    <p>
                                        لطفاً پست الکترونیکی را که با آن نام‌نویسی کرده‌اید وارد کنید:
                                    </p>
                                </div>

                            </td>
                        </tr>

                        <tr class="nobackground">
                            <td class="noborder">
                                <span class="inputlabel">پست الکترونیکی: </span>
                            </td>
                            <td class="noborder">
                                <input type="email" asp-for="ForgotPasswordViewModel.Email" class="signupemail" placeholder="پست الکترونیکی" />
                            </td>
                        </tr>

                        <tr class="nobackground">
                            <td class="noborder">
                                <span class="inputlabel">تصویر امنیتی:</span>
                            </td>
                            <td class="noborder">
                                <img src="@Model.CaptchaImageUrl" alt="تصویر امنیتی" width="100" />
                                <input type="hidden" asp-for="ForgotPasswordViewModel.ClientAppName" />
                                <input type="hidden" asp-for="ForgotPasswordViewModel.Language" />
                                <input type="hidden" asp-for="ForgotPasswordViewModel.CallbackUrl" />
                                <input type="hidden" asp-for="ForgotPasswordViewModel.CaptchaImageId" />
                            </td>
                        </tr>

                        <tr class="nobackground">
                            <td class="noborder" colspan="2">
                                <div class="notice width-100per">
                                    <p>
                                        تصویر امنیتی بالا کمک می‌کند بین کاربران واقعی و رباتها و برنامه‌های کامپیوتری تمایز قائل شویم. لطفاً عددی را که در تصویر امنیتی بالا می‌بینید در کادر زیر وارد کنید:
                                    </p>
                                </div>
                            </td>
                        </tr>

                        <tr class="nobackground">
                            <td class="noborder">
                                <span class="inputlabel">عدد تصویر امنیتی: </span>
                            </td>
                            <td class="noborder">
                                <input asp-for="ForgotPasswordViewModel.CaptchaValue" class="signupemail" placeholder="عدد تصویر امنیتی" />
                            </td>
                        </tr>

                        <tr class="nobackground">
                            <td class="noborder" colspan="2"><input type="submit" name="submit" id="submit" class="pagebutton font-size-2em background-green width-100per padding-bottom-50px" value="ادامه" /></td>
                        </tr>
                    </table>

                    <div class="background-red color-white"><p>@Model.LastError</p></div>

                </form>
            }
            else
            if (Model.PhaseVerify)
            {
                <form method="post" action="/resetpassword?Handler=Verify">

                    <table class="font-size-1em">

                        <tr class="nobackground">
                            <td class="noborder">
                                <span class="inputlabel">رمز دریافتی:</span>
                            </td>
                            <td class="noborder">
                                <input asp-for="Secret" class="signupemail" placeholder="رمز دریافتی" />
                            </td>
                        </tr>

                        <tr class="nobackground">
                            <td class="noborder" colspan="2">
                                <div class="notice width-100per">
                                    <p>لطفاً پست الکترونیکی خود را بررسی کنید. در صورتی که نشانی پست الکترونیکی خود را درست وارد کرده باشید نامه‌ای از گنجور دریافت کرده‌اید که حاوی یک رمز است. </p>
                                    <p>رمز دریافتی را در کادر بالا وارد کرده، روی «ادامه» بزنید.</p>
                                    <p><span class="red-color">تذکر:</span> ممکن است نامه به پوشهٔ اسپم منتقل شده باشد.</p>
                                </div>
                            </td>
                        </tr>


                        <tr class="nobackground">
                            <td class="noborder"><a role="button" class="pagebutton" href="/resetpassword">مرحلهٔ قبل</a></td>
                            <td class="noborder"><input type="submit" name="submit" id="submit" class="pagebutton font-size-2em background-green width-100per padding-bottom-50px" value="ادامه" /></td>
                        </tr>

                    </table>

                    <div class="background-red color-white"><p>@Model.LastError</p></div>

                </form>
            }
            else
            {
                <form method="post" action="/resetpassword?Handler=Phase3">

                    <table class="font-size-1em">

                        <tr class="nobackground">
                            <td class="noborder" colspan="2">
                                <div class="notice width-100per">
                                    <p>گذرواژهٔ جدیدی برای خود تعیین کنید:</p>
                                </div>
                            </td>
                        </tr>

                        <tr class="nobackground">
                            <td class="noborder">
                                <span class="inputlabel">گذرواژه: </span>
                            </td>
                            <td class="noborder">
                                <input asp-for="ResetPasswordViewModel.Password" id="password" class="signupemail" autocomplete="new-password" placeholder="گذرواژه" />
                            </td>
                        </tr>

                        <tr class="nobackground">
                            <td class="noborder">
                                <span class="inputlabel">تکرار گذرواژه: </span>
                            </td>
                            <td class="noborder">
                                <input asp-for="ResetPasswordViewModel.PasswordConfirmation" class="signupemail" autocomplete="new-password" placeholder="تکرار گذرواژه" />
                            </td>
                        </tr>

                        <tr class="nobackground">
                            <td class="noborder" colspan="2">
                                <input type="hidden" asp-for="ResetPasswordViewModel.Email" />
                                <input type="hidden" asp-for="ResetPasswordViewModel.Secret" />
                                <div class="notice width-100per">
                                    <p>گذرواژه باید دست کم شامل <span class="red-color"><strong>۶</strong></span> حرف باشد و از ترکیبی از <span class="red-color"><strong>اعداد و حروف انگلیسی</strong></span> تشکیل شده باشد.</p>
                                    <p>حروف و اعداد نباید تکراری باشند و وجود <span class="red-color"><strong>حداقل یک عدد</strong></span> و <span class="red-color"><strong>یک حرف کوچک انگلیسی</strong></span> در گذرواژه الزامی است.</p>
                                </div>
                            </td>
                        </tr>

                        <tr class="nobackground">
                            <td class="noborder" colspan="2"><input type="submit" name="submit" class="pagebutton font-size-2em background-green width-100per padding-bottom-50px" id="submit" value="ادامه" /></td>
                        </tr>

                    </table>

                    <div class="background-red color-white"><p>@Model.LastError</p></div>
                </form>
            }
        </div>
        <partial name="_FooterPartial" model=@(new _FooterPartialModel(){StickyEnabled = false}) />
    </div>
    @if (ViewData["TrackingScript"] != null && !string.IsNullOrEmpty(ViewData["TrackingScript"].ToString()))
    {
        @Html.Raw(ViewData["TrackingScript"])
    }

</body>
</html>