@page
@model GanjooRazor.Pages.ResetPasswordModel
@{
    Layout = null;
    ViewData["Title"] = "فراموشی گذرواژه";
}
<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex, nofollow" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link href="/css/p8.css?version=27" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="hdr">
        <h1><a href="/" title="گنجور"><img src="/image/gmg.gif" alt="گنجور" style="width:auto;margin:auto;" /></a></h1>
    </div>
    <div id="login">
        <div id="login-container">
            @if (Model.LoggedIn)
            {
                <div>
                    <p>شما پیشتر وارد شده‌اید! برای طی فرایند فراموشی گذرواژه خارج شوید.</p>
                </div>
            }
            else
           if (Model.PhaseSendEmail)
            {
                <form method="post" action="/resetpassword?Handler=SendEmail">
                    <table>
                        <tr>
                            <td colspan="2">
                                <p>
                                    لطفاً پست الکترونیکی که با آن ثبت نام کرده‌اید را وارد کنید:
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="inputlabel">پست الکترونیکی: </span>
                            </td>
                            <td>
                                <input type="email" asp-for="ForgotPasswordViewModel.Email" placeholder="پست الکترونیکی" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="inputlabel">تصویر امنیتی:</span>
                            </td>
                            <td>
                                <img src="@Model.CaptchaImageUrl" />
                                <input type="hidden" asp-for="ForgotPasswordViewModel.ClientAppName" />
                                <input type="hidden" asp-for="ForgotPasswordViewModel.Language" />
                                <input type="hidden" asp-for="ForgotPasswordViewModel.CallbackUrl" />
                                <input type="hidden" asp-for="ForgotPasswordViewModel.CaptchaImageId" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <p>
                                    تصویر امنیتی بالا کمک می‌کند بین کاربران واقعی و رباتها و برنامه‌های کامپیوتری تمایز قائل شویم. لطفاً عددی را که در تصویر امنیتی بالا می‌بینید در کادر زیر وارد کنید:
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="inputlabel">عدد تصویر امنیتی: </span>
                            </td>
                            <td>
                                <input type="password" asp-for="ForgotPasswordViewModel.CaptchaValue" id="password" placeholder="عدد تصویر امنیتی" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="submit" name="submit" id="submit" style="width:100%;background-color:green;color:white;text-align:center;cursor:pointer;border-color:white;font-size:2.0em" value="ادامه" /></td>
                        </tr>
                    </table>
                    <div><p style="color:red">@Model.LastError</p></div>
                </form>
            }
            else
       if (Model.PhaseVerify)
            {
                <form method="post" action="/resetpassword?Handler=Verify">
                    <table>
                        <tr>
                            <td colspan="2">
                                <p>لطفا پست الکترونیکی خود را بررسی کنید. در صورتی که نشانی پست الکترونیکی خود را درست وارد کرده باشید نامه‌ای از گنجور دریافت کرده‌اید که حاوی یک رمز است. </p>
                                <p>رمز دریافتی را در کادر زیر وارد کرده، روی دکمهٔ «ادامه» کلیک کنید</p>
                                <p style="color:red">تذکر: ممکن است نامه به پوشه اسپم منتقل شده باشد</p>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span class="inputlabel">رمز دریافتی:</span>
                            </td>
                            <td>
                                <input asp-for="Secret" placeholder="رمز دریافتی" />
                            </td>
                        </tr>
                        <tr>
                            <td><a role="button" style="cursor: pointer; width: 100%; color: white; background-color: red; display: block" href="/resetpassword">برگشت</a></td>
                            <td><input type="submit" name="submit" id="submit" style="width:100%;background-color:green;color:white;text-align:center;cursor:pointer;border-color:white;font-size:2.0em" value="ادامه" /></td>
                        </tr>
                    </table>
                    <div><p style="color:red">@Model.LastError</p></div>
                </form>
            }
            else
            {
                <form method="post" action="/resetpassword?Handler=Phase3">
                    <table>
                        <tr>
                            <td>
                                <span class="inputlabel">گذرواژه: </span>
                            </td>
                            <td>
                                <input type="password" asp-for="ResetPasswordViewModel.Password" id="password" placeholder="گذرواژه" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="inputlabel">تکرار گذرواژه: </span>
                            </td>
                            <td>
                                <input type="password" asp-for="ResetPasswordViewModel.PasswordConfirmation" placeholder="تکرار گذرواژه" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="hidden" asp-for="ResetPasswordViewModel.Email" />
                                <input type="hidden" asp-for="ResetPasswordViewModel.Secret" />
                                <p>گذرواژه باید دست کم شامل ۶ حرف باشد و از ترکیبی از اعداد و حروف انگلیسی تشکیل شده باشد.</p>
                                <p>حروف و اعداد نباید تکراری باشند و وجود حداقل یک عدد و یک حرف کوچک انگلیسی در گذرواژه الزامی است</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="submit" name="submit" style="width:100%;background-color:green;color:white;text-align:center;cursor:pointer;border-color:white;font-size:2.0em" id="submit" value="ادامه" /></td>
                        </tr>
                    </table>
                    <div><p style="color:red">@Model.LastError</p></div>
                </form>
            }
        </div>
    </div>
</body>
</html>