@page
@model GanjooRazor.Pages.SignUpModel
@{
    Layout = null;
    ViewData["Title"] = "ثبت نام";
}
<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex, nofollow" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link href="/css/p8.css?version=18" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="hdr">
        <h1><a href="/" title="گنجور"><img src="/image/gmg.gif" alt="گنجور" style="width:auto;margin:auto;" /></a></h1>
    </div>
    <div id="login">
        <div id="login-container">
            @if (Model.LoggedIn)
            {
                <div>
                    <p>شما پیشتر ثبت نام کرده‌اید!</p>
                </div>
            }
            else
          if (Model.SignupPhase1)
            {
                <form method="post" action="/signup?Handler=Phase1">
                    <table>
                        <tr>
                            <td colspan="2">
                                <p>
                                    برای ثبت نام در گنجور نیاز به یک ایمیل دارید. فرایند ثبت نام با ارسال یک رمز به ایمیل (پست الکترونیکی) شما ادامه پیدا می‌کند و اگر ایمیلتان درست نباشد یا به آن دسترسی نداشته باشید نمی‌توانید در گنجور ثبت نام کنید.

                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="inputlabel">پست الکترونیکی: </span>
                            </td>
                            <td>
                                <input type="email" asp-for="SignUpViewModel.Email" placeholder="پست الکترونیکی" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="inputlabel">تصویر امنیتی:</span>
                            </td>
                            <td>
                                <img src="@Model.CaptchaImageUrl" />
                                <input type="hidden" asp-for="SignUpViewModel.ClientAppName" />
                                <input type="hidden" asp-for="SignUpViewModel.Language" />
                                <input type="hidden" asp-for="SignUpViewModel.CallbackUrl" />
                                <input type="hidden" asp-for="SignUpViewModel.CaptchaImageId" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <p>
                                    تصویر امنیتی بالا کمک می‌کند بین کاربران واقعی و رباتها و برنامه‌های کامپیوتری تمایز قائل شویم. لطفاً عددی را که در تصویر امنیتی بالا می‌بینید در کادر زیر وارد کنید:
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="inputlabel">عدد تصویر امنیتی: </span>
                            </td>
                            <td>
                                <input type="password" asp-for="SignUpViewModel.CaptchaValue" id="password" placeholder="عدد تصویر امنیتی" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="submit" name="submit" id="submit" style="width:100%;background-color:green;color:white;text-align:center;cursor:pointer;border-color:white;font-size:2.0em" value="ادامه" /></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div><p style="color:red">@Model.LastError</p></div>
                                <p>لطفاً به نکات زیر توجه کنید:</p>
                                <p>۱. اگر پیشتر در <a href="https://museum.ganjoor.net">گنجینهٔ گنجور</a> یا <a href="https://gaudiopanel.ganjoor.net">پیشخان خوانشگران گنجور</a> ثبت نام کرده‌اید می‌توانید با همان اطلاعات کاربری در گنجور وارد شوید و نیاز به و امکان ثبت نام مجدد با همان ایمیل را ندارید. </p>
                                <p>۲. برای مطالعهٔ اشعار نیازی به ثبت نام ندارید. ثبت نام برای درج حاشیه و مشارکت در سایت مورد نیاز است.</p>
                                <p>۳. گنجور اطلاعاتی راجع به این که شما با نام کاربری خود چه صفحاتی را مطالعه می‌کنید جمع آوری نمی‌کند. برای اطمینان مفاد صفحهٔ <a href="/privacy">حریم خصوصی</a> را مطالعه بفرمایید.</p>
                                <p>۴. بعد از ثبت نام امکان حذف حساب کاربری خود را دارید. با این کار اطلاعات خاص شما مثل حاشیه‌ها و خوانش‌ها حذف می‌شود و مشارکت‌های شما مثل ویرایش‌ها و ... به نام کاربر سیستم گنجور ثبت می‌شود.</p>
                            </td>
                        </tr>
                    </table>
                    
                </form>

            }
            else
      if (Model.SignupVerifyEmailPhase)
            {
                <form method="post" action="/signup?Handler=Phase2">
                    <table>
                        <tr>
                            <td colspan="2">
                                <p>لطفا پست الکترونیکی خود را بررسی کنید. در صورتی که نشانی پست الکترونیکی خود را درست وارد کرده باشید نامه‌ای از گنجور دریافت کرده‌اید که حاوی یک رمز است. </p>
                                <p>رمز دریافتی را در کادر زیر وارد کرده، روی دکمهٔ «ادامه» کلیک کنید</p>
                                <p style="color:red">تذکر: ممکن است نامه به پوشه اسپم منتقل شده باشد</p>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span class="inputlabel">رمز دریافتی:</span>
                            </td>
                            <td>
                                <input asp-for="Secret" placeholder="رمز دریافتی" />
                            </td>
                        </tr>
                        <tr>
                            <td><a role="button" style="cursor: pointer; width: 100%; color: white; background-color: red; display: block" href="/signup">برگشت</a></td>
                            <td><input type="submit" name="submit" id="submit" style="width:100%;background-color:green;color:white;text-align:center;cursor:pointer;border-color:white;font-size:2.0em" value="ادامه" /></td>
                        </tr>
                    </table>
                    <div><p style="color:red">@Model.LastError</p></div>
                </form>
            }
            else
            {
                <form method="post" action="/signup?Handler=Phase3">
                    <table>
                        <tr>
                            <td>
                                <span class="inputlabel">نام: </span>
                            </td>
                            <td>
                                <input asp-for="FinalViewModel.FirstName" style="direction:rtl;text-align:right" placeholder="نام" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="inputlabel">نام خانوادگی: </span>
                            </td>
                            <td>
                                <input asp-for="FinalViewModel.SureName" style="direction:rtl;text-align:right" placeholder="نام خانوادگی" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="inputlabel">گذرواژه: </span>
                            </td>
                            <td>
                                <input type="password" asp-for="FinalViewModel.Password" id="password" placeholder="گذرواژه" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="inputlabel">تکرار گذرواژه: </span>
                            </td>
                            <td>
                                <input type="password" asp-for="FinalViewModel.PasswordConfirmation" placeholder="تکرار گذرواژه" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="hidden" asp-for="FinalViewModel.Email" />
                                <input type="hidden" asp-for="FinalViewModel.Secret" />
                                <p>گذرواژه باید دست کم شامل ۶ حرف باشد و از ترکیبی از اعداد و حروف انگلیسی تشکیل شده باشد.</p>
                                <p>حروف و اعداد نباید تکراری باشند و وجود حداقل یک عدد و یک حرف کوچک انگلیسی در گذرواژه الزامی است</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="submit" name="submit" id="submit" style="width:100%;background-color:green;color:white;text-align:center;cursor:pointer;border-color:white;font-size:2.0em" value="ادامه" /></td>
                        </tr>
                    </table>
                    <div><p style="color:red">@Model.LastError</p></div>
                </form>

            }

        </div>
    </div>
</body>
</html>