@page
@model GanjooRazor.Pages.SignUpModel
@{
    Layout = null;

}
<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex, nofollow" />
    <link rel="shortcut icon" href="/favicon.ico?version=1" type="image/x-icon" />
    <link href="/css/p8.css?version=71" rel="stylesheet" type="text/css" />
</head>
<body class="bk-background">
    <div id="hdr">
        <h1><a href="/" title="گنجور"><img src="/image/gdap.png" alt="گنجور" style="width:auto;margin:auto;" /></a></h1>
    </div>
    <div id="login">
        <div id="main">
            @if (Model.LoggedIn)
            {
                <div class="background-red color-white">
                    <p>شما پیشتر نام‌نویسی کرده‌اید!</p>
                </div>
            }
            else
            if (Model.SignupPhase1)
            {
                <form method="post" action="/signup?Handler=Phase1">
                    <table class="font-size-1em">

                        <tr class="nobackground">
                            <td class="noborder">
                                <span class="inputlabel">پست الکترونیکی: </span>
                            </td>
                            <td class="noborder">
                                <input type="email" asp-for="SignUpViewModel.Email" class="signupemail" placeholder="پست الکترونیکی" />
                            </td>
                        </tr>

                        <tr class="nobackground">
                            <td class="noborder" colspan="2">
                                <div class="notice width-100per">
                                    <p>
                                        برای نام‌نویسی در گنجور نیاز به یک ایمیل دارید. فرایند نام‌نویسی با ارسال یک رمز به ایمیل (پست الکترونیکی) شما ادامه پیدا می‌کند و اگر ایمیلتان درست نباشد یا به آن دسترسی نداشته باشید نمی‌توانید در گنجور نام‌نویسی کنید.
                                    </p>
                                </div>
                            </td>
                        </tr>

                        <tr class="nobackground">
                            <td class="noborder">
                                <span class="inputlabel">تصویر امنیتی:</span>
                            </td>
                            <td class="noborder">
                                <img src="@Model.CaptchaImageUrl" alt="تصویر امنیتی" width="100" />
                                <input type="hidden" asp-for="SignUpViewModel.ClientAppName" />
                                <input type="hidden" asp-for="SignUpViewModel.Language" />
                                <input type="hidden" asp-for="SignUpViewModel.CallbackUrl" />
                                <input type="hidden" asp-for="SignUpViewModel.CaptchaImageId" />
                            </td>
                        </tr>

                        <tr class="nobackground">
                            <td class="noborder" colspan="2">
                                <div class="notice width-100per">
                                    <p>
                                        تصویر امنیتی بالا کمک می‌کند بین کاربران واقعی و رباتها و برنامه‌های کامپیوتری تمایز قائل شویم. لطفاً عددی را که در تصویر امنیتی بالا می‌بینید در کادر زیر وارد کنید:
                                    </p>
                                </div>

                            </td>
                        </tr>

                        <tr class="nobackground">
                            <td class="noborder">
                                <span class="inputlabel">عدد تصویر امنیتی: </span>
                            </td>
                            <td class="noborder">
                                <input asp-for="SignUpViewModel.CaptchaValue" class="signupemail" placeholder="عدد تصویر امنیتی" />
                            </td>
                        </tr>

                        <tr class="nobackground">
                            <td class="noborder" colspan="2"><input type="submit" name="submit" id="submit" class="pagebutton font-size-2em background-green width-100per padding-bottom-50px" value="ادامه" /></td>
                        </tr>

                        <tr class="nobackground">
                            <td class="noborder" colspan="2">
                                <div class="background-red color-white"><p>@Model.LastError</p></div>
                                <div class="notice width-100per">
                                    <p>لطفاً به نکات زیر توجه کنید:</p>
                                    <p>۱. اگر پیشتر در <a href="https://museum.ganjoor.net">گنجینهٔ گنجور</a> یا <a href="https://gaudiopanel.ganjoor.net">پیشخان خوانشگران گنجور</a> نام‌نویسی کرده‌اید می‌توانید با همان اطلاعات کاربری در گنجور وارد شوید و نیاز به و امکان نام‌نویسی مجدد با همان ایمیل را ندارید. </p>
                                    <p>۲. برای مطالعهٔ اشعار نیازی به نام‌نویسی ندارید. نام‌نویسی برای درج حاشیه و مشارکت در سایت مورد نیاز است.</p>
                                    <p>۳. گنجور اطلاعاتی راجع به این که شما با نام کاربری خود چه صفحاتی را مطالعه می‌کنید جمع آوری نمی‌کند. برای اطمینان مفاد صفحهٔ <a href="/privacy">حریم خصوصی</a> را مطالعه بفرمایید.</p>
                                    <p>۴. بعد از نام‌نویسی امکان حذف حساب کاربری خود را دارید. با این کار اطلاعات خاص شما مثل حاشیه‌ها و خوانش‌ها حذف می‌شود و مشارکت‌های شما مثل ویرایش‌ها و ... به نام کاربر سیستم گنجور ثبت می‌شود.</p>
                                </div>
                            </td>
                        </tr>

                    </table>

                </form>

            }
            else
            if (Model.SignupVerifyEmailPhase)
            {
                <form method="post" action="/signup?Handler=Phase2">
                    <table class="font-size-1em">

                        <tr class="nobackground">
                            <td class="noborder">
                                <span class="inputlabel">رمز دریافتی:</span>
                            </td>
                            <td class="noborder">
                                <input asp-for="Secret" class="signupemail" placeholder="رمز دریافتی" />
                            </td>
                        </tr>

                        <tr class="nobackground">
                            <td class="noborder" colspan="2">
                                <div class="notice width-100per">
                                    <p>لطفاً پست الکترونیکی خود را بررسی کنید. در صورتی که نشانی پست الکترونیکی خود را درست وارد کرده باشید نامه‌ای از گنجور دریافت کرده‌اید که حاوی یک رمز است. </p>
                                    <p>رمز دریافتی را در کادر بالا وارد کرده، روی «ادامه» بزنید.</p>
                                    <p><span class="red-color">تذکر:</span> ممکن است نامه به پوشهٔ اسپم منتقل شده باشد.</p>
                                </div>
                            </td>
                        </tr>

                        <tr class="nobackground">
                            <td class="noborder"><a role="button" class="pagebutton" href="/signup">مرحلهٔ قبل</a></td>
                            <td class="noborder"><input type="submit" name="submit" id="submit" class="pagebutton font-size-2em background-green width-100per padding-bottom-50px" value="ادامه" /></td>
                        </tr>

                    </table>

                    <div class="background-red color-white"><p>@Model.LastError</p></div>
                </form>
            }
            else
            {
                <form method="post" action="/signup?Handler=Phase3">
                    <table class="font-size-1em">

                        <tr class="nobackground">
                            <td class="noborder">
                                <span class="inputlabel">نام: </span>
                            </td>
                            <td class="noborder">
                                <input asp-for="FinalViewModel.FirstName" class="rtl-right width-100per" placeholder="نام" />
                            </td>
                        </tr>

                        <tr class="nobackground">
                            <td class="noborder">
                                <span class="inputlabel">نام خانوادگی: </span>
                            </td>
                            <td class="noborder">
                                <input asp-for="FinalViewModel.SurName" class="rtl-right width-100per" placeholder="نام خانوادگی" />
                            </td>
                        </tr>

                        <tr class="nobackground">
                            <td class="noborder">
                                <span class="inputlabel">گذرواژه: </span>
                            </td>
                            <td class="noborder">
                                <input asp-for="FinalViewModel.Password" id="password" class="signupemail" placeholder="گذرواژه" />
                            </td>
                        </tr>

                        <tr class="nobackground">
                            <td class="noborder">
                                <span class="inputlabel">تکرار گذرواژه: </span>
                            </td>
                            <td class="noborder">
                                <input asp-for="FinalViewModel.PasswordConfirmation" class="signupemail" placeholder="تکرار گذرواژه" />
                            </td>
                        </tr>

                        <tr class="nobackground">
                            <td class="noborder" colspan="2">
                                <input type="hidden" asp-for="FinalViewModel.Email" />
                                <input type="hidden" asp-for="FinalViewModel.Secret" />
                                <div class="notice width-100per">
                                    <p>گذرواژه باید دست کم شامل <span class="red-color"><strong>۶</strong></span> حرف باشد و از ترکیبی از <span class="red-color"><strong>اعداد و حروف انگلیسی</strong></span> تشکیل شده باشد.</p>
                                    <p>حروف و اعداد نباید تکراری باشند و وجود <span class="red-color"><strong>حداقل یک عدد</strong></span> و <span class="red-color"><strong>یک حرف کوچک انگلیسی</strong></span> در گذرواژه الزامی است.</p>
                                </div>
                            </td>
                        </tr>

                        <tr class="nobackground">
                            <td class="noborder" colspan="2"><input type="submit" name="submit" id="submit" class="pagebutton font-size-2em background-green width-100per padding-bottom-50px" value="ادامه" /></td>
                        </tr>

                    </table>

                    <div class="background-red color-white"><p>@Model.LastError</p></div>
                </form>

            }

        </div>
        <partial name="_FooterPartial" model=@(new _FooterPartialModel(){StickyEnabled = false}) />
    </div>
    @if (!string.IsNullOrEmpty(ViewData["GoogleAnalyticsCode"].ToString()))
    {
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=@(ViewData["GoogleAnalyticsCode"])"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', '@ViewData["GoogleAnalyticsCode"]');
        </script>
    }
</body>
</html>