@page
@model GanjooRazor.Pages.SimiModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        @ViewData["Title"]
    </title>

    <link href="/css/p8.css?version=46" rel="stylesheet" type="text/css" />
    <link href="/css/fab.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico?version=1" type="image/x-icon" />
    <link rel="search" type="application/opensearchdescription+xml" title="گنجور" href="https://ganjoor.net/search.xml" />

</head>
<body>

    @if (!string.IsNullOrEmpty(Model.LastError))
    {
        @Html.Raw(Model.LastError)
    }
    else
    {
        <div id="hdr2" class="clearfix">
            <h1><a href="/" title="گنجور"><img src="/image/gdapk.png" alt="گنجور" /></a></h1>
            <div class="actionbox">
                <form action="/search" method="get" id="searchform">
                    <input type="text" name="s" id="s" class="inputText" value="" placeholder="جستجو" />
                    <select name="author" id="author" onchange="onSelectedPoetChanged()">

                        @{
                            if (Model.PoetId != 0)
                            {
                                <option value="0">در آثار همهٔ سخنوران</option>
                            }
                            else
                            {
                                <option value="0" selected>در آثار همهٔ سخنوران</option>
                            }

                            if (Model.Poets != null)
                            {
                                foreach (RMuseum.Models.Ganjoor.ViewModels.GanjoorPoetViewModel poet in Model.Poets)
                                {
                                    if (poet.Id == Model.PoetId)
                                    {
                                        <option value="@poet.Id" selected>@poet.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@poet.Id">@poet.Name</option>
                                    }

                                }
                            }
                        }
                    </select>
                    @{
                        if (Model.Poet != null)
                        {
                            <select name="cat" id="cat" style="width:150px">
                                <option value="0" selected>در همهٔ بخشها</option>
                                @{
                                    foreach (var gran in Model.Poet.Cat.Ancestors)
                                    {
                                        <option value="@gran.Id">@gran.Title</option>
                                    }
                                    <option value="@Model.Poet.Cat.Id">@Model.Poet.Cat.Title</option>
                                    foreach (var child in Model.Poet.Cat.Children)
                                    {
                                        <option value="@child.Id">@child.Title</option>
                                    }
                                }
                            </select>
                        }
                    }

                    <input type="submit" value="بیاب" />
                </form>
            </div><!-- .actionbox -->
        </div>

        <!-- #hdr2 -->

        <div id="fa">

            <div id="maincnt">

                <div class="sitem actionbox">
                    <div class="related-images-frame">
                        <form method="get" id="simiform">

                            <select name="a" id="a" class="width-100per">
                                @{
                                    if (Model.PoetId != 0)
                                    {
                                        <option value="0">در آثار همهٔ سخنوران</option>
                                    }
                                    else
                                    {
                                        <option value="0" selected>در آثار همهٔ سخنوران</option>
                                    }

                                    if (Model.Poets != null)
                                    {
                                        foreach (RMuseum.Models.Ganjoor.ViewModels.GanjoorPoetViewModel poet in Model.Poets)
                                        {
                                            if (poet.Id == Model.PoetId)
                                            {
                                                <option value="@poet.Id" selected>@poet.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@poet.Id">@poet.Name</option>
                                            }
                                        }
                                    }
                                }
                            </select>

                            <label for="v" class="width-100per">وزن:</label>
                            <input class="width-100per" type="text" id="select-search" placeholder="جستجوی وزن" oninput="doSearchInRhythmsCombo('select-search', 'v')" list="inputRhythms" autocomplete="off" size="50" />
                            <datalist id="inputRhythms">
                                @if (Model.RhythmsByVerseCount != null)
                                    @foreach (var rhythm in Model.RhythmsByVerseCount)
                                    {
                                        <option value="@rhythm.Rhythm">@rhythm.Rhythm</option>
                                    }
                            </datalist>
                            <select id="v" name="v" class="width-100per">
                                @foreach (var rhythm in Model.RhythmsAlphabetically)
                                {
                                    if (Model.Metre == rhythm.Rhythm)
                                    {
                                        <option value="@rhythm.Rhythm" selected>@(rhythm.Rhythm == "" ? "هیچکدام" : rhythm.Rhythm == "null" ? "وزنیابی نشده" : rhythm.Rhythm)</option>
                                    }
                                    else
                                    {
                                        <option value="@rhythm.Rhythm">@(rhythm.Rhythm == "" ? "هیچکدام" : rhythm.Rhythm == "null" ? "وزنیابی نشده" : rhythm.Rhythm)</option>
                                    }

                                }
                            </select>

                            <label for="g" class="width-100per">قافیه:</label>
                            <input type="text" name="g" id="g" class="width-100per" value="@Model.Rhyme" placeholder="حروف قافیه" />

                            <input type="submit" class="width-100per" value="اعمال ورودی‌ها" />


                        </form>
                    </div><!-- related-images-frame -->
                </div> <!-- comments-like-div -->
                @if (Model.Poems == null)
                {
                    <div class="sitem">
                        <p>لطفاً وزن یا قافیهٔ ابیات مد نظر را وارد کنید.</p>
                    </div>
                }
                else
               if (Model.Poems.Count == 0)
                {
                    <div class="sitem">
                        <p>شعری با مشخصات مورد نظر شما پیدا نشد.</p>
                    </div>
                }
                else
                    foreach (var poem in Model.Poems)
                    {

                        <div class="sitem">
                            <h2>
                                <a href="@poem.FullUrl">@poem.FullTitle</a>
                            </h2>
                            <div class="spacer">&nbsp;</div>
                            <div class="sit">
                                @Html.Raw(poem.HtmlText)
                            </div>

                            <img src="@($"{GanjooRazor.APIRoot.InternetUrl}{poem.Category.Poet.ImageUrl}")" alt="@($"{poem.Category.Poet.Name}")" />

                            <div class="spacer">&nbsp;</div>
                        </div>
                    }

                <div class="spacer">&nbsp;</div>

                @Html.Raw(Model.PagingToolsHtml)

            </div>

            <partial name="_InlineLoginPartial" model="Model" />

            <partial name="_FooterPartial" model="null" />

        </div>

        <script src="/lib/jquery/dist/jquery.min.js"></script>
        <script src="/js/bk.js?version=30"></script>
        <script src="/js/vaabd.js?version=2"></script>

        @if (!string.IsNullOrEmpty(ViewData["GoogleAnalyticsCode"].ToString()))
        {
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=@(ViewData["GoogleAnalyticsCode"])"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() { dataLayer.push(arguments); }
                gtag('js', new Date());

                gtag('config', '@ViewData["GoogleAnalyticsCode"]');
            </script>
        }
    }



</body>
</html>

