@page
@model GanjooRazor.Pages.TransModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex, nofollow" />
    <title>
        گنجور &raquo; برگردان‌ها و نویس‌های شعر
    </title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="~/css/p8.css?version=14" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="search" type="application/opensearchdescription+xml" title="گنجور" href="https://ganjoor.net/search.xml" />
</head>
<body>
    <div style="width:95%;max-width:500px;min-width:380px;margin:auto">

        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <p>@Model.ErrorMessage</p>
        }
        else
        {
            @if (Model.Poem.Previous != null)
            {
                <p><a href="/Trans?p=@Model.Poem.Previous.Id&lang=@Model.LanguageId">شعر قبل</a></p>
            }
            @if (Model.Poem.Next != null)
            {
                <p><a href="/Trans?p=@Model.Poem.Next.Id&lang=@Model.LanguageId">شعر بعد</a></p>
            }

            if (Model.Languages.Length == 0)
            {
                <p>
                    هنوز برای این شعر هیچ برگردان یا نویسشی ارائه یا منتشر نشده است.
                </p>

                @if (Model.CanTranslate)
                {
                    <a role="button" target="_blank" style="text-decoration: none; cursor: pointer; width: 100%; color: white; background-color: #300; display: block; text-align: center; border-color: #300 " href="/User/Translate?id=@Model.PoemId">من اضافه کنم</a>
                }
            }
            else
            {
                <select name="languages" id="languages">
                    @foreach (var language in Model.Languages)
                    {
                        if (Model.LanguageId == language.Id)
                        {
                            <option value="@language.Id" selected>@language.NativeName</option>
                        }
                        else
                        {
                            <option value="@language.Id">@language.NativeName</option>
                        }
                    }
                </select>
                <script>
                    $('#languages').change(
                        function () {
                            var langId = $('#languages option:selected').val();
                            location.href = '/Trans?p=@Model.PoemId&lang=' + String(langId);
                        }
                    );
                </script>



                if (Model.Translation == null)
                {
                    <p>
                        هنوز برای این شعر هیچ برگردان یا نویسشی با این زبان ارائه یا منتشر نشده است.
                    </p>

                }
                else
                {
                    <p><a role="button" target="_blank" href="@Model.Poem.FullUrl" class="actionlink">@Model.Poem.FullTitle</a></p>
                    @if (!string.IsNullOrEmpty(Model.Translation.Title))
                    {
                        <div class="commentquote">@Model.Translation.Title</div>
                    }


                    @foreach (var verse in Model.Translation.TranslatedVerses)
                    {
                        if (!string.IsNullOrEmpty(verse.TText))
                        {
                            <p>@verse.Verse.Text</p>
                            <div class="commentquote">@verse.TText</div>
                        }
                    }

                    @if (Model.Poem.Previous != null)
                    {
                        <p><a href="/Trans?p=@Model.Poem.Previous.Id&lang=@Model.LanguageId">شعر قبل</a></p>
                    }
                    @if (Model.Poem.Next != null)
                    {
                        <p><a href="/Trans?p=@Model.Poem.Next.Id&lang=@Model.LanguageId">شعر بعد</a></p>
                    }
                }

                @if (Model.CanTranslate)
                {
                    <a role="button" target="_blank" style="text-decoration: none; cursor: pointer; width: 100%; color: white; background-color: #300; display: block; text-align: center; border-color: #300 " href="/User/Translate?id=@Model.PoemId">من ترجمه کنم</a>
                }
            }

        }

    </div>


    @if (!string.IsNullOrEmpty(ViewData["GoogleAnalyticsCode"].ToString()))
    {
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', '@ViewData["GoogleAnalyticsCode"]', 'auto');
            ga('send', 'pageview');

        </script>
    }
</body>
</html>
