@page
@model GanjooRazor.Areas.Admin.Pages.CatTransModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "انتقال بخش";
}

<h1>@ViewData["Title"]</h1>

@if (!string.IsNullOrEmpty(Model.LastMessage))
{
    @Html.Raw(Model.LastMessage)
}
else
{
    <script>
        function deleteThisOne(id) {
            if (!confirm('آیا از حذف این مورد اطمینان دارید؟'))
                return;


            $.ajax({
                type: "DELETE",
                url: '',
                data: {
                    id: id
                },
                error: function(e) {
                    if (e.responseText == null)
                        alert(e);
                    else
                        alert(e.responseText);
                },
                success: function() {
                    var trBlockId = '#tr-' + id;
                    $(trBlockId).remove();
                },
            });

        }
    </script>
    <table>
        <tr>
            <th>مبدأ</th>
            <th>مصرع اول</th>
            <th>مقصد</th>
            <th>مصرع اول</th>
            <th>#</th>
        </tr>

        @foreach (var poem in Model.Poems)
        {
            <tr id="tr-@poem.Id">
                <td>
                    <a href="@poem.SrcPoemFullUrl">@poem.SrcPoemFullTitle</a>
                </td>
                <td>
                    @poem.FirstVerse
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(poem.DestPoemFullUrl))
                    {
                        <a href="@poem.DestPoemFullUrl">@poem.DestPoemFullTitle</a>
                    }
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(poem.DestPoemFirstVerse))
                    {
                        @poem.DestPoemFirstVerse
                    }
                </td>
                <td>
                    <a role="button" onclick="deleteThisOne(@poem.Id)" class="actionlink" title="حذف"><i class="noindent-info-button delete-icon"></i></a>
                </td>
            </tr>
        }

        <tr>
            <td colspan="3">
                <a href="/Admin/CatTrans?id=@Model.CatId&empty=1">فقط بدون مقصد</a>
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <td>مشابه‌یابی در بخش:</td>
            <td>
                <form method="post" action="/Admin/CatTrans?Handler=FindDuplicates&id=@Model.CatId">
                    <input asp-for="DestCatId" />
                    <input type="submit" value="شروع مشابه‌یابی" />
                </form>
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <td>نهایی سازی انتقال به بخش:</td>
            <td>
                <form method="post" action="/Admin/CatTrans?Handler=Finalize&id=@Model.CatId">
                    <input asp-for="DestCatId" />
                    <input type="submit" value="نهایی سازی" />
                </form>
            </td>
        </tr>
    </table>
}

