@page
@model GanjooRazor.Areas.Admin.Pages.CatTransModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "انتقال بخش";
}

<h1>@ViewData["Title"]</h1>

@if (!string.IsNullOrEmpty(Model.LastMessage))
{
    @Html.Raw(Model.LastMessage)
}
else
{
    <table>
        <tr>
            <th>مبدأ</th>
            <th>مقصد</th>
        </tr>

        @foreach (var poem in Model.Poems)
        {
            <tr>
                <td>
                    <a href="@poem.SrcPoemFullUrl">@poem.SrcPoemFullTitle</a>
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(poem.DestPoemFullUrl))
                    {
                        <a href="@poem.DestPoemFullUrl">@poem.DestPoemFullTitle</a>
                    }
                </td>
            </tr>
        }
    </table>

    <table>
        <tr>
            <td>مشابه‌یابی در بخش:</td>
            <td>
                <form method="post" action="/Admin/CatTrans?Handler=FindDuplicates&id=@Model.CatId">
                    <input asp-for="DestCatId" />
                    <input type="submit" value="شروع مشابه‌یابی" />
                </form>
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <td>نهایی سازی انتقال به بخش:</td>
            <td>
                <form method="post" action="/Admin/CatTrans?Handler=Finalize&id=@Model.CatId">
                    <input asp-for="DestCatId" />
                    <input type="submit" value="نهایی سازی" />
                </form>
            </td>
        </tr>
    </table>
}

