@page
@model GanjooRazor.Areas.Admin.Pages.CatUtilsModel
@using DNTPersianUtils.Core
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "مدیریت بخش";
}

<h1>@ViewData["Title"]</h1>

@if (!string.IsNullOrEmpty(Model.LastMessage))
{
    <p>
        @Model.LastMessage
    </p>
}

@if (Model.PageInformation != null)
{
    <p><a href="@Model.PageInformation.FullUrl">@Model.PageInformation.FullTitle</a></p>
}

@if (Model.Cat != null)
{

    <h2>زیربخش‌ها</h2>
    <table>
        @foreach (var cat in Model.Cat.Cat.Children)
        {
            <tr>
                <td>
                    <a href="/Admin/CatUtils?url=@cat.FullUrl">@cat.Title</a>
                </td>
            </tr>
        }
    </table>


    <h2>اشعار بخش</h2>
    <table>
        <tr>
            <th>
                عنوان
            </th>
            <th>
                ابتدا
            </th>
            <th>
                حروف قافیه
            </th>
            <th>
                وزن
            </th>
        </tr>
        @foreach (var poem in Model.Cat.Cat.Poems)
        {
            <tr>
                <td>
                    <a href="/Admin/ModifyPage?id=@poem.Id">@poem.Title</a>
                </td>
                <td>
                    @poem.Excerpt
                </td>
                <td>
                    @poem.RhymeLetters
                </td>
                <td>
                    @poem.Rhythm
                </td>
            </tr>
        }
    </table>

    <p><a href="/Admin/ModifyPage?id=@Model.PageInformation.Id">ویرایش صفحهٔ متناظر</a></p>

    <p><a role="button" onclick="startTocGenerationForSubCats(@Model.Cat.Cat.Id)" class="actionlink">شروع تولید مجدد فهرست همهٔ زیربخشها</a></p>

    <p><a role="button" onclick="tagCatWithRhymes(@Model.Cat.Cat.Id)" class="actionlink">شروع قافیه‌یابی</a></p>

    <table>
        <tr>
            <td colspan="2">
                <input type="text" name="rhythm" id="rhythm" list="rythms" size="50" />
                <datalist id="rythms">
                    @if (Model.Rhythms != null)
                        @foreach (var rhythm in Model.Rhythms)
                        {
                            <option value="@rhythm.Rhythm">@rhythm.Rhythm</option>
                        }
                </datalist>
                <p><a role="button" onclick="tagCatWithRhythms(@Model.Cat.Cat.Id)" class="actionlink">شروع وزن‌یابی یا وزن‌گذاری</a></p>
            </td>
        </tr>
        <tr>
            <td>شناسه:</td>
            <td>@Model.Cat.Cat.Id</td>
        </tr>
    </table>
}


<h2>تغییر عنوان گروهی</h2>

@if (Model.RenamingOutput != null)
{
    <table>
        @foreach (var item in Model.RenamingOutput)
        {
            <tr>
                <td>
                    @item
                </td>
            </tr>
        }
    </table>
}

<form method="post">
    <table>
        <tr>
            <td>
                شروع عنوان:
            </td>
            <td>
                <input asp-for="NamingModel.StartWithNotIncludingSpaces" />
            </td>
        </tr>
        <tr>
            <td>
                کاراکترهای حذفی از عنوان
            </td>
            <td>
                <input asp-for="NamingModel.RemoveSetOfCharacters" />
            </td>
        </tr>
        <tr>
            <td>
                حذف الگوی قبلی از عنوان
            </td>
            <td>
                <input asp-for="NamingModel.RemovePreviousPattern" />
            </td>
        </tr>
        <tr>
            <td>
                شبیه‌سازی
            </td>
            <td>
                <input asp-for="NamingModel.Simulate" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="تغییر نام گروهی" />
            </td>
        </tr>
    </table>
</form>


<h2>الگوهای شماره‌گذاری</h2>
<script>
    function deleteNumbering(itemId, itemName) {

        if (!confirm('آیا از حذف الگوی شماره‌گذاری ' + itemName + ' اطمینان دارید؟'))
            return;


        $.ajax({
            type: "DELETE",
            url: '',
            data: {
                id: itemId
            },
            error: function () {
                alert('خطا رخ داد.');
            },
            success: function () {
                location.reload();
                return false;
            },
        });
    }
    function recountNumbering(itemId, itemName) {

        if (!confirm('آیا از شمارش مجدد الگوی شماره‌گذاری ' + itemName + ' اطمینان دارید؟'))
            return;

        var url = '?handler=Recount';

        $.ajax({
            type: "POST",
            url: url,
            data: {
                id: itemId
            },
            error: function () {
                alert('خطا رخ داد.');
            },
            success: function () {
                alert('شمارش مجدد شروع شد.')
            },
        });
    }
</script>
<table>
    <tr>
        <th>
            نام
        </th>
        <th>
            ابتدا
        </th>
        <th>
            انتها
        </th>
        <th>
            شمارش
        </th>
        <th>
            #
        </th>
    </tr>
    @foreach (var numbering in Model.Numberings)
    {
        <tr>
            <td>
                @numbering.Name
            </td>
            <td>
                @numbering.StartCatId
            </td>
            <td>
                @numbering.EndCatId
            </td>
            <td>
                @if (numbering.LastCountingDate != DateTime.MinValue)
                {
                    @numbering.LastCountingDate.ToLongPersianDateTimeString()
                }
            </td>
            <td>
                <a role="button" onclick="deleteNumbering(@numbering.Id, '@numbering.Name')" class="actionlink" title="حذف">🗑</a>
                <a role="button" onclick="recountNumbering(@numbering.Id, '@numbering.Name')" class="actionlink" title="شمارش مجدد">⟳</a>
            </td>
        </tr>
    }
</table>

<form method="post" action="?Handler=Numbering&url=@Model.Cat.Cat.FullUrl">
    <table>
        <tr>
            <td>
                عنوان:
            </td>
            <td>
                <input asp-for="NumberingModel.Name" />
            </td>
        </tr>
        <tr>
            <td>
                شناسهٔ ابتدا
            </td>
            <td>
                <input asp-for="NumberingModel.StartCatId" />
            </td>
        </tr>
        <tr>
            <td>
                شناسهٔ انتها
            </td>
            <td>
                <input asp-for="NumberingModel.EndCatId" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="ایجاد الگوی شماره‌گذاری" />
            </td>
        </tr>
    </table>
</form>





