@page
@model GanjooRazor.Areas.Admin.Pages.CatUtilsModel
@using DNTPersianUtils.Core
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "مدیریت بخش";
}

<h1>@ViewData["Title"]</h1>

<script>
     function reslugCat(catId) {
        if (!confirm('آیا از تولید مجدد نشانی‌های شعرهای بخش اطمینان دارید؟'))
            return;

        var url = '?handler=BatchReSlugCatPoems';

        $.ajax({
            type: "POST",
            url: url,
            data: {
                id: catId
            },
           error: function (e) {
                    if (e.responseText == null)
                        alert(e);
                    else
                        alert(e.responseText);
                },
            success: function () {
                alert('انجام شد!')
            },

        });
    }

    function startTocGenerationForSubCats(catId) {
        if (!confirm('آیا از شروع کار تولید مجدد فهرست همهٔ زیربخشها اطمینان دارید؟'))
            return;

        var url = '?handler=StartGeneratingSubCatsTOC';

        $.ajax({
            type: "POST",
            url: url,
            data: {
                id: catId
            },
           error: function (e) {
                    if (e.responseText == null)
                        alert(e);
                    else
                        alert(e.responseText);
                },
            success: function () {
                alert('کار تولید مجدد فهرست همهٔ زیربخشهای بخش شروع شد.')
            },

        });
    }

    function tagCatWithRhymes(catId) {
        if (!confirm('آیا از شروع کار قافیه‌یابی اطمینان دارید؟'))
            return;

        var url = '?handler=StartRhymeAnalysis';

        $.ajax({
            type: "POST",
            url: url,
            data: {
                id: catId
            },
            error: function (e) {
                    if (e.responseText == null)
                        alert(e);
                    else
                        alert(e.responseText);
                },
            success: function () {
                alert('کار قافیه‌یابی بخش شروع شد.')
            },

        });
    }

    function tagCatWithRhythms(catId) {
        if (!confirm('آیا از شروع کار وزن‌یابی یا وزن‌گذاری اطمینان دارید؟'))
            return;

        var url = '?handler=StartRhythmAnalysis';

        $.ajax({
            type: "POST",
            url: url,
            data: {
                id: catId,
                rhythm: $('#rhythm').val()
            },
            error: function (e) {
                    if (e.responseText == null)
                        alert(e);
                    else
                        alert(e.responseText);
                },
            success: function () {
                alert('کار وزن‌یابی یا وزن‌گذاری بخش شروع شد.')
            },

        });
    }

    function regenRelatedSections(catId) {
         if (!confirm('آیا از شروع کار بازسازی قطعات مرتبط بخش اطمینان دارید؟'))
            return;

        var url = '?handler=StartRegeneratingRelatedSections';

        $.ajax({
            type: "POST",
            url: url,
            data: {
                id: catId,
            },
            error: function (e) {
                    if (e.responseText == null)
                        alert(e);
                    else
                        alert(e.responseText);
                },
            success: function () {
                alert('کار بازسازی قطعات مرتبط بخش شروع شد.')
            },

        });
    }

    function tagPoemsWithLanguage(catId) {

        var lang = document.getElementById('cat-poem-language').value;
        if(lang == '')
            lang = 'fa-IR';
        if(confirm(lang)){
            var url = '?handler=SetCategoryLanguageTag';
            $.ajax({
                type: "POST",
                url: url,
                data: {
                    id: catId,
                    language: lang
                },
                error: function (e) {
                    if (e.responseText == null)
                        alert(e);
                    else
                        alert(e.responseText);
                },
                success: function () {
                    alert('انجام شد.')
                },

            });
        }
    }

    function tagPoemsWithFormat(catId) {

        var format = document.getElementById('cat-poem-format').value;
        if (confirm(format)) {
            var url = '?handler=SetCategoryPoemFormat';
            $.ajax({
                type: "POST",
                url: url,
                data: {
                    id: catId,
                    format: format
                },
                error: function (e) {
                    if (e.responseText == null)
                        alert(e);
                    else
                        alert(e.responseText);
                },
                success: function () {
                    alert('انجام شد.')
                },

            });
        }
    }

    function onSwitchPoemsSelections(){
        var value = document.getElementById('poems-select-switch').checked;
        var checkboxes = document.getElementsByClassName('poemSelect');
        for(var i = 0; i < checkboxes.length; i++){
            checkboxes[i].checked = value;
        }
    }

    function deleteSelectedPoems(){
        if(!confirm('آیا از حذف شعرهای انتخاب شده اطمینان دارید؟')) return;
        var checkboxes = document.getElementsByClassName('poemSelect');
        for(var i = 0; i < checkboxes.length; i++){
            if(checkboxes[i].checked){
                var dataValue = checkboxes[i].getAttribute("data-value");
                $.ajax({
                    type: "DELETE",
                    url: '?handler=Poem',
                    data: {
                        id: dataValue
                    },
                    error: function (e) {
                            if (e.responseText == null)
                                alert(e);
                            else
                                alert(e.responseText);
                        },
                    success: function () {
                        var poemBlockId = '#tr-' + dataValue;
                        $(poemBlockId).remove();
                    },
                });
            }
        }
    }
</script>

@if (!string.IsNullOrEmpty(Model.LastMessage))
{
    <p>
        @Html.Raw(Model.LastMessage)
    </p>
}

@if (Model.PageInformation != null)
{
    <p><a href="@Model.PageInformation.FullUrl">@Model.PageInformation.FullTitle</a></p>
}

@if (Model.Cat != null)
{

    <h2>زیربخش‌ها</h2>
    <table>
        @foreach (var cat in Model.Cat.Cat.Children)
        {
            <tr>
                <td>
                    <a href="/Admin/CatUtils?url=@cat.FullUrl">@cat.Title</a>
                </td>
            </tr>
        }
    </table>

    <a href="/Admin/CatUtils?url=@Model.Cat.Cat.FullUrl&images=1">نمایش تصاویر نسکبان</a>


    <h2>اشعار بخش</h2>
    <table>
        <tr>
            <th>
                عنوان
            </th>
            <th>
                ابتدا
            </th>
            <th>
                وزن اول
            </th>
            <th>
                قافیه
            </th>
            <th>
                <input type="checkbox" id="poems-select-switch" onclick="onSwitchPoemsSelections()" />
            </th>
        </tr>
        @foreach (var poem in Model.Cat.Cat.Poems)
        {
            <tr id="tr-@poem.Id">
                <td>
                    <a href="/Admin/ModifyPage?id=@poem.Id">@poem.Title</a>
                </td>
                <td>
                    @poem.Excerpt
                </td>
                @if (poem.MainSections.Length <= 1)
                {
                    <td>
                        @if(poem.MainSections.Length == 1 && @poem.MainSections[0].GanjoorMetre != null)
                        {
                            @poem.MainSections[0].GanjoorMetre.Rhythm
                        }
                    </td>
                    <td>
                        @if(poem.MainSections.Length == 1)
                        {
                            @poem.MainSections[0].RhymeLetters
                        }
                    </td>
                }
                else
                {
                    <td colspan="2">
                        <table>
                            <tr>
                                <th>
                                    ابتدای بخش
                                </th>
                                <th>
                                    وزن اول
                                </th>
                                <th>
                                    قافیه
                                </th>
                            </tr>

                            @foreach (var s in poem.MainSections)
                            {
                                <tr>
                                    <td>
                                        @s.Excerpt
                                    </td>
                                    <td>
                                        @if (s.GanjoorMetre != null)
                                        {
                                            @s.GanjoorMetre.Rhythm
                                        }
                                    </td>
                                    <td>
                                        @s.RhymeLetters
                                    </td>
                                </tr>
                            }
                        </table>
                    </td>
                }

                <td>
                    <input type="checkbox" id="select-@poem.Id" data-value="@poem.Id" class="poemSelect" />
                </td>
            </tr>

            @if(Model.PoemRelatedImages.Any(r => r.PoemId == poem.Id && r.TargetPageUrl.Contains("https://naskban.ir")))
            {
                <tr>
                    <td colspan="5">
                        <img src="@Model.PoemRelatedImages.Where(r => r.PoemId == poem.Id && r.TargetPageUrl.Contains("https://naskban.ir")).First().ThumbnailImageUrl" />
                    </td>
                </tr>
            }
        }

        <tr>
            <td colspan="5">
                <p><a role="button" onclick="deleteSelectedPoems()" class="actionlink">حذف شعرهای انتخاب شده</a></p>
            </td>
        </tr>
    </table>

    <p><a href="/Admin/ModifyPage?id=@Model.PageInformation.Id">ویرایش صفحهٔ متناظر</a></p>

    <p><a role="button" onclick="startTocGenerationForSubCats(@Model.Cat.Cat.Id)" class="actionlink">شروع تولید مجدد فهرست همهٔ زیربخشها</a></p>

    <p><a role="button" onclick="tagCatWithRhymes(@Model.Cat.Cat.Id)" class="actionlink">شروع قافیه‌یابی</a></p>

    <table>
        <tr>
            <td colspan="2">
                <input type="text" name="rhythm" id="rhythm" list="rythms" size="50" />
                <datalist id="rythms">
                    @if (Model.Rhythms != null)
                        @foreach (var rhythm in Model.Rhythms)
                        {
                            <option value="@rhythm.Rhythm">@rhythm.Rhythm</option>
                        }
                </datalist>
                <p><a role="button" onclick="tagCatWithRhythms(@Model.Cat.Cat.Id)" class="actionlink">شروع وزن‌یابی یا وزن‌گذاری</a></p>
            </td>
        </tr>
        <tr>
            <td>شناسه:</td>
            <td>@Model.Cat.Cat.Id</td>
        </tr>
    </table>

    <table>
        <tr>
            <td>
                <span class="inputlabel">زبان اشعار بخش</span>
            </td>
            <td>
                <select id="cat-poem-language">
                    @foreach (var lang in Model.Languages)
                    {
                        @if(lang.Code == "fa-IR")
                        {
                            <option value="">@lang.Name</option>
                        }
                        else
                        {
                            <option value="@lang.Code">@lang.Name</option>
                        } 
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p><a role="button" onclick="tagPoemsWithLanguage(@Model.Cat.Cat.Id)" class="actionlink">تعیین زبان</a></p>
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <td>
                <span class="inputlabel">قالب اشعار بخش</span>
            </td>
            <td>
                <select id="cat-poem-format">
                    @foreach (var poemFormat in System.Enum.GetValues(typeof(RMuseum.Models.Ganjoor.GanjoorPoemFormat)))
                    {
                        <option value="@poemFormat">@RMuseum.Services.Implementation.GanjoorPoemFormatConvertor.GetString((RMuseum.Models.Ganjoor.GanjoorPoemFormat)poemFormat)</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p><a role="button" onclick="tagPoemsWithFormat(@Model.Cat.Cat.Id)" class="actionlink">تعیین قالب</a></p>
            </td>
        </tr>
    </table>
}


<h2>تغییر عنوان گروهی</h2>

@if (Model.RenamingOutput != null)
{
    <table>
        @foreach (var item in Model.RenamingOutput)
        {
            <tr>
                <td>
                    @item
                </td>
            </tr>
        }
    </table>
}

<form method="post">
    <table>
        <tr>
            <td>
                شروع عنوان:
            </td>
            <td>
                <input asp-for="NamingModel.StartWithNotIncludingSpaces" />
            </td>
        </tr>
        <tr>
            <td>
                کاراکترهای حذفی از عنوان
            </td>
            <td>
                <input asp-for="NamingModel.RemoveSetOfCharacters" />
            </td>
        </tr>
        <tr>
            <td>
                حذف الگوی قبلی از عنوان
            </td>
            <td>
                <input asp-for="NamingModel.RemovePreviousPattern" />
            </td>
        </tr>
        <tr>
            <td>
                شبیه‌سازی
            </td>
            <td>
                <input asp-for="NamingModel.Simulate" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="تغییر نام گروهی" />
            </td>
            <td>
                <input type="submit" id="renameSubcats" name="renameSubcats" value="برای زیربخش‌ها" />
            </td>
        </tr>
    </table>
</form>


<h2>الگوهای شماره‌گذاری</h2>
<script>
    function deleteNumbering(itemId, itemName) {

        if (!confirm('آیا از حذف الگوی شماره‌گذاری ' + itemName + ' اطمینان دارید؟'))
            return;


        $.ajax({
            type: "DELETE",
            url: '',
            data: {
                id: itemId
            },
             error: function (e) {
                    if (e.responseText == null)
                        alert(e);
                    else
                        alert(e.responseText);
                },
            success: function () {
                location.reload();
                return false;
            },
        });
    }
    function recountNumbering(itemId, itemName) {

        if (!confirm('آیا از شمارش مجدد الگوی شماره‌گذاری ' + itemName + ' اطمینان دارید؟'))
            return;

        var url = '?handler=Recount';

        $.ajax({
            type: "POST",
            url: url,
            data: {
                id: itemId
            },
            error: function (e) {
                    if (e.responseText == null)
                        alert(e);
                    else
                        alert(e.responseText);
                },
            success: function () {
                alert('شمارش مجدد شروع شد.')
            },
        });
    }

    function regenMissingNumbering() {

        if (!confirm('آیا از تولید الگوهای شماره‌گذاری ناموجود اطمینان دارید؟'))
            return;

        var url = '?handler=RegenerateNumberings';

        $.ajax({
            type: "POST",
            url: url,
             error: function (e) {
                    if (e.responseText == null)
                        alert(e);
                    else
                        alert(e.responseText);
                },
            success: function () {
                alert('تولید الگوهای شماره‌گذاری ناموجود شروع شد.')
            },
        });
    }
</script>
<table>
    <tr>
        <th>
            نام
        </th>
        <th>
            ابتدا
        </th>
        <th>
            انتها
        </th>
        <th>
            شمارش
        </th>
        <th>
            #
        </th>
    </tr>
    @foreach (var numbering in Model.Numberings)
    {
        <tr>
            <td>
                @numbering.Name
            </td>
            <td>
                @numbering.StartCatId
            </td>
            <td>
                @numbering.EndCatId
            </td>
            <td>
                @if (numbering.LastCountingDate != DateTime.MinValue)
                {
                    @numbering.LastCountingDate.ToLongPersianDateTimeString()
                }
            </td>
            <td>
                <a role="button" onclick="deleteNumbering(@numbering.Id, '@numbering.Name')" class="actionlink" title="حذف">🗑</a>
                <a role="button" onclick="recountNumbering(@numbering.Id, '@numbering.Name')" class="actionlink" title="شمارش مجدد">⟳</a>
            </td>
        </tr>
    }
    <tr>
        <td colspan="5">
            <a role="button" onclick="regenMissingNumbering()" class="actionlink" title="تولید کلی الگوهای ناموجود">تولید کلی الگوهای ناموجود</a>
        </td>
    </tr>
</table>

<form method="post" action="?Handler=Numbering&url=@Model.Cat.Cat.FullUrl">
    <table>
        <tr>
            <td>
                عنوان:
            </td>
            <td>
                <input asp-for="NumberingModel.Name" />
            </td>
        </tr>
        <tr>
            <td>
                شناسهٔ ابتدا
            </td>
            <td>
                <input asp-for="NumberingModel.StartCatId" />
            </td>
        </tr>
        <tr>
            <td>
                شناسهٔ انتها
            </td>
            <td>
                <input asp-for="NumberingModel.EndCatId" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="ایجاد الگوی شماره‌گذاری" />
            </td>
        </tr>
    </table>
</form>

<h2>ابرداده‌های دیگر بخش</h2>
<form method="post" action="?Handler=UpdateCatMeta&url=@Model.Cat.Cat.FullUrl">
    <table>
        <tr>
            <td>
                نام کتاب:
            </td>
            <td>
                <input asp-for="CatMeta.BookName" />
            </td>
        </tr>
        <tr>
            <td>
                تصویر کتاب:
            </td>
            <td>
                <input asp-for="CatMeta.NewImage" />
            </td>
        </tr>
        <tr>
            <td>
                گردآوری نقشه‌های زیربخش‌ها
            </td>
            <td>
                <input asp-for="CatMeta.SumUpSubsGeoLocations" />
            </td>
        </tr>
        <tr>
            <td>
                نام نقشه
            </td>
            <td>
                <input asp-for="CatMeta.MapName" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="به‌روزرسانی ابرداده‌های دیگر" />
            </td>
        </tr>
    </table>
</form>


<table>
    <tr>
        <td>بارگذاری پایگاه داده‌ها شامل یک دسته‌بندی از اشعار:</td>
        <td>
            <form method="post" enctype="multipart/form-data" action="/Admin/CatUtils?Handler=UploadDb&url=@Model.Cat.Cat.FullUrl">
                <input type="file" asp-for="SQLiteDb" />
                <input type="submit" value="بارگذاری" />
            </form>
        </td>
    </tr>
</table>

<p><a href="/Admin/CatTrans?id=@Model.Cat.Cat.Id">انتقال بخش</a></p>


<p><a role="button" onclick="regenRelatedSections(@Model.Cat.Cat.Id)" class="actionlink" title="بازسازی قطعات مرتبط">بازسازی قطعات مرتبط</a></p>


<p><a role="button" onclick="reslugCat(@Model.Cat.Cat.Id)" class="actionlink">تولید مجدد نشانی‌های اشعار بخش</a></p>





