@page
@model GanjooRazor.Areas.Admin.Pages.CatUtilsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "مدیریت بخش";
}

<h1>@ViewData["Title"]</h1>

@if (!string.IsNullOrEmpty(Model.LastMessage))
{
    <p>
        @Model.LastMessage
    </p>
}

@if (Model.Cat != null)
{
    <h2>زیربخش‌ها</h2>
    <table>
        @foreach (var cat in Model.Cat.Cat.Children)
        {
            <tr>
                <td>
                    <a href="/Admin/CatUtils?url=@cat.FullUrl">@cat.Title</a>
                </td>
            </tr>
        }
    </table>


    <h2>اشعار بخش</h2>
    <table>
        <tr>
            <th>
                عنوان
            </th>
            <th>
                ابتدا
            </th>
            <th>
                حروف قافیه
            </th>
            <th>
                وزن
            </th>
        </tr>
        @foreach (var poem in Model.Cat.Cat.Poems)
        {
            <tr>
                <td>
                    <a href="/Admin/ModifyPage?id=@poem.Id">@poem.Title</a>
                </td>
                <td>
                    @poem.Excerpt
                </td>
                <td>
                    @poem.RhymeLetters
                </td>
                <td>
                    @poem.Rhythm
                </td>
            </tr>
        }
    </table>

    <p><a href="/Admin/ModifyPage?id=@Model.PageInformation.Id">ویرایش صفحهٔ متناظر</a></p>

    <p><a role="button" onclick="tagCatWithRhymes(@Model.Cat.Cat.Id)" class="actionlink">شروع قافیه‌یابی</a></p>

    <table>
        <tr>
            <td colspan="2">
                <input type="text" name="rhythm" id="rhythm" list="rythms" size="50" />
                <datalist id="rythms">
                    @if (Model.Rhythms != null)
                        @foreach (var rhythm in Model.Rhythms)
                        {
                            <option value="@rhythm.Rhythm">@rhythm.Rhythm</option>
                        }
                </datalist>
                <p><a role="button" onclick="tagCatWithRhythms(@Model.Cat.Cat.Id)" class="actionlink">شروع وزن‌یابی یا وزن‌گذاری</a></p>
            </td>
        </tr>
        <tr>
            <td>شناسه:</td>
            <td>@Model.Cat.Cat.Id</td>
        </tr>
    </table>
}


<h2>تغییر عنوان گروهی</h2>

@if (Model.RenamingOutput != null)
{
    <table>
        @foreach (var item in Model.RenamingOutput)
        {
            <tr>
                <td>
                    @item
                </td>
            </tr>
        }
    </table>
}

<form method="post">
    <table>
        <tr>
            <td>
                شروع عنوان:
            </td>
            <td>
                <input asp-for="NamingModel.StartWithNotIncludingSpaces" />
            </td>
        </tr>
        <tr>
            <td>
                کاراکترهای حذفی از عنوان
            </td>
            <td>
                <input asp-for="NamingModel.RemoveSetOfCharacters" />
            </td>
        </tr>
        <tr>
            <td>
                حذف الگوی قبلی از عنوان
            </td>
            <td>
                <input asp-for="NamingModel.RemovePreviousPattern" />
            </td>
        </tr>
        <tr>
            <td>
                شبیه‌سازی
            </td>
            <td>
                <input asp-for="NamingModel.Simulate" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="تغییر نام گروهی" />
            </td>
        </tr>
    </table>
</form>





