@page
@model GanjooRazor.Areas.Admin.Pages.DonationsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "کمک‌های مالی";
}

<h1>@ViewData["Title"]</h1>



<p>@Model.LastMessage</p>

@if(!string.IsNullOrEmpty(Model.EmailContent))
{
    <textarea rows="5" cols="50">@Model.EmailContent</textarea>
}

<form method="post">
    <table>
        <tr>
            <td>
                تاریخ:
            </td>
            <td>
                <input type="date" asp-for="Donation.RecordDate" />
            </td>
        </tr>
        <tr>
            <td>
                مبلغ:
            </td>
            <td>
                <input type="number" asp-for="Donation.Amount" />
            </td>
        </tr>
        <tr>
            <td>
                واحد:
            </td>
            <td>
                <input asp-for="Donation.Unit" />
            </td>
        </tr>
        <tr>
            <td>
                اهدا کننده:
            </td>
            <td>
                <input size="50" asp-for="Donation.DonorName" />
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <input type="submit" value="ثبت کمک مالی جدید" />
            </td>
        </tr>

    </table>
    
</form>

<p><a href="/donate" target="_blank">مشاهدهٔ صفحه</a></p>
<p>@Model.ShowAccountInfo</p>
<p><a role="button" onclick="rebuildDonationsPage()" class="actionlink" title="بازسازی صفحهٔ کمک‌ها">بازسازی صفحهٔ کمک‌ها</a></p>

@if (Model.Donations != null)
{
<table>
    <tr>
        <th>#</th>
        <th>تاریخ</th>
        <th>مبلغ</th>
        <th>اهدا کننده</th>
        <th>
           #
        </th>
    </tr>
    @foreach (var donation in Model.Donations)
    {
        <tr id="tr-@donation.Id">
            <td><a href="/Admin/DonationEdit/?id=@donation.Id">@donation.Id</a> </td>
            <td>@donation.DateString</td>
            <td>@donation.AmountString</td>
            <td>@donation.DonorName</td>
            <td>
                <a role="button" href="/Admin/DonationEdit/?id=@donation.Id" class="actionlink" title="ویرایش">✎</a>
                <a role="button" onclick="deleteDonation(@donation.Id)" class="actionlink" title="حذف">🗑</a>
            </td>
        </tr>
    }
</table>

 
}
