@page
@model GanjooRazor.Areas.Admin.Pages.ExamineUserModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "مدیریت کاربر";
}
<h1>@ViewData["Title"]</h1>
@if (!string.IsNullOrEmpty(Model.LastError))
{
    <p>@Model.LastError</p>
}
else
{
<table>
    <tr>
        <td>نام:</td>
        <td>@Model.UserInfo.FirstName</td>
    </tr>
    <tr>
        <td>نام خانوادگی:</td>
        <td>@Model.UserInfo.FirstName</td>
    </tr>
    <tr>
        <td>نام مستعار:</td>
        <td>@Model.UserInfo.NickName</td>
    </tr>
    <tr>
        <td>ایمیل:</td>
        <td>@Model.UserInfo.Email</td>
    </tr>
    <tr>
        <td colspan="2">
            <a role="button" style="cursor:pointer;width:100%;color:white;background-color:red;display:block" href="/Admin/KickoutUser?id=@Model.UserInfo.Id">حذف حساب کاربری</a>
        </td>
    </tr>
</table>
}
