@page
@model GanjooRazor.Areas.Admin.Pages.LocationsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "خاستگاه‌ها";
}

<h1>@ViewData["Title"]</h1>

<p>@Model.LastMessage</p>

<form method="post">
    <table>
        <tr>
            <td>
                نام:
            </td>
            <td>
                <input asp-for="Location.Name" />
            </td>
        </tr>
        <tr>
            <td>
                عرض جغرافیایی:
            </td>
            <td>
                <input asp-for="Location.Latitude" />
            </td>
        </tr>
        <tr>
            <td>
                طول جغرافیایی:
            </td>
            <td>
                <input asp-for="Location.Longitude" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="خاستگاه جدید" />
            </td>
        </tr>
    </table>




</form>

@if (Model.Locations != null)
{
    <script>
        function editLocation(itemId) {
            var url = '?handler=Edit';
            var nameInput = '#name-' + itemId.toString();
            var latInput = '#lat-' + itemId.toString();
            var lonInput = '#lon-' + itemId.toString();

            $.ajax({
                type: "PUT",
                url: url,
                data: {
                    id: itemId,
                    name: $(nameInput).val(),
                    latitude: $(latInput).val(),
                    longitude: $(lonInput).val(),
                },
                error: function (e) {
                    if (e.responseText == null)
                        alert(e);
                    else
                        alert(e.responseText);
                },
                success: function () {
                    alert('ردیف به درستی ویرایش شد.')
                },

            });
        }

        function deleteLocation(itemId) {

            if (!confirm('آیا از حذف این ردیف اطمینان دارید؟'))
                return;


            $.ajax({
                type: "DELETE",
                url: '',
                data: {
                    id: itemId
                },
                error: function (e) {
                    if (e.responseText == null)
                        alert(e);
                    else
                        alert(e.responseText);
                },
                success: function () {
                    var itemIdBlockId = '#tr-' + itemId;
                    $(itemIdBlockId).remove();
                },
            });
    }
    </script>
    <table>
        <tr>
            <th>نام</th>
            <th>عرض جغرافیایی</th>
            <th>طول جغرافیایی</th>
            <th>
                #
            </th>
        </tr>
        @foreach (var location in Model.Locations)
        {
    <tr id="tr-@location.Id">
        <td><input type="text" name="name-@location.Id" id="name-@location.Id" value="@location.Name" /></td>
        <td><input type="text" name="lat-@location.Id" id="lat-@location.Id" value="@location.Latitude" /></td>
        <td><input type="text" name="lon-@location.Id" id="lon-@location.Id" value="@location.Longitude" /></td>
        <td>
            <a role="button" onclick="editLocation(@location.Id)" class="actionlink" title="ویرایش">✎</a>
            <a role="button" onclick="deleteLocation(@location.Id)" class="actionlink" title="حذف">🗑</a>
        </td>
    </tr>
        }
    </table>

}


