@page
@model GanjooRazor.Areas.Admin.Pages.PageHistoryModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using DNTPersianUtils.Core
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "سابقهٔ ویرایش";
}

<h1>@ViewData["Title"]</h1>

<p>@Model.LastMessage</p>

@if (Model.OlderVersions != null)
{
    <table>
        <tr>
            <th>شناسه</th>
            <th>تاریخ</th>
            <th>یاداشت</th>
        </tr>
        @foreach (var olderVersion in Model.OlderVersions)
        {
            <tr id="tr-@olderVersion.Id">
                <td>
                    <a href="/Admin/ViewPageHistory?id=@olderVersion.Id">@olderVersion.Id</a>
                </td>
                <td>
                    @olderVersion.RecordDate.ToFriendlyPersianDateTextify()
                </td>
                <td>
                    @olderVersion.Note
                </td>
            </tr>
        }
    </table>

}