@page
@model GanjooRazor.Areas.Admin.Pages.PoetsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "مدیریت شاعران";
}

<h1>@ViewData["Title"]</h1>

<p>@Model.LastMessage</p>

<table>
    <tr>
        <td><a href="/Admin/Poet">شاعر جدید</a></td>
        <td>زاده</td>
        <td>درگذشته</td>
        <td>چسبانی</td>
    </tr>
    @foreach (var poet in Model.Poets)
    {
        <tr>
            <td>
                <a href="/Admin/Poet?id=@poet.Id">@poet.Nickname</a>
            </td>
            <td>
                <input type="text" name="@($"birth-{poet.Id}")" id="@($"birth-{poet.Id}")" value="@poet.BirthYearInLHijri" />
            </td>
            <td>
                <input type="text" name="@($"death-{poet.Id}")" id="@($"death-{poet.Id}")" value="@poet.DeathYearInLHijri" />
            </td>
            <td>
                <input type="text" name="@($"pinorder-{poet.Id}")" id="@($"pinorder-{poet.Id}")" value="@poet.PinOrder" />
            </td>
        </tr>
    }
</table>


<table>
    <tr>
        <td><a role="button" onclick="exportAll()" class="actionlink">sqlite</a></td>
    </tr>
</table>