@page
@model GanjooRazor.Areas.Admin.Pages.PoetsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "مدیریت شاعران";
}

<h1>@ViewData["Title"]</h1>

<p>@Model.LastMessage</p>

<script>
    function savePoetsMeta() {
        if (!confirm('آیا از ذخیرهٔ اطلاعات سال تولد و وفات و ترتیب شاعران در صفحهٔ اول اطمینان دارید؟'))
            return;
        @foreach (var poet in Model.Poets)
        {
            <text>
                $.ajax({
                    type: "POST",
                    url: '?handler=SavePoetMeta',
                    data: {
                        id: @poet.Id,
                        birth: $("#@($"birth-{poet.Id}")").val(),
                        death: $("#@($"death-{poet.Id}")").val(),
                        pinorder: $("#@($"pinorder-{poet.Id}")").val()
                    },
                    error: function () {
                        alert('برای @poet.Nickname خطا رخ داد.')
                    },
                });
            </text>
        }

         $.ajax({
                type: "POST",
                url: '?handler=UpdatePeriods',
                success: function () {
                        alert('انجام شد.');
                },
                error: function () {
                    alert('در مرحلهٔ نهایی خطا رخ داد.')
                },
                });
    }
</script>

<table>
    <tr>
        <td><a href="/Admin/Poet">شاعر جدید</a></td>
        <td>زاده</td>
        <td>درگذشته</td>
        <td>چسبانی</td>
    </tr>
    @foreach (var poet in Model.Poets)
    {
        <tr>
            <td>
                <a href="/Admin/Poet?id=@poet.Id">@poet.Nickname</a>
            </td>
            <td>
                <input type="text" name="@($"birth-{poet.Id}")" id="@($"birth-{poet.Id}")" value="@poet.BirthYearInLHijri" />
            </td>
            <td>
                <input type="text" name="@($"death-{poet.Id}")" id="@($"death-{poet.Id}")" value="@poet.DeathYearInLHijri" />
            </td>
            <td>
                <input type="text" name="@($"pinorder-{poet.Id}")" id="@($"pinorder-{poet.Id}")" value="@poet.PinOrder" />
            </td>
        </tr>
    }
    <tr>
        <td colspan="4">
            <a role="button" onclick="savePoetsMeta()" class="actionlink">ذخیره</a>
        </td>
    </tr>
</table>


<table>
    <tr>
        <td><a role="button" onclick="exportAll()" class="actionlink">sqlite</a></td>
    </tr>
</table>