@page
@model GanjooRazor.Areas.Admin.Pages.ReviewEditsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using DNTPersianUtils.Core
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "بازبینی ویرایش‌ها";
}

<h1>@ViewData["Title"]</h1>
<script>
    function checkAllNotCorrect() {
        if (!confirm('همه نادرست؟')) return;
        var allNotCorrect = document.getElementsByClassName("radio-notcorrect");
        for (var i = 0; i < allNotCorrect.length; i++) {
            allNotCorrect[i].checked = true;
        }
    }

    function checkAllCorrect() {
        if (!confirm('همه درست؟')) return;
        var allCorrect = document.getElementsByClassName("radio-approved");
        for (var i = 0; i < allCorrect.length; i++) {
            allCorrect[i].checked = true;
        }
    }

    function rejectVersePositionChanges() {
         if (!confirm('تغییر نوع مصرع‌ها اشکال نرم‌افزاری است؟')) return;
        var allNotCorrect = document.getElementsByClassName("radio-bug");
        for (var i = 0; i < allNotCorrect.length; i++) {
            allNotCorrect[i].checked = true;
        }
    }

    function moderatePoemCorrections(verseCount, correctionId) {

        $('#moderatecorrections').hide();
        $('#saving').text('در حال بررسی ...');


        var titleReviewResult = 'DontCare';
        if ($('#title_review_result_Approved').length > 0) { //has title
            titleReviewResult = $('input[name=title_review_result]:checked').val()
        }

        var summaryReviewResult = 'DontCare';
        if ($('#poem-summary_review_result_Approved').length > 0) { //has summary
            summaryReviewResult = $('input[name=poem-summary_review_result]:checked').val()
        }


        var rhythmReviewResult = 'DontCare';
        if ($('#rhythm_review_result_Approved').length > 0) {
            rhythmReviewResult = $('input[name=rhythm_review_result]:checked').val()
        }

        var rhythm2ReviewResult = 'DontCare';
        if ($('#rhythm2_review_result_Approved').length > 0) {
            rhythm2ReviewResult = $('input[name=rhythm2_review_result]:checked').val()
        }

        var rhymeReviewResult = 'DontCare';
        if ($('#rhyme_review_result_Approved').length > 0) {
            rhymeReviewResult = $('input[name=rhyme_review_result]:checked').val()
        }


        var verseReviewResult = [];
        var versePosReviewResult = [];
        var verseReviewNotes = [];
        var verseSummaryResults = [];
        
        for (var i = 0; i <= (verseCount + 100); i++) {

            var elementId = '#verse' + (i + 1).toString() + '_review_result_Approved';
            if ($(elementId).length > 0) {
                var elementName = 'verse' + (i + 1).toString() + '_review_result';
                verseReviewResult.push($('input[name=' + elementName + ']:checked').val())
                verseReviewNotes.push($('#verse' + (i + 1).toString() + '_review_note').val())

                var versePosElementId = '#verse-position' + (i + 1).toString() + '_review_result_Approved';
                if ($(versePosElementId).length > 0) {
                    var versePosElementName = 'verse-position' + (i + 1).toString() + '_review_result';
                    versePosReviewResult.push($('input[name=' + versePosElementName + ']:checked').val())
                }
                else {
                    versePosReviewResult.push('NotChanged');
                }

                var summaryElementId = '#verse-summary' + (i + 1).toString() + '_review_result_Approved';
                if ($(summaryElementId).length > 0) {
                    var summaryElementName = 'verse-summary' + (i + 1).toString() + '_review_result';
                    verseSummaryResults.push($('input[name=' + summaryElementName + ']:checked').val())
                }
            }
            else {
                var deleteElementId = '#marked-for-delete-' + (i + 1).toString();
                if ($(deleteElementId).length > 0) {
                    if ($(deleteElementId).is(":checked")) {
                        verseReviewResult.push('Approved');
                    }
                    else {
                        verseReviewResult.push('Rejected');
                    }
                    verseReviewNotes.push($('#verse' + (i + 1).toString() + '_review_note').val())
                }
            }

            
        }

        var url = '?handler=SendCorrectionsModeration';

        $.ajax({
            type: "POST",
            url: url,
            data: {
                correctionId: correctionId,
                titleReviewResult: titleReviewResult,
                summaryReviewResult: summaryReviewResult,
                rhythmReviewResult: rhythmReviewResult,
                rhythm2ReviewResult: rhythm2ReviewResult,
                rhymeReviewResult: rhymeReviewResult,
                titleReviewNote: $('#title_review_note') == null ? null : $('#title_review_note').val(),
                verseReviewResult: verseReviewResult,
                versePosReviewResult: versePosReviewResult,
                verseSummaryResults: verseSummaryResults,
                verseReviewNotes: verseReviewNotes,
            },
            success: function() {
                location.reload(true);
            },
            error: function(e) {
                if (e.responseText == null)
                    alert(e);
                else
                    alert(e.responseText);
                $('#moderatecorrections').show();
                $('#saving').text('');
            }
        });



    }
</script>
@if (!string.IsNullOrEmpty(Model.FatalError))
{
    <p>@Model.FatalError</p>
}
else if (@Model.Correction == null)
{
    <p>ویرایشی وجود ندارد.</p>
}
else
{
    <p><a role="button" target="_blank" href="@Model.PageInformation.FullUrl" class="actionlink">@Model.PageInformation.FullTitle</a></p>

    <table>
        <tr>
            <td>
                پیشنهاد دهنده:
            </td>
            <td>
                <a href="/hashieha/?userid=@Model.Correction.UserId" target="_blank">@Model.Correction.UserNickname</a>
            </td>
        </tr>
        <tr>
            <td>
                <a role="button" id="moderatecorrections" style="cursor:pointer;width:100%;color:white;background-color:green;display:block" onclick="moderatePoemCorrections(@Model.PageInformation.Poem.Verses.Length, @Model.Correction.Id)">بررسی</a>
            </td>
            <td>
                <form method="post">
                    <button type="submit" name="next" id="next" style="width:100%;color:white;background-color:orange">بعدی</button>
                </form>
            </td>
        </tr>

        <tr>
            <td>
                زمان:
            </td>
            <td>
                @Model.Correction.Date.ToFriendlyPersianDateTextify()
            </td>
        </tr>

        <tr>
            <td>
                تعداد کل:
            </td>
            <td>
                @Model.TotalCount
            </td>
        </tr>

        <tr>
            <td colspan=2>
                <a role="button" onclick="checkAllNotCorrect()" class="pagebutton">درست نیست</a>
            </td>
        </tr>


        <tr>
            <td colspan=2>
                <a role="button" onclick="rejectVersePositionChanges()" class="pagebutton">تغییر مصرع‌ها اشکال نرم‌افزاری است</a>
            </td>
        </tr>

        <tr>
            <td colspan=2>
                <a role="button" href="/Admin/ReviewEdits/?onlyUserCorrections=false" class="pagebutton">پیشنهادهای سیستمی</a>
            </td>
        </tr>

        <tr>
            <td colspan="2"><p id="saving">&nbsp;</p></td>
        </tr>
        @if (Model.TextSourceImage != null)
        {
            <tr>
                <td colspan="2">
                    <div class="related-images">
                        <div class="related-image-container">
                            <a target="_blank" href="@Html.Raw(Model.TextSourceImage.TargetPageUrl)">
                                <img src="@Html.Raw(Model.TextSourceImage.ThumbnailImageUrl)" alt="@Model.TextSourceImage.AltText" loading="lazy" width="200" class="related-image">
                            </a>

                        </div>
                    </div>
                </td>
            </tr>
        }
        @if (Model.Correction.Title != null)
        {
            <tr>
                <td colspan="2">
                    عنوان
                </td>
            </tr>
            <tr>
                <td>متن اولیه</td>
                <td>پیشنهاد</td>
            </tr>
            <tr>
                <td>
                    <p id="original-title" class="red-color">@Model.Correction.OriginalTitle</p>
                </td>
                <td>
                    <p id="edited-title" class="green-color">@Model.Correction.Title</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p id="title-compare">@Model.Correction.OriginalTitle</p>
                    <script>
                        $(document).ready(function() {
                            compareCorrectionBlocks('original-title', 'edited-title', 'title-compare');
                        });
                    </script>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @if (Model.Correction.Result == RMuseum.Models.Ganjoor.CorrectionReviewResult.NotChanged)
                    {
                        <input type="radio" id="title_review_result_Approved" name="title_review_result" class="radio-approved" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.Approved">
                        <label for="title_review_result_Approved">تأیید می‌شود</label>

                        <br>
                        <input type="radio" id="title_review_result_NotChanged" name="title_review_result" class="radio-notchanged" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.NotChanged" checked="checked">
                    }
                    else
                    {
                        <input type="radio" id="title_review_result_Approved" name="title_review_result" class="radio-approved" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.Approved" checked="checked">
                        <label for="title_review_result_Approved">تأیید می‌شود</label>

                        <br>
                        <input type="radio" id="title_review_result_NotChanged" name="title_review_result" class="radio-notchanged" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.NotChanged">
                    }
                    <label for="title_review_result_NotChanged">تغییری نکرده</label><br>
                    <input type="radio" id="title_review_result_RejectedBecauseWrong" name="title_review_result" class="radio-notcorrect" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.RejectedBecauseWrong">
                    <label for="title_review_result_RejectedBecauseWrong">درست نیست</label><br>
                    <input type="radio" id="title_review_result_RejectedBecauseVariant" name="title_review_result" class="radio-variant" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.RejectedBecauseVariant">
                    <label for="title_review_result_RejectedBecauseUnnecessaryChange">تغییر سلیقه‌ای یا بی دلیل است</label><br>
                    <input type="radio" id="title_review_result_Rejected" name="title_review_result" class="radio-rejected" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.Rejected">
                    <label for="title_review_result_Rejected">به دلیل دیگری رد می‌شود</label><br>
                    <input type="text" id="title_review_note" name="title_review_note" value="" size="50" />
                </td>
            </tr>
        }
        @if (Model.Correction.Rhythm != null)
        {
            <tr>
                <td colspan="2">
                    وزن
                </td>
            </tr>
            <tr>
                <td>
                    @if (Model.PageInformation.Poem.Verses.Length > 0)
                    {
                        @Model.PageInformation.Poem.Verses[0].Text
                    }
                </td>
                <td>
                    @if (Model.PageInformation.Poem.Verses.Length > 1)
                    {
                        @Model.PageInformation.Poem.Verses[1].Text
                    }
                </td>
            </tr>
            <tr>
                <td>متن اولیه</td>
                <td>پیشنهاد</td>
            </tr>
            <tr>
                <td>
                    <p class="red-color">@Model.Correction.OriginalRhythm</p>
                </td>
                <td>
                    <p class="green-color">@Model.Correction.Rhythm</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">

                    @if (Model.Correction.RhythmResult == RMuseum.Models.Ganjoor.CorrectionReviewResult.NotChanged)
                    {
                        <input type="radio" id="rhythm_review_result_Approved" name="rhythm_review_result" class="radio-approved" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.Approved">
                        <label for="rhythm_review_result_Approved">تأیید می‌شود</label>

                        <br>
                        <input type="radio" id="rhythm_review_result_NotChanged" name="rhythm_review_result" class="radio-notchanged" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.NotChanged" checked="checked">
                    }
                    else
                    {
                        <input type="radio" id="rhythm_review_result_Approved" name="rhythm_review_result" class="radio-approved" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.Approved" checked="checked">
                        <label for="rhythm_review_result_Approved">تأیید می‌شود</label>

                        <br>
                        <input type="radio" id="rhythm_review_result_NotChanged" name="rhythm_review_result" class="radio-notchanged" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.NotChanged">
                    }
                    <label for="rhythm_review_result_NotChanged">تغییری نکرده</label><br>
                    <input type="radio" id="rhythm_review_result_RejectedBecauseWrong" name="rhythm_review_result" class="radio-notcorrect" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.RejectedBecauseWrong">
                    <label for="rhythm_review_result_RejectedBecauseWrong">درست نیست</label><br>
                    <input type="radio" id="rhythm_review_result_RejectedBecauseVariant" name="rhythm_review_result" class="radio-variant" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.RejectedBecauseVariant">
                    <label for="rhythm_review_result_RejectedBecauseUnnecessaryChange">تغییر سلیقه‌ای یا بی دلیل است</label><br>
                    <input type="radio" id="rhythm_review_result_Rejected" name="rhythm_review_result" class="radio-rejected" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.Rejected">
                    <label for="rhythm_review_result_Rejected">به دلیل دیگری رد می‌شود</label><br>
                    @if (Model.Correction.Title != null)
                    {
                        <p>در صورت نیاز به درج یادداشت برای تغییر وزن آن را در قسمت عنوان وارد فرمایید.</p>
                    }
                    else
                    {
                        <input type="text" id="title_review_note" name="title_review_note" value="" size="50" />
                    }
                </td>
            </tr>
        }

        @if (Model.Correction.RhymeLetters != null)
        {
            <tr>
                <td colspan="2">
                    قافیه
                </td>
            </tr>
            <tr>
                <td>متن اولیه</td>
                <td>پیشنهاد</td>
            </tr>
            <tr>
                <td>
                    <p style="color:red">@Model.RhymeLetters</p>
                </td>
                <td>
                    <p style="color:green">@Model.Correction.RhymeLetters</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">

                    @if (Model.Correction.RhymeLettersReviewResult == RMuseum.Models.Ganjoor.CorrectionReviewResult.NotChanged)
                    {
                        <input type="radio" id="rhyme_review_result_Approved" name="rhyme_review_result" class="radio-approved" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.Approved">
                        <label for="rhyme_review_result_Approved">تأیید می‌شود</label>

                        <br>
                        <input type="radio" id="rhyme_review_result_NotChanged" name="rhyme_review_result" class="radio-notchanged" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.NotChanged" checked="checked">
                    }
                    else
                    {
                        <input type="radio" id="rhyme_review_result_Approved" name="rhyme_review_result" class="radio-approved" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.Approved" checked="checked">
                        <label for="rhyme_review_result_Approved">تأیید می‌شود</label>

                        <br>
                        <input type="radio" id="rhyme_review_result_NotChanged" name="rhyme_review_result" class="radio-notchanged" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.NotChanged">
                    }
                    <label for="rhyme_review_result_NotChanged">تغییری نکرده</label><br>
                    <input type="radio" id="rhyme_review_result_RejectedBecauseWrong" name="rhyme_review_result" class="radio-notcorrect" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.RejectedBecauseWrong">
                    <label for="rhyme_review_result_RejectedBecauseWrong">درست نیست</label><br>
                    <input type="radio" id="rhyme_review_result_RejectedBecauseVariant" name="rhyme_review_result" class="radio-variant" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.RejectedBecauseVariant">
                    <label for="rhyme_review_result_Rejected">به دلیل دیگری رد می‌شود</label><br>
                    <input type="text" id="title_review_note" name="title_review_note" value="" size="50" />
                </td>
            </tr>
        }


        @if (Model.Correction.Rhythm2 != null)
        {
            <tr>
                <td colspan="2">
                    وزن دوم
                </td>
            </tr>
            <tr>
                <td>
                    @if (Model.PageInformation.Poem.Verses.Length > 0)
                    {
                        @Model.PageInformation.Poem.Verses[0].Text
                    }
                </td>
                <td>
                    @if (Model.PageInformation.Poem.Verses.Length > 1)
                    {
                        @Model.PageInformation.Poem.Verses[1].Text
                    }
                </td>
            </tr>
            <tr>
                <td>متن اولیه</td>
                <td>پیشنهاد</td>
            </tr>
            <tr>
                <td>
                    <p class="red-color">@Model.Correction.OriginalRhythm2</p>
                </td>
                <td>
                    <p class="green-color">@Model.Correction.Rhythm2</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="radio" id="rhythm2_review_result_Approved" name="rhythm2_review_result" class="radio-approved" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.Approved">
                    <label for="rhythm2_review_result_Approved">تأیید می‌شود</label>
                    <br>
                    @if (Model.Correction.Rhythm2Result == RMuseum.Models.Ganjoor.CorrectionReviewResult.NotChanged)
                    {
                        <input type="radio" id="rhythm2_review_result_NotChanged" name="rhythm2_review_result" class="radio-notchanged" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.NotChanged" checked="checked">
                    }
                    else
                    {
                        <input type="radio" id="rhythm2_review_result_NotChanged" name="rhythm2_review_result" class="radio-notchanged" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.NotChanged">
                    }
                    <label for="rhythm2_review_result_NotChanged">تغییری نکرده</label><br>
                    <input type="radio" id="rhythm2_review_result_RejectedBecauseWrong" name="rhythm2_review_result" class="radio-notcorrect" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.RejectedBecauseWrong">
                    <label for="rhythm2_review_result_RejectedBecauseWrong">درست نیست</label><br>
                    <input type="radio" id="rhythm2_review_result_RejectedBecauseVariant" name="rhythm2_review_result" class="radio-variant" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.RejectedBecauseVariant">
                    <label for="rhythm2_review_result_RejectedBecauseVariant">مربوط به نسخهٔ دیگری است</label><br>
                    <input type="radio" id="rhythm_2review_result_RejectedBecauseUnnecessaryChange" name="rhythm2_review_result" class="radio-unnecessary" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.RejectedBecauseUnnecessaryChange">
                    <label for="rhythm2_review_result_RejectedBecauseUnnecessaryChange">تغییر سلیقه‌ای یا بی دلیل است</label><br>
                    <input type="radio" id="rhythm2_review_result_Rejected" name="rhythm2_review_result" class="radio-rejected" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.Rejected">
                    <label for="rhythm2_review_result_Rejected">به دلیل دیگری رد می‌شود</label><br>
                    @if (Model.Correction.Title != null)
                    {
                        <p>در صورت نیاز به درج یادداشت برای تغییر وزن آن را در قسمت عنوان وارد فرمایید.</p>
                    }
                    else
                    {
                        <input type="text" id="title_review_note" name="title_review_note" value="" size="50" />
                    }
                </td>
            </tr>
        }


        @if (Model.Correction.PoemSummary != null)
        {
            <tr>
                <td colspan="2">
                    خلاصه
                </td>
            </tr>
            <tr>
                <td>متن اولیه</td>
                <td>پیشنهاد</td>
            </tr>
            <tr>
                <td>
                    <p style="color:red" id="poem-summary-original">@Model.PageInformation.Poem.PoemSummary</p>
                </td>
                <td>
                    <p style="color:green" id="poem-summary-edited">@Model.Correction.PoemSummary</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p id="poem-summary-compare">@Model.PageInformation.Poem.PoemSummary</p>
                    <script>
                        $(document).ready(function () {
                            compareCorrectionBlocks('poem-summary-original', 'poem-summary-edited', 'poem-summary-compare');
                        });
                    </script>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @if (Model.Correction.SummaryReviewResult == RMuseum.Models.Ganjoor.CorrectionReviewResult.NotChanged)
                    {
                        <input type="radio" id="poem-summary_review_result_Approved" name="poem-summary_review_result" class="radio-approved" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.Approved">
                        <label for="poem-summary_review_result_Approved">تأیید می‌شود</label>

                        <br>
                        <input type="radio" id="poem-summary_review_result_NotChanged" name="poem-summary_review_result" class="radio-notchanged" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.NotChanged" checked="checked">
                    }
                    else
                    {
                        <input type="radio" id="poem-summary_review_result_Approved" name="poem-summary_review_result" class="radio-approved" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.Approved" checked="checked">
                        <label for="poem-summary_review_result_Approved">تأیید می‌شود</label>

                        <br>
                        <input type="radio" id="poem-summary_review_result_NotChanged" name="poem-summary_review_result" class="radio-notchanged" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.NotChanged">
                    }
                    <label for="poem-summary_review_result_NotChanged">تغییری نکرده</label><br>
                    <input type="radio" id="poem-summary_review_result_RejectedBecauseWrong" name="poem-summary_review_result" class="radio-notcorrect" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.RejectedBecauseWrong">
                    <label for="poem-summary_review_result_RejectedBecauseWrong">درست نیست</label><br>
                    <input type="radio" id="poem-summary_review_result_RejectedParaphraseBecauseInformal" name="poem-summary_review_result" class="radio-variant" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.RejectedBecauseVariant">
                    <label for="poem-summary_review_result_RejectedParaphraseBecauseInformal">محاوره‌ای است</label><br>
                    <input type="radio" id="poem-summary_review_result_RejectedParaphraseBecauseArtificial" name="poem-summary_review_result" class="radio-unnecessary" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.RejectedBecauseUnnecessaryChange">
                    <label for="poem-summary_review_result_RejectedParaphraseBecauseArtificial">سره است یا در آن از واژه‌های نامأنوس استفاده شده است</label><br>
                    <input type="radio" id="poem-summary_review_result_RejectedParaphraseBecauseUnfathomable" name="poem-summary_review_result" class="radio-unnecessary" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.RejectedBecauseUnnecessaryChange">
                    <label for="poem-summary_review_result_RejectedParaphraseBecauseUnfathomable">نامفهوم است</label><br>
                    <input type="radio" id="poem-summary_review_result_RejectedParaphraseBecauseContainsOwnIdeas" name="poem-summary_review_result" class="radio-unnecessary" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.RejectedBecauseUnnecessaryChange">
                    <label for="poem-summary_review_result_RejectedParaphraseBecauseContainsOwnIdeas">شامل تفسیرهای شخصی است</label><br>
                    <input type="radio" id="poem-summary_review_result_RejectedParaphraseBecauseHasServeralTypoErrors" name="poem-summary_review_result" class="radio-unnecessary" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.RejectedBecauseUnnecessaryChange">
                    <label for="poem-summary_review_result_RejectedParaphraseBecauseHasServeralTypoErrors">غلطهای تایپی و املایی زیاد دارد</label><br>
                    <input type="radio" id="poem-summary_review_result_RejectedParaphraseBecauseNotBetter" name="poem-summary_review_result" class="radio-unnecessary" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.RejectedBecauseUnnecessaryChange">
                    <label for="poem-summary_review_result_RejectedParaphraseBecauseNotBetter">از متن قبلی بهتر نیست</label><br>
                    <input type="radio" id="poem-summary_review_result_Rejected" name="poem-summary_review_result" class="radio-rejected" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.Rejected">
                    <label for="poem-summary_review_result_Rejected">به دلیل دیگری رد می‌شود</label><br>
                    <input type="text" id="poem-summary_review_note" name="poem-summary_review_note" value="" size="50" />
                </td>
            </tr>
        }

        @if (Model.Correction.VerseOrderText != null)
            @foreach (var verse in Model.Correction.VerseOrderText)
            {
                <tr>
                    <td colspan="2">
                        @if (verse.CoupletIndex == null)
                        {
                            <text>
                                مصرع @verse.VORder.ToPersianNumbers()
                            </text>
                        }
                        else
                        {
                            <text>
                                بیت <a href="@($"{Model.PageInformation.FullUrl}#bn{verse.CoupletIndex+1}")" target="_blank">@((verse.CoupletIndex + 1).ToPersianNumbers())</a>
                            </text>
                        }
                    </td>
                </tr>
                if (@verse.MarkForDelete)
                {
                    <tr>
                        <td colspan="2">
                            <p class="red-color" id="verse-original-@verse.VORder">@verse.OriginalText</p>
                        </td>
                    </tr>
                    <tr>
                        <td><p class="red-color">حذف شود</p></td>
                        <td>
                            <input type="checkbox" name="marked-for-delete-@verse.VORder" id="marked-for-delete-@verse.VORder" />
                            <label for="marked-for-delete-@verse.VORder">تأیید حذف</label>
                            <input type="text" id="verse@(verse.VORder)_review_note" name="verse@(verse.VORder)_review_note" value="" size="50" />
                        </td>
                    </tr>
                }
                else if(verse.NewVerse)
                {
                    <tr>
                        <td colspan="2">
                            مصرع جدید
                        </td>
                    </tr>
                   
                    <tr>  
                        <td colspan="2">
                            <p class="green-color" id="verse-edited-@verse.VORder">@verse.Text</p>
                        </td>
                    </tr>
                   
                    <tr>
                        <td colspan="2">
                            @if (verse.NewVerseResult == RMuseum.Models.Ganjoor.CorrectionReviewResult.NotChanged)
                            {
                                <input type="radio" id="verse@(verse.VORder)_review_result_Approved" name="verse@(verse.VORder)_review_result" class="radio-approved" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.Approved">
                                <label for="verse@(verse.VORder)_review_result_Approved">تأیید می‌شود</label>

                                <br>
                                <input type="radio" id="verse@(verse.VORder)_review_result_NotChanged" name="verse@(verse.VORder)_review_result" class="radio-notchanged" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.NotChanged" checked="checked">
                            }
                            else
                            {
                                <input type="radio" id="verse@(verse.VORder)_review_result_Approved" name="verse@(verse.VORder)_review_result" class="radio-approved" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.Approved" checked="checked">
                                <label for="verse@(verse.VORder)_review_result_Approved">تأیید می‌شود</label>

                                <br>
                                <input type="radio" id="verse@(verse.VORder)_review_result_NotChanged" name="verse@(verse.VORder)_review_result" class="radio-notchanged" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.NotChanged">
                            }
                            <label for="verse@(verse.VORder)_review_result_NotChanged">تغییری نکرده</label><br>
                            <input type="radio" id="verse@(verse.VORder)_review_result_RejectedBecauseWrong" name="verse@(verse.VORder)_review_result" class="radio-notcorrect" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.RejectedBecauseWrong">
                            <label for="verse@(verse.VORder)_review_result_RejectedBecauseWrong">درست نیست</label><br>
                            <input type="radio" id="verse@(verse.VORder)_review_result_RejectedBecauseVariant" name="verse@(verse.VORder)_review_result" class="radio-variant" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.RejectedBecauseVariant">
                            <label for="verse@(verse.VORder)_review_result_RejectedBecauseVariant">مربوط به نسخهٔ دیگری است</label><br>
                            <input type="radio" id="verse@(verse.VORder)_review_result_RejectedBecauseUnnecessaryChange" name="verse@(verse.VORder)_review_result" class="radio-unnecessary" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.RejectedBecauseUnnecessaryChange">
                            <label for="verse@(verse.VORder)_review_result_RejectedBecauseUnnecessaryChange">تغییر سلیقه‌ای یا بی دلیل است</label><br>
                            <input type="radio" id="verse@(verse.VORder)_review_result_Rejected" name="verse@(verse.VORder)_review_result" class="radio-rejected" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.Rejected">
                            <label for="verse@(verse.VORder)_review_result_Rejected">به دلیل دیگری رد می‌شود</label><br>
                            <input type="text" id="verse@(verse.VORder)_review_note" name="verse@(verse.VORder)_review_note" value="" size="50" />
                        </td>
                    </tr>
                }
                else
                {

                    <tr>
                        <td>متن اولیه</td>
                        <td>پیشنهاد</td>
                    </tr>
                    @if (verse.VersePosition != null)
                    {
                        <tr>
                            <td>متن مصرع جهت تغییر نوع:</td>
                            <td>@verse.OriginalText</td>
                        </tr>
                        <tr>
                            <td>
                                @if (verse.OriginalVersePosition != null)
                                {
                                    <text>
                                        نوع پیشین مصرع: <p class="red-color">@RMuseum.Models.Ganjoor.VersePositionHelper.GetVersePositionString((RMuseum.Models.Ganjoor.VersePosition)verse.OriginalVersePosition)</p>
                                    </text>
                                }
                            </td>
                            <td>
                                نوع پیشنهادی مصرع: <p class="green-color">@RMuseum.Models.Ganjoor.VersePositionHelper.GetVersePositionString((RMuseum.Models.Ganjoor.VersePosition)verse.VersePosition)</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="radio" id="verse-position@(verse.VORder)_review_result_Approved" name="verse-position@(verse.VORder)_review_result" class="radio-approved" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.Approved">
                                <label for="verse-position@(verse.VORder)_review_result_Approved">تأیید می‌شود</label>
                                <br>
                                @if (verse.VersePositionResult == RMuseum.Models.Ganjoor.CorrectionReviewResult.NotChanged)
                                {
                                    <input type="radio" id="verse-position@(verse.VORder)_review_result_NotChanged" name="verse-position@(verse.VORder)_review_result" class="radio-notchanged" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.NotChanged" checked="checked">
                                }
                                else
                                {
                                    <input type="radio" id="verse-position@(verse.VORder)_review_result_NotChanged" name="verse-position@(verse.VORder)_review_result" class="radio-notchanged" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.NotChanged">
                                }
                                <label for="verse-position@(verse.VORder)_review_result_NotChanged">تغییری نکرده</label><br>
                                <input type="radio" id="verse-position@(verse.VORder)_review_result_RejectedBecauseWrong" name="verse-position@(verse.VORder)_review_result" class="radio-notcorrect" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.RejectedBecauseWrong">
                                <label for="verse-position@(verse.VORder)_review_result_RejectedBecauseWrong">درست نیست</label><br>
                                <input type="radio" id="verse-position@(verse.VORder)_review_result_Rejected" name="verse-position@(verse.VORder)_review_result" class="radio-rejected" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.Rejected">
                                <label for="verse-position@(verse.VORder)_review_result_Rejected">به دلیل دیگری رد می‌شود</label><br>
                                <input type="radio" id="verse-position@(verse.VORder)_review_result_NotSuggectedByUser" name="verse-position@(verse.VORder)_review_result" class="radio-bug" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.NotSuggestedByUser">
                                <label for="verse-position@(verse.VORder)_review_result_NotSuggectedByUser">اشکال نرم‌افزار گنجور</label><br>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            <p class="red-color" id="verse-original-@verse.VORder">@verse.OriginalText</p>
                        </td>
                        <td>
                            <p class="green-color" id="verse-edited-@verse.VORder">@verse.Text</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p id="verse-compare-@verse.VORder">@verse.OriginalText</p>
                            <script>
                                $(document).ready(function() {
                                    compareCorrectionBlocks('verse-original-@verse.VORder', 'verse-edited-@verse.VORder', 'verse-compare-@verse.VORder');
                                });
                            </script>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            @if (verse.Result == RMuseum.Models.Ganjoor.CorrectionReviewResult.NotChanged)
                            {
                                <input type="radio" id="verse@(verse.VORder)_review_result_Approved" name="verse@(verse.VORder)_review_result" class="radio-approved" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.Approved">
                                <label for="verse@(verse.VORder)_review_result_Approved">تأیید می‌شود</label>

                                <br>
                                <input type="radio" id="verse@(verse.VORder)_review_result_NotChanged" name="verse@(verse.VORder)_review_result" class="radio-notchanged" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.NotChanged" checked="checked">
                            }
                            else
                            {
                                <input type="radio" id="verse@(verse.VORder)_review_result_Approved" name="verse@(verse.VORder)_review_result" class="radio-approved" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.Approved" checked="checked">
                                <label for="verse@(verse.VORder)_review_result_Approved">تأیید می‌شود</label>

                                <br>
                                <input type="radio" id="verse@(verse.VORder)_review_result_NotChanged" name="verse@(verse.VORder)_review_result" class="radio-notchanged" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.NotChanged">
                            }
                            <label for="verse@(verse.VORder)_review_result_NotChanged">تغییری نکرده</label><br>
                            <input type="radio" id="verse@(verse.VORder)_review_result_RejectedBecauseWrong" name="verse@(verse.VORder)_review_result" class="radio-notcorrect" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.RejectedBecauseWrong">
                            <label for="verse@(verse.VORder)_review_result_RejectedBecauseWrong">درست نیست</label><br>
                            <input type="radio" id="verse@(verse.VORder)_review_result_RejectedBecauseVariant" name="verse@(verse.VORder)_review_result" class="radio-variant" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.RejectedBecauseVariant">
                            <label for="verse@(verse.VORder)_review_result_RejectedBecauseVariant">مربوط به نسخهٔ دیگری است</label><br>
                            <input type="radio" id="verse@(verse.VORder)_review_result_RejectedBecauseUnnecessaryChange" name="verse@(verse.VORder)_review_result" class="radio-unnecessary" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.RejectedBecauseUnnecessaryChange">
                            <label for="verse@(verse.VORder)_review_result_RejectedBecauseUnnecessaryChange">تغییر سلیقه‌ای یا بی دلیل است</label><br>
                            <input type="radio" id="verse@(verse.VORder)_review_result_Rejected" name="verse@(verse.VORder)_review_result" class="radio-rejected" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.Rejected">
                            <label for="verse@(verse.VORder)_review_result_Rejected">به دلیل دیگری رد می‌شود</label><br>
                            <input type="text" id="verse@(verse.VORder)_review_note" name="verse@(verse.VORder)_review_note" value="" size="50" />
                        </td>
                    </tr>

                    @if(verse.CoupletSummary != null)
                    {
                        <tr>
                            <td colspan="2">
                                معنی
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="red-color" id="verse-summary-original-@verse.VORder">@verse.OriginalCoupletSummary</p>
                            </td>
                            <td>
                                <p class="green-color" id="verse-summary-edited-@verse.VORder">@verse.CoupletSummary</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <p id="verse-summary-compare-@verse.VORder">@verse.CoupletSummary</p>
                                <script>
                                    $(document).ready(function () {
                                        compareCorrectionBlocks('verse-summary-original-@verse.VORder', 'verse-summary-edited-@verse.VORder', 'verse-summary-compare-@verse.VORder');
                                    });
                                </script>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                @if (verse.SummaryReviewResult == RMuseum.Models.Ganjoor.CorrectionReviewResult.NotChanged)
                                {
                                    <input type="radio" id="verse-summary@(verse.VORder)_review_result_Approved" name="verse-summary@(verse.VORder)_review_result" class="radio-approved" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.Approved">
                                    <label for="verse-summary@(verse.VORder)_review_result_Approved">تأیید می‌شود</label>

                                    <br>
                                    <input type="radio" id="verse-summary@(verse.VORder)_review_result_NotChanged" name="verse-summary@(verse.VORder)_review_result" class="radio-notchanged" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.NotChanged" checked="checked">
                                }
                                else
                                {
                                    <input type="radio" id="verse-summary@(verse.VORder)_review_result_Approved" name="verse-summary@(verse.VORder)_review_result" class="radio-approved" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.Approved" checked="checked">
                                    <label for="verse-summary@(verse.VORder)_review_result_Approved">تأیید می‌شود</label>

                                    <br>
                                    <input type="radio" id="verse-summary@(verse.VORder)_review_result_NotChanged" name="verse-summary@(verse.VORder)_review_result" class="radio-notchanged" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.NotChanged">
                                }
                                <label for="verse-summary@(verse.VORder)_review_result_NotChanged">تغییری نکرده</label><br>
                                <input type="radio" id="verse-summary@(verse.VORder)_review_result_RejectedBecauseWrong" name="verse-summary@(verse.VORder)_review_result" class="radio-notcorrect" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.RejectedBecauseWrong">
                                <label for="verse-summary@(verse.VORder)_review_result_RejectedBecauseWrong">درست نیست</label><br>
                                <input type="radio" id="verse-summary@(verse.VORder)_review_result_RejectedParaphraseBecauseInformal" name="verse-summary@(verse.VORder)_review_result" class="radio-variant" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.RejectedBecauseVariant">
                                <label for="verse-summary@(verse.VORder)_review_result_RejectedParaphraseBecauseInformal">محاوره‌ای است</label><br>
                                <input type="radio" id="verse-summary@(verse.VORder)_review_result_RejectedParaphraseBecauseArtificial" name="verse-summary@(verse.VORder)_review_result" class="radio-unnecessary" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.RejectedBecauseUnnecessaryChange">
                                <label for="verse-summary@(verse.VORder)_review_result_RejectedParaphraseBecauseArtificial">سره است یا در آن از واژه‌های نامأنوس استفاده شده است</label><br>
                                <input type="radio" id="verse-summary@(verse.VORder)_review_result_RejectedParaphraseBecauseUnfathomable" name="verse-summary@(verse.VORder)_review_result" class="radio-unnecessary" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.RejectedBecauseUnnecessaryChange">
                                <label for="verse-summary@(verse.VORder)_review_result_RejectedParaphraseBecauseUnfathomable">نامفهوم است</label><br>
                                <input type="radio" id="verse-summary@(verse.VORder)_review_result_RejectedParaphraseBecauseContainsOwnIdeas" name="verse-summary@(verse.VORder)_review_result" class="radio-unnecessary" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.RejectedBecauseUnnecessaryChange">
                                <label for="verse-summary@(verse.VORder)_review_result_RejectedParaphraseBecauseContainsOwnIdeas">شامل تفسیرهای شخصی است</label><br>
                                <input type="radio" id="verse-summary@(verse.VORder)_review_result_RejectedParaphraseBecauseHasServeralTypoErrors" name="verse-summary@(verse.VORder)_review_result" class="radio-unnecessary" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.RejectedBecauseUnnecessaryChange">
                                <label for="verse-summary@(verse.VORder)_review_result_RejectedParaphraseBecauseHasServeralTypoErrors">غلطهای تایپی و املایی زیاد دارد</label><br>
                                <input type="radio" id="verse-summary@(verse.VORder)_review_result_RejectedParaphraseBecauseNotBetter" name="verse-summary@(verse.VORder)_review_result" class="radio-unnecessary" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.RejectedBecauseUnnecessaryChange">
                                <label for="verse-summary@(verse.VORder)_review_result_RejectedParaphraseBecauseNotBetter">از متن قبلی بهتر نیست</label><br>
                                <input type="radio" id="verse-summary@(verse.VORder)_review_result_Rejected" name="verse-summary@(verse.VORder)_review_result" class="radio-rejected" value="@RMuseum.Models.Ganjoor.CorrectionReviewResult.Rejected">
                                <label for="verse-summary@(verse.VORder)_review_result_Rejected">به دلیل دیگری رد می‌شود</label><br>
                                <input type="text" id="verse-summary@(verse.VORder)_review_note" name="verse-summary@(verse.VORder)_review_note" value="" size="50" />
                            </td>
                        </tr>
                    }
                }

            }
        @if (!string.IsNullOrEmpty(Model.Correction.Note))
        {
            <tr>
                <td>یادداشت:</td>
                <td>
                    @Model.Correction.Note
                </td>
            </tr>
        }

        <tr>
            <td colspan=2>
                <a role="button" onclick="checkAllCorrect()" class="pagebutton">همه درست</a>
            </td>
        </tr>






    </table>
}
