@page
@model GanjooRazor.Areas.Admin.Pages.ReviewEditsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using DNTPersianUtils.Core
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "بازبینی ویرایش‌ها";
}

<h1>@ViewData["Title"]</h1>
@if (!string.IsNullOrEmpty(Model.FatalError))
{
    <p>@Model.FatalError</p>
}
else if (@Model.Correction == null)
{
    <p>ویرایشی وجود ندارد.</p>
}
else
{
    <p><a role="button" target="_blank" href="@Model.PageInformation.FullUrl" class="actionlink">@Model.PageInformation.FullTitle</a></p>

    <table>
        @if (Model.Correction.Title != null)
        {
            <tr>
                <td colspan="2">
                    عنوان
                </td>
            </tr>
            <tr>
                <td>متن اولیه</td>
                <td>پیشنهاد</td>
            </tr>
            <tr>
                <td>
                    <p style="color:red">@Model.Correction.OriginalTitle</p>
                </td>
                <td>
                    <p style="color:green">@Model.Correction.Title</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="radio" id="title_review_result_Approved" name="title_review_result" value="Approved">
                    <label for="title_review_result_Approved">تأیید می‌شود</label><br>
                    @if (Model.Correction.Result == RMuseum.Models.Ganjoor.CorrectionReviewResult.NotChanged)
                    {
                        <input type="radio" id="title_review_result_NotChanged" name="title_review_result" value="NotChanged" checked="checked">
                    }
                    else
                    {
                        <input type="radio" id="title_review_result_NotChanged" name="title_review_result" value="NotChanged">
                    }
                    <label for="title_review_result_NotChanged">تغییری نکرده</label><br>
                    <input type="radio" id="title_review_result_RejectedBecauseWrong" name="title_review_result" value="RejectedBecauseWrong">
                    <label for="title_review_result_RejectedBecauseWrong">درست نیست</label><br>
                    <input type="radio" id="title_review_result_RejectedBecauseVariant" name="title_review_result" value="RejectedBecauseVariant">
                    <label for="title_review_result_RejectedBecauseVariant">مربوط به نسخهٔ دیگری است</label><br>
                    <input type="radio" id="title_review_result_RejectedBecauseUnnecessaryChange" name="title_review_result" value="RejectedBecauseUnnecessaryChange">
                    <label for="title_review_result_RejectedBecauseUnnecessaryChange">تغییر سلیقه‌ای یا بی دلیل است</label><br>
                    <input type="radio" id="title_review_result_Rejected" name="title_review_result" value="Rejected">
                    <label for="title_review_result_Rejected">به دلیل دیگری رد می‌شود</label><br>
                    <input type="text" id="title_review_note" name="title_review_note" value="" size="50" />
                </td>
            </tr>
        }
        @if (Model.Correction.Rhythm != null)
        {
            <tr>
                <td colspan="2">
                    وزن
                </td>
            </tr>
            <tr>
                <td>متن اولیه</td>
                <td>پیشنهاد</td>
            </tr>
            <tr>
                <td>
                    <p style="color:red">@Model.Correction.OriginalRhythm</p>
                </td>
                <td>
                    <p style="color:green">@Model.Correction.Rhythm</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="radio" id="rhythm_review_result_Approved" name="rhythm_review_result" value="Approved">
                    <label for="rhythm_review_result_Approved">تأیید می‌شود</label><br>
                    @if (Model.Correction.RhythmResult == RMuseum.Models.Ganjoor.CorrectionReviewResult.NotChanged)
                    {
                        <input type="radio" id="rhythm_review_result_NotChanged" name="rhythm_review_result" value="NotChanged" checked="checked">
                    }
                    else
                    {
                        <input type="radio" id="rhythm_review_result_NotChanged" name="rhythm_review_result" value="NotChanged">
                    }
                    <label for="rhythm_review_result_NotChanged">تغییری نکرده</label><br>
                    <input type="radio" id="rhythm_review_result_RejectedBecauseWrong" name="rhythm_review_result" value="RejectedBecauseWrong">
                    <label for="rhythm_review_result_RejectedBecauseWrong">درست نیست</label><br>
                    <input type="radio" id="rhythm_review_result_RejectedBecauseVariant" name="rhythm_review_result" value="RejectedBecauseVariant">
                    <label for="rhythm_review_result_RejectedBecauseVariant">مربوط به نسخهٔ دیگری است</label><br>
                    <input type="radio" id="rhythm_review_result_RejectedBecauseUnnecessaryChange" name="rhythm_review_result" value="RejectedBecauseUnnecessaryChange">
                    <label for="rhythm_review_result_RejectedBecauseUnnecessaryChange">تغییر سلیقه‌ای یا بی دلیل است</label><br>
                    <input type="radio" id="rhythm_review_result_Rejected" name="rhythm_review_result" value="Rejected">
                    <label for="rhythm_review_result_Rejected">به دلیل دیگری رد می‌شود</label><br>
                    @if (Model.Correction.Title != null)
                    {
                        <p>در صورت نیاز به درج یادداشت برای تغییر وزن آن را در قسمت عنوان وارد فرمایید.</p>
                    }
                    else
                    {
                        <input type="text" id="title_review_note" name="title_review_note" value="" size="50" />
                    }
                </td>
            </tr>
        }
        @if (Model.Correction.VerseOrderText != null)
            @foreach (var verse in Model.Correction.VerseOrderText)
            {
                <tr>
                    <td colspan="2">
                        مصرع @verse.VORder.ToPersianNumbers()
                    </td>
                </tr>
                <tr>
                    <td>متن اولیه</td>
                    <td>پیشنهاد</td>
                </tr>
                <tr>
                    <td>
                        <p style="color:red" id="verse-original-@verse.VORder">@verse.OriginalText</p>
                    </td>
                    <td>
                        <p style="color:green" id="verse-edited-@verse.VORder">@verse.Text</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p id="verse-compare-@verse.VORder">@verse.OriginalText</p>
                        <script>
                            $(document).ready(function () {
                                compareCorrectionBlocks('verse-original-@verse.VORder', 'verse-edited-@verse.VORder', 'verse-compare-@verse.VORder');
                            });
                        </script>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="radio" id="verse@(verse.VORder)_review_result_Approved" name="verse@(verse.VORder)_review_result" value="Approved">
                        <label for="verse@(verse.VORder)_review_result_Approved">تأیید می‌شود</label><br>
                        @if (verse.Result == RMuseum.Models.Ganjoor.CorrectionReviewResult.NotChanged)
                        {
                            <input type="radio" id="verse@(verse.VORder)_review_result_NotChanged" name="verse@(verse.VORder)_review_result" value="NotChanged" checked="checked">
                        }
                        else
                        {
                            <input type="radio" id="verse@(verse.VORder)_review_result_NotChanged" name="verse@(verse.VORder)_review_result" value="NotChanged">
                        }
                        <label for="verse@(verse.VORder)_review_result_NotChanged">تغییری نکرده</label><br>
                        <input type="radio" id="verse@(verse.VORder)_review_result_RejectedBecauseWrong" name="verse@(verse.VORder)_review_result" value="RejectedBecauseWrong">
                        <label for="verse@(verse.VORder)_review_result_RejectedBecauseWrong">درست نیست</label><br>
                        <input type="radio" id="verse@(verse.VORder)_review_result_RejectedBecauseVariant" name="verse@(verse.VORder)_review_result" value="RejectedBecauseVariant">
                        <label for="verse@(verse.VORder)_review_result_RejectedBecauseVariant">مربوط به نسخهٔ دیگری است</label><br>
                        <input type="radio" id="verse@(verse.VORder)_review_result_RejectedBecauseUnnecessaryChange" name="verse@(verse.VORder)_review_result" value="RejectedBecauseUnnecessaryChange">
                        <label for="verse@(verse.VORder)_review_result_RejectedBecauseUnnecessaryChange">تغییر سلیقه‌ای یا بی دلیل است</label><br>
                        <input type="radio" id="verse@(verse.VORder)_review_result_Rejected" name="verse@(verse.VORder)_review_result" value="Rejected">
                        <label for="verse@(verse.VORder)_review_result_Rejected">به دلیل دیگری رد می‌شود</label><br>
                        <input type="text" id="verse@(verse.VORder)_review_note" name="verse@(verse.VORder)_review_note" value="" size="50" />
                    </td>
                </tr>
            }
        @if (!string.IsNullOrEmpty(Model.Correction.Note))
        {
            <tr>
                <td>یادداشت:</td>
                <td>
                    @Model.Correction.Note
                </td>
            </tr>
        }

    <tr>
        <td>
            <button type="submit" name="review" id="review" style="width:100%;color:white;background-color:green">بررسی</button>
        </td>
        <td>
            <button type="submit" name="next" id="next" style="width:100%;color:white;background-color:orange">بعدی</button>
        </td>
    </tr>

        <tr>
            <td>
                تعداد کل:
            </td>
            <td>
                @Model.TotalCount
            </td>
        </tr>


    </table>
}
